// --------------------------------------------------
// Foundation overrides (custom)
// --------------------------------------------------


// legend (forms heading)
legend{
  font-size: rem-calc(14);
  line-height: 1.8;
  font-weight: $global-weight-bold;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
  line-height: inherit;
  display: block;
  font-family: $body-font-family;
  font-weight: 100;
}

h3 small{
  font-size: rem-calc(18);
}