{{> header}}
<body class="page-conduct">
    {{> nav support=true}}
    <div class="content-wrapper">
    <!--section start-->
    <section class="faq-wrapper" id="conduct-section">
        <div class="entry">
          <div class="row align-center">
            <div class="column medium-6 small-12 add-padding-right">
              <div class="hide-for-medium mobile-header-content">
                <h5>Code of Conduct</h5>
                <h2>The Adobe Summit and Magento Imagine conference is dedicated to providing a harassment-free event for everyone.</h2>
              </div>
              <div id="coc-img">
                <div class="anim-subtle-left img-responsive">
                  <img src="/assets/img/community-img.jpg" class="img-responsive">
                </div>
              </div>
            </div>
            <div class="column medium-6 small-12 add-padding-left">
              <div class="show-for-medium">
                <h5>Code of Conduct</h5>
                <h2>The Adobe Summit and Magento Imagine conference is dedicated to providing a harassment-free event for everyone.</h2>
              </div>
              <div class="coc">                
                <p>We do not tolerate harassment or abusive behavior to anyone including attendees, speakers, and conference staff. We ask that all participants support this atmosphere. Anyone found to be violating our conference rules can be expelled at the discretion of organizers without a refund.
                <br><br>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
                <br><br>Participants asked to stop any harassing behavior are expected to comply immediately.
                <br><br>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately by finding a staff member via their badge, by visiting the registration area, or by visiting the information desk in the lobby.
                <br><br>Phone number or email from security Conference staff will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference.</p>
            </div>
        </div>
        </div>
    </div>
  </section>
{{> footer-new}}