.page-home {
	.site-container {
		height: 100vh;
		@include breakpoint(414px down) {
			height: calc(100vh - 50px);
		}

		.content-wrapper {
			height: 100%;

			@include breakpoint(small down) {
				padding-top: 0;
			}
		}
	}
	.homepage-content-wrapper {
		height: 100%;
		/*
    padding-top: 40px;
		padding-bottom: 58px;
		*/

		@include breakpoint(small down) {
			padding-top: 0;
			padding-bottom: 0;
		}

		.disable-slide-effect {
			width: 0;

			@media screen and (max-width: 812px) and (max-height: 420px) {
				/* disable slide */
				width: 1px;
			}
			@media screen and (max-width: 740px) and (max-height: 419px) {
				/* disable slide */
				width: 1px;
			}
			@media screen and (max-width: 420px) and (max-height: 667px) {
				/* disable slide */
				width: 1px;
			}
		}

		.homepage-controls-wrapper {
			position: absolute;
			top: 50%;
			right: -114px;
			width: 275px;
			color: $summit-grey;
			font-weight: 700;
			transform: rotate(90deg);
			padding: 10px 0;
    	text-align: center;

			&:before {
				content: "";
				position: absolute;
				top: 0;
				width: 120px;
				margin: 0 auto;
				left: 0;
				right: 0;
				height: 5px;
				background: #31AFD4;
			}

			.page-indicator {
				display: inline-block;

				.page-indicator-cur {
					display: inline-block;
    			min-width: 10px;
				}
			}
			.page-controls {
				display: inline-block;
				margin: 0 30px;

				a {
					color: $summit-grey;
					padding: 0 5px;

					&:hover,
					&:active,
					&.active {
						color: $summit-lightgrey;

						img {
							&.circle-active {
								display: inline-block;
							}
							&.circle-inactive {
								display: none;
							}
						}
					}

					img {
						margin-bottom: 2px;

						&.circle-active {
							display: none;
						}
					}
				}
			}
			.page-arrows {
				display: inline-block;

				a {
					color: $summit-grey;

					&:hover, &:active {
						color: $summit-lightgrey;

						&.prev {
							background-image: url(/assets/img/homepage/arrow-prev-active.png);
						}
						&.next {
							background-image: url(/assets/img/homepage/arrow-next-active.png);
						}
					}

					&.prev {
						background-image: url(/assets/img/homepage/arrow-prev-inactive.png);
						background-size: 10px 6px;
						background-repeat: no-repeat;
						background-position: center;
						width: 10px;
						height: 6px;
						display: inline-block;
						transform: rotate(-90deg);
						padding: 10px;
						vertical-align: bottom;
						transition: background-image 0.2s linear;
					}

					&.next {
						background-image: url(/assets/img/homepage/arrow-next-inactive.png);
						background-size: 10px 6px;
						background-repeat: no-repeat;
						background-position: center;
						width: 10px;
						height: 6px;
						display: inline-block;
						transform: rotate(-90deg);
						padding: 10px;
						vertical-align: bottom;
						transition: background-image 0.2s linear;
					}
				}
			}
		}
		.homepage-content {
			display: none;
			color: $summit-white;
			/* max-width: 1280px; */
			height: 100%;
			margin: 0 auto;
			overscroll-behavior: none;

			.marquee {
				// height: 100%;
				// background-position: top center;
				// background-repeat: no-repeat;
				// background-size: cover;

				@include breakpoint(small down) {
					background-size: auto;
				}
			}

			&.hpc1 {
				background-image: url(/assets/img/homepage/banner.png);
				background-position: top center;
				background-repeat: no-repeat;
				background-size: cover;
				@include breakpoint(small down) {
					background-position-x: 65%;
				}
				@media screen and (max-width: 590px) {
					background-image: url(/assets/img/homepage/mobile-background.jpg);
					background-position: top;
					background-size: contain;
				}
				display: block;
				position: relative;
				.wrapper {
					max-width: 1440px;
					width: 100%;
					margin: 0 auto;
				}
				.marquee {
					.marquee-content {
						width: 600px;
						bottom: 140px;
						left: 0;
						right: 0;
						// margin-left: 170px;
						transform: none;
						@include breakpoint(1150px down) {
							margin: 0 auto;
							bottom: 50%;
						}
						@include breakpoint(small down) {
							bottom: 23%;
							margin-left: 50px;
							margin-right: 50px;
							width: auto;
						}
						@media screen and (max-width: 420px) and (max-height: 812px) {
							bottom: 28%;
						}
						@media screen and (max-width: 420px) and (max-height: 667px) {
							bottom: 32%;
						}

						h1 {
							color: $summit-white;
							font-size: 40px;
							font-weight: 300;
							margin-bottom: 20px;
							letter-spacing: 0.02em;
							line-height: 36px;
							@include breakpoint(small down) {
							font-size: 26px;
    						line-height: 28px;
							}

							@media screen and (max-width: 420px) and (max-height: 812px) {
								font-size: 20px;
								line-height: 24px;
								margin-bottom: 10px;
							}
						}
						h3 {
							color: #c7c7c7;
							font-size: 24px;
							font-weight: 700;
							margin-bottom: 12px;
							line-height: 24px;
    						letter-spacing: 0.01em;
							@include breakpoint(small down) {
								font-size: 18px;
    							line-height: 22px;
							}
							@media screen and (max-width: 420px) and (max-height: 812px) {
								font-size: 16px;
    							line-height: 20px;
							}

							span {
								font-weight: 400;
								letter-spacing: 0.02em;
								line-height: 22px;

								@include breakpoint(small down) {
									font-size: 18px;
								}
							}
						}
						h5 {
							/* color: $summit-orange; */
							font-family: $body-font-family;
							color: #FAC76C;
							font-size: 18px;
							font-weight: 400;
							margin-bottom: 30px;
							letter-spacing: 0.02em;
    						line-height: 22px;
    						a {
    							color: #F9C76C;
    							text-decoration: underline;
    							font-weight: 700;
    						}

							@include breakpoint(small down) {
								font-size: 16px;
								line-height: 20px;
							}
						}
					}
				}

				.home-circles-max {
					max-width: 1440px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					width: 100%;
					bottom: 0;
					margin: 0 auto;

					.home-circles-wrapper {
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						width: 400px;
						text-align: center;

						@include breakpoint(1150px down) {
							right: 0;
							left: 0;
							width: 100%;
						}

						>.vert-align {
							height: 90%;
							@include breakpoint(1150px down) {
								align-items: flex-end;
								> div {
									margin-bottom: 70px;
									display: flex;
									align-items: flex-end;
								}
							}
						}

						.home-circle-magento {
							width: 290px;
							height: 290px;
							background: green;
							border-radius: 50%;
							margin: 0 auto;
							// background: transparent linear-gradient(90deg, #F78636 0%, #FD8734 100%) 0% 0% no-repeat padding-box;
							background-image: url('/assets/img/homepage/home-circle-magento.png');
							background-repeat: no-repeat;
							background-size: cover;
							@include breakpoint(1150px down) {
								margin-right: 10px;
							}
							@include breakpoint(small down) {
								height: 138px;
								width: 138px;
							}
							h4 {
								font-family: $body-font-family;
								font-size: 22px;
								font-weight: 700;
								line-height: 26px;
								letter-spacing: 0.02em;
								margin-bottom: 10px;

								@include breakpoint(small down) {
									font-size: 14px;
									line-height: 18px;
								}
							}

							.divider {
								width: 28px;
								height: 1px;
								background: $summit-textblack;
								margin: 0 auto;
							}

							p {
								font-size: 16px;
								line-height: 20px;
								letter-spacing: 0.02em;
								color: $summit-white;
								width: 180px;
								margin: 0 auto;
								margin-top: 10px;

								@include breakpoint(small down) {
									font-size: 14px;
									line-height: 22px;
								}
							}
						}
						.home-circle-marketo {
							width: 290px;
							height: 290px;
							background: $summit-textblack;
							border-radius: 50%;
							margin: 0 auto;
							margin-top: 50px;
							border: 4px solid $summit-lightpurple;
							@include breakpoint(1150px down) {
								margin-left: 10px;
								margin-top: 0;
							}
							@include breakpoint(small down) {
								height: 138px;
								width: 138px;
							}
							h4 {
								font-family: $body-font-family;
								font-size: 22px;
								font-weight: 700;
								line-height: 26px;
								letter-spacing: 0.02em;
								margin-bottom: 10px;
								text-transform: uppercase;

								@include breakpoint(small down) {
									font-size: 14px;
									line-height: 18px;
								}
							}

							.divider {
								width: 28px;
								height: 1px;
								background: $summit-lightpurple;
								margin: 0 auto;
							}

							p {
								font-size: 16px;
								line-height: 20px;
								letter-spacing: 0.02em;
								color: $summit-white;
								width: 180px;
								margin: 0 auto;
								margin-top: 10px;

								@include breakpoint(small down) {
									font-size: 14px;
									line-height: 22px;
								}
							}
						}
					}
				}

			}

			&.hpc2 {
				max-width: 1280px;
				padding-left: 0;
				padding-right: 0;
			}

			&.hpc3 {
				max-width: 1280px;
				padding-left: 43px;
				padding-right: 43px;

				@include breakpoint(small down) {
					padding-left: 0;
					padding-right: 0;
				}

				.homepage-sessions-wrapper {
					padding-top: 70px;
					padding-bottom: 70px;
					@media screen and(min-width: 769px) {
						top: 10%;
					}
					@include breakpoint(small down) {
						/* padding-top: 10px; */
						padding-top: 60px;
					}

					.slide-content {
						top: 260px;

						@include breakpoint(1323px down) {
							left: 43px;
						}

						@include breakpoint(small down) {
							left: 0;
							right: 0;
							bottom: 0 !important;
							top: auto;
							margin: 0 auto;
						}

						@include breakpoint(414px down) {
							bottom: 80px;
						}
						@include breakpoint(375px down) {
							bottom: 40px;
						}

						p {
							@include breakpoint(small down) {
							}
						}
					}
				}
			}

			&.hpc4 {
				max-width: 1366px;
				padding-left: 43px;
				padding-right: 43px;

				@include breakpoint(small down) {
					padding-left: 0;
					padding-right: 0;
				}
			}

			&.hpc6 {
				.homepage-community-wrapper {
					.community-content-right {
						@include breakpoint(414px down) {
							bottom: 80px;
						}
						@include breakpoint(375px down) {
							bottom: 40px;
						}
					}
				}
			}

			&.hpc7 {
				max-width: 1366px;
				padding-left: 43px;
				padding-right: 43px;

				@include breakpoint(small down) {
					padding-left: 0;
					padding-right: 0;
				}
			}

			.homepage-speakers-wrapper {
				text-align: center;

				@include breakpoint(small down) {
					position: relative;
					padding-top: 310px;
					padding-left: 20px;
					padding-right: 45px;
					height: 100%;
				}

				@media screen and (max-width: 420px) and (max-height: 812px) {
					/* padding-top: 180px; */
					padding-top: 250px;
				}

				.small-speakers-set-1,
				.small-speakers-set-2 {
					display: none;
				}

				.speaker {
					text-align: center;
					display: inline-block;
					padding: 0 5px;

					@include breakpoint(873px down) {
						&.hide-small {
							display: none;
						}
					}

					@include breakpoint(small down) {
						padding: 0;
						padding-bottom: 10px;
						width: 49%;

						&.small-left {
							padding-right: 5px;
						}
						&.small-right {
							padding-left: 5px;
						}
					}

					.speaker-image {
						width: 164px;
						height: 164px;
						background-position: top center;
						background-size: cover;
						background-repeat: no-repeat;
						margin: 0 auto;
						@include breakpoint(1196px down) {
							width: 155px;
							height: 155px;
						}
						@include breakpoint(1074px down) {
							width: 150px;
							height: 150px;
						}
						@include breakpoint(954px down) {
							width: 120px;
							height: 120px;
						}
						@include breakpoint(small down) {
							width: 130px;
							height: 130px;
						}
						@media screen and (max-width: 420px) and (max-height: 667px) {
							width: 120px;
							height: 120px;
						}


						&.speaker-pallavi {
							background-image: url(../img/pallavi-sighn.png);
						}
						&.speaker-biswa {
							background-image: url(../img/biswa-rath.png);
						}
						&.speaker-falguni {
							background-image: url(../img/falguni-nadar.png);
						}
						&.speaker-ambareesh {
							background-image: url(../img/ambareesh-murty.png);
						}

						&.speaker-kavita {
							background-image: url(../img/kavita-nair.png);
						}
						&.speaker-boman {
							background-image: url(../img/boman-irani.png);
						}
						&.speaker-paul {
							background-image: url(../img/paul-davies.png);
						}
						&.speaker-ab {
							background-image: url(../img/ab-gaur.png);
						}

					}

					.speaker-info {
						padding-top: 15px;
						display: inline-block;
						vertical-align: top;
						h4 {
							font-size: 20px;
							font-weight: 800;
							color: #fff;
							margin-bottom: 0;
							letter-spacing: 0.02em;
    					line-height: 22px;

							@include breakpoint(small down) {
								font-size: 16px;
							}
						}
						p {
							font-size: 14px;
							color: $summit-textgrey;
							margin-bottom: 0;
							letter-spacing: 0.02em;
	    					line-height: 18px;
    						margin: 5px 0 0 0;

							@include breakpoint(small down) {
								font-size: 12px;
							}
						}
					}
				}

				.clear {
					display: block;
					height: 30px;

					@media screen and (max-width: 420px) and (max-height: 736px) {
						height: 0;
					}
				}

				.slide-content {
					@include breakpoint(small down) {
						top: 118px;
						left: 0;
						right: 0;
						margin: 0 auto;
						position: absolute;
					}

					@media screen and (max-width: 420px) and (max-height: 812px) {
						/* top: 10px; */
						top: 60px;
					}

					h1 {
						@include breakpoint(small down) {
							font-size: 32px;
						}
					}

					p {
						@include breakpoint(small down) {
							width: auto;
							font-weight: 400;
						}
					}
				}
			}

			.homepage-sessions-wrapper {
				position: relative;
				height: 100%;
				padding-top: 30px;

				@include breakpoint(small down) {
					padding-top: 60px;
				}

				.slide-content {
					position: absolute;
					bottom: 50px;
					left: 0;

					@include breakpoint(small down) {
						left: auto;
						right: 45px;
						bottom: 0;
						top: 390px;
					}

					.content-title {
						/* color: $summit-textorange; */
					}

					p {
						width: auto;

						a {
							text-decoration: underline;
						}
					}
					.sessions-list {
						font-size: 14px;
						line-height: 20px;
						color: $summit-lightgrey;
					}
				}

				.marquee-sessions {
					background-image: url(../img/exp-banner.png);
					background-position: top center;
					background-size: cover;
					// background-repeat: no-repeat;
					height: 100%;
					margin-left: 320px;

					@include breakpoint(small down) {
						margin: 0 55px 0 0;
						height: 380px;
					}

					@media screen and (max-width: 420px) and (max-height: 812px) {
						height: 280px;
					}
					@media screen and (max-width: 420px) and (max-height: 736px) {
						height: 230px;
					}
					@media screen and (max-width: 420px) and (max-height: 667px) {
						height: 160px;
					}
				}
			}

			.homepage-connect-wrapper {
				position: relative;
				height: 100%;

				.connect-content-left {
					margin-right: 295px;
					height: 100%;
					position: relative;
					padding-top: 40px;
					@include breakpoint(small down) {
						margin-right: 0;
					}
				
				}

				.slide-content {
					width: 245px;
					width: 245px;
					position: absolute;
					top: 45%;
					right: 0;

					@include breakpoint(small down) {
						top: 70px;
						left: 0;
						margin: 0 auto;
						width: 260px;
					}
					.content-title {
						/* color: $summit-textorange; */
					}
					h1 {
						@include breakpoint(small down) {
							font-size: 32px;
						}
					}
					p {
						width: auto;
						@include breakpoint(small down) {
							font-size: 14px;
							font-weight: 400;
						}
						a {
							text-decoration: underline;
						}
					}
				}
			}

			.homepage-brands-wrapper {
				height: 100%;
				position: relative;
				padding-top: 70px;
				// padding-left: 43px;
				padding-bottom: 70px;

				@include breakpoint(small down) {
					/* padding-top: 20px; */
					// padding-top: 60px;
					// margin-left: 20px;
					// margin-right: 45px;
				}

				.marquee-brands {
					background-image: url(../img/sponsor-banner.png);
					background-position: top center;
					background-size: cover;
					background-repeat: no-repeat;
					height: 451px;
					max-width: 640px;
					width: 100% !important;
					display: inline-block;
					margin: 0 50px 0 0;

					@include breakpoint(1430px down) {
						width: 800px;
					}
					@include breakpoint(1320px down) {
						width: 700px;
					}
					@include breakpoint(1230px down) {
						width: 600px;
					}

					@include breakpoint(1120px down) {
						width: 500px;
					}

					@include breakpoint(1024px down) {
						width: 450px;
					}

					@include breakpoint(970px down) {
						width: 400px;
					}

					@include breakpoint(915px down) {
						width: 350px;
					}

					@include breakpoint(860px down) {
						width: 300px;
					}

					@include breakpoint(815px down) {
						background-size: cover;
						width: 100%;
					}

					@include breakpoint(small down) {
						max-height: 260px;
						background-size: cover;
						width: 100%;
					}

					@media screen and (max-width: 420px) and (max-height: 812px) {
						max-height: 280px;
					}

					@media screen and (max-width: 420px) and (max-height: 736px) {
						width: 100%;
						margin: 0 auto;
						max-width: 375px;
						display: block;
						max-height: 210px;
					}

					@media screen and (max-width: 420px) and (max-height: 667px) {
						max-height: 150px;
					}
				}

				.brands-content-right {
					display: inline-block;
					width: 100%;
					vertical-align: top;
					height: 100%;
					padding-left: 30px;

					@include breakpoint(small down) {
						margin: 15px auto;
						max-width: 345px;
						width: 100%;
						display: block;
						height: initial;
						padding: 0;
					}

					.slide-content {
						width: auto;

						.content-title {
							/* color: $summit-yellow; */
						}

						h1 {
							@include breakpoint(small down) {
								font-size: 32px;
							}
						}

						p {
							width: auto;

							@include breakpoint(small down) {
								font-size: 14px;
							}
						}
					}

					.brands {
						text-align: center;
						margin-top: 40px;

						@include breakpoint(small down) {
							margin-top: 24px;
						}

						.small-brands-set-1,
						.small-brands-set-2 {
							display: none;
						}

						.vert-align {
							padding-bottom: 30px;

							@include breakpoint(small down) {
								padding-bottom: 20px;

								img {
									max-height: 60px;
								}
							}
						}

					}
				}
			}

			.homepage-community-wrapper {
				position: relative;
				height: 100%;
				max-width: 1460px;
				margin: 0 auto;
				@include breakpoint(small down) {
					padding-top: 20px;
					margin-right: 50px;
				}

				.community-circle {
					display: inline-block;
					background: transparent linear-gradient(212deg, #2BA94D 0%, #3FBA8F 100%) 0% 0% no-repeat padding-box;
					@include border-radius(50%);
					background-position: top center;
					background-size: cover;
					background-repeat: no-repeat;
					height: 400px;
					width: 400px;
					position: absolute;
			  		top: 260px;
			  		left: 110px;
					@include breakpoint(901px down) {
						height: 380px;
						width: 380px;
					}

					@include breakpoint(831px down) {
						height: 320px;
						width: 320px;
					}

					@include breakpoint(small down) {
						width: 240px;
						height: 240px;
						top: 70px;
						left: -20px;
					}

					@media screen and (max-width: 420px) and (max-height: 812px) {
						top: 70px;
						z-index: -1;
					}

					.circle-content {
						text-align: center;
						width: 70%;

						@include breakpoint(small down) {
							width: 72%;
						}

						img {
							@include breakpoint(small down) {
								width: 36px;
							}
						}

						h4 {
							color: $summit-textblack;
							font-size: 30px;
    						margin-top: 40px;
							margin-bottom: 30px;
							letter-spacing: 0.02em;
    						line-height: 32px;
    						font-weight: 700;
							@include breakpoint(831px down) {
								font-size: 20px;
    						line-height: 24px;
							}

							@include breakpoint(small down) {
								font-size: 18px;
								line-height: 22px;
								margin-top: 20px;
								margin-bottom: 15px;
							}
						}

						p {
							letter-spacing: 0.05em;
							line-height: 22px;
							font-weight: 700;

							@include breakpoint(small down) {
								font-size: 12px;
							}
						}
					}
				}

				.community-1 {
					display: inline-block;
					background-image: url(../img/community.png);
					background-position: top center;
					background-size: cover;
					background-repeat: no-repeat;
					height: 400px;
					width: 565px;
					position: absolute;
					left: 0;
					right: 0;
					top: 60px;
					z-index: -1;
					margin: 0 auto;

					@include breakpoint(1201px down) {
						height: 380px;
						width: 380px;
						top: 10px;
					}

					@include breakpoint(small down) {
						width: 180px;
						height: 150px;
						top: 298px;
						left: 155px;
					}

					@media screen and (max-width: 420px) and (max-height: 812px) {
						top: 243px;
					}
				}

				.community-content-right {
					display: inline-block;
					position: absolute;
					top: 50px;
					right: 75px;

					@include breakpoint(small down) {
						width: 307px;
						left: 0;
						right: 0;
						bottom: auto;
    					top: 480px;
						margin: 0 auto;
					}

					@media screen and (max-width: 420px) and (max-height: 812px) {
						bottom: -20px;
						top: auto;
					}

					.slide-content {
						width: 340px;

						@include breakpoint(small down) {
							width: auto;
						}

						.content-title {
							/* color: $summit-yellow; */
						}

						h1 {
							@include breakpoint(small down) {
								font-size: 32px;
							}
						}

						p {
							width: auto;

							@include breakpoint(small down) {
								font-size: 14px;
								font-weight: 400;
							}

							.inline {
								text-decoration: underline;
							}
						}
					}
				}
			}

			.homepage-footer-wrapper {
				position: relative;
				height: 100%;

				.row {
					width: 100%;
				}

				.sponsors-row {
					display: none;

					h5 {
						font-family: $body-font-family;
						font-size: 18px;
						font-weight: 700;
						color: #fff;
						letter-spacing: 0.05em;
    				line-height: 36px;
					}

					.sponsor {
						width: 165px;
						height: 100px;
						display: inline-block;
						background: $summit-white;
						margin-bottom: 10px;

						&.center {
							margin-left: 10px;
							margin-right: 10px;
						}
					}
				}

				.footer-links {
					color: #fff;
					margin-top: 70px;

					@include breakpoint(small down) {
						position: relative;
						margin-top: 35px;
						padding: 0 45px 0 20px;
					}

					@media screen and (max-width: 420px) and (max-height: 812px) {
						margin-top: 10px;
					}

					.accordion-footer {
						margin-top: 10px;
						margin-bottom: 0;

						&.add-btm-margin {
							margin-bottom: 10px;
						}

						.accordion-item {
							margin-bottom: 0;

							.accordion-title {
								color: #fff !important;
								font-size: 18px;
								font-weight: 700;
								text-transform: uppercase;
								letter-spacing: 0.05em;
								line-height: 28px;

								&.actitle-connect {
									line-height: 22px;

									@media screen and (max-width: 410px) and (max-height: 812px) {
										display: inline;

										&:before {
											right: -35px;
										}
									}

									@media screen and (max-width: 420px) and (max-height: 736px) {
										&:before {
											right: -10px;
										}
									}

									@media screen and (max-width: 420px) and (max-height: 667px) {
										&:before {
											right: -24px;
										}
									}
								}

								&.actitle-region {
									line-height: 22px;

									@media screen and (max-width: 410px) and (max-height: 812px) {
										display: inline;

										&:before {
											right: -23px;
										}
									}

									@media screen and (max-width: 420px) and (max-height: 736px) {
										display: inline;

										&:before {
											right: -23px;
										}
									}
								}
							}
						}
					}

					.vert-wrapper {
						position: relative;
						width: 100%;

						@include breakpoint(small down) {
							margin-left: 10px;
							margin-right: 10px;
						}
					}

					.left {
						float: left;
						padding-right: 30px;

						&.mobile-spacer-top {
							@include breakpoint(small down) {
								padding-top: 220px;
							}

							@media screen and (max-width: 420px) and (max-height: 812px) {
								padding-top: 190px;
							}
						}

						&.mobile-move-top {
							@include breakpoint(950px down) {
								padding-top: 20px;
							}

							@include breakpoint(small down) {
								position: absolute;
								top: 0;
								left: 0;
								padding: 0 45px 0 20px;
							}

							.mailinglist-wrapper {
								@include breakpoint(small down) {
									margin-top: 0;
								}
							}
						}

						&.mobile-col1 {
							@include breakpoint(small down) {
								width: 50%;
							}

							a {
								color: $summit-lightgrey;

								&.underline {
									color: $summit-white;
								}
							}
						}
						&.mobile-col2 {
							@include breakpoint(small down) {
								width: 50%;
								padding-right: 0;
							}

							a {
								color: $summit-lightgrey;
							}
						}
					}

					.large {
						font-size: 18px;
						font-weight: 700;
						text-transform: uppercase;
						display: inline-block;
						letter-spacing: 0.05em;
    				line-height: 28px;

						&.padding-top-32 {
							padding-top: 32px;
						}

						@media screen and (max-width: 420px) and (max-height: 736px) {
							font-size: 16px;
							line-height: 20px;
						}
					}

					p {
						font-size: 15px;
						margin-bottom: 0;
						letter-spacing: 0.01em;
    				line-height: 20px;

						&.no-bottom {
							color: $summit-lightgrey;
							margin-bottom: 10px;
							letter-spacing: 0.03em;
    					line-height: 18px;
						}

						&.small {
							font-size: 11px;
							color: #D7D7D7;
						}

						@include breakpoint(small down) {
							font-size: 12px;
						}

						@media screen and (max-width: 420px) and (max-height: 736px) {
							font-size: 12px;
							line-height: 16px;
						}
					}

					.legal {
						color: $summit-legalgrey;
						line-height: 13px;
    				letter-spacing: 0.05em;
					}

					.mailinglist-wrapper {
						position: relative;
						max-width: 300px;

						@include breakpoint(1127px down) {
							width: 200px;
						}

						@include breakpoint(950px down) {
							width: auto;
						}

						@include breakpoint(small down) {
							max-width: 279px;
						}

						.button-morph-footer {
							margin-bottom: 0;
							font-size: 15px;
							font-weight: 700;
							letter-spacing: 0.02em;
    					line-height: 19px;
							color: #FFF;
							border: 2px solid #FFF;
							background: none;
							padding: 8px 20px 10px 20px;
							border-radius: 20px;
							width: 104px;
							height: 32px;
							text-align: center;
							transition: all 0.3s linear;

							@include breakpoint(small down) {
								font-size: 15px;
								width: 104px;
								text-align: center;

								&.active {
									text-align: left;
								}
							}

							&.default {
								&::placeholder {
									color: #E84855 !important;
								}
							}
							&.blue {
								&::placeholder {
									color: #31AFD4 !important;
								}
							}
							&.orange {
								&::placeholder {
									color: #EB604E !important;
								}
							}
							&.green {
								&::placeholder {
									color: #2BA84A !important;
								}
							}
							&.pink {
								&::placeholder {
									color: #E96187 !important;
								}
							}
							&.yellow {
								&::placeholder {
									color: #DFA90D !important;
								}
							}

							&.active {
								width: 100%;
								text-align: left;

								&::placeholder {
									opacity: 0.5;
								}

								&.fade-out {
									&::placeholder {
										opacity: 0 !important;
									}
								}

								&:hover {
									color: #FFF;
									background-color: transparent;

									&::placeholder {
										color: #FFF;
									}
								}

								&.signup-success {
									pointer-events: none;
									background: #FFF;
									text-align: center;
									cursor: default;

									&::placeholder {
										opacity: 1;
										color: #E84855;
										font-weight: 400;
									}
								}
							}

							&::placeholder {
								transition: opacity 0.3s linear;
								opacity: 1;
								color: #FFF;
							}
							&.fade-out {
								&::placeholder {
									opacity: 0;
								}
							}


							&:hover {
								color: #080808;
								background: #C8C8C8;
								border-color: #C8C8C8;

								&::placeholder {
									color: #080808;
								}
							}
						}

						.button-morph-footer-submit {
							display: none;
							background: rgba(250,250,250,0.3);
							padding: 8px 20px;
							border-radius: 20px;
							position: absolute;
							right: 0;
							bottom: 0;
							height: 32px;
							font-size: 15px;
							transition: all 0.3s linear;

							&:focus {
								outline: none;
							}
							&:hover {
								background: #EFEFEF;
								color: $summit-textblack;
							}
						}
					}

					.copyright {
						color: $summit-legalgrey;
						margin-top: 10px;

						.evidon-notice-link {
							display: inline-block;
							padding-left: 30px;
						}
						#_evidon-link-text {
							color: #909090;
							font-size: 12px;
						}
					}
				}


				.footer-circle-col {
					position: relative;

					@include breakpoint(small down) {
						text-align: center;
					}

					.footer-circle {
						display: inline-block;
						background-image: url(/assets/img/homepage/footer-circle-clear.png);
						background-position: top center;
						background-size: cover;
						background-repeat: no-repeat;
						height: 400px;
						width: 400px;
						position: absolute;
						left: 50px;
						bottom: 30px;

						@include breakpoint(1000px down) {
							left: -20px;
						}

						@include breakpoint(950px down) {
							left: -80px;
						}

						@include breakpoint(small down) {
							width: 300px;
							height: 300px;
							position: relative;
							left: auto;
							bottom: auto;
							margin: 0 auto;
							margin-top: 72px;
						}

						@media screen and (max-width: 420px) and (max-height: 812px) {
							margin-top: 0;
							width: 250px;
    					height: 250px;
						}
						@media screen and (max-width: 420px) and (max-height: 736px) {
							width: 220px;
							height: 220px;
						}
						@media screen and (max-width: 420px) and (max-height: 667px) {
							width: 200px;
							height: 200px;
						}

						.circle-content {
							text-align: center;
							width: 60%;

							@media screen and (max-width: 420px) and (max-height: 736px) {
								padding-bottom: 20px;
							}

							.footer-circle-sponsors {

								@include breakpoint(small down) {
									h5 {
										font-size: 18px;
										text-transform: uppercase;

										&.top-10 {
											margin-top: 10px;
										}

										@media screen and (max-width: 420px) and (max-height: 736px) {
											font-size: 16px;
										}
										@media screen and (max-width: 420px) and (max-height: 667px) {
											font-size: 14px;
										}
									}
									.sponsor {
										font-size: 15px;
										font-weight: 400;

										@media screen and (max-width: 420px) and (max-height: 736px) {
											font-size: 12px;
										}
										@media screen and (max-width: 420px) and (max-height: 667px) {
											font-size: 10px;
										}
									}
								}
							}

							.divider {
								height: 1px;
								background: $summit-textblack;
								width: 28px;
								background: $summit-textblack;
								display: inline-block;
								margin-top: 30px;
								margin-bottom: 15px;

								@include breakpoint(small down) {
									margin-top: 15px;
								}
								@media screen and (max-width: 420px) and (max-height: 812px) {
									margin-top: 10px;
									margin-bottom: 10px;
								}
								@media screen and (max-width: 420px) and (max-height: 667px) {
									margin-top: 5px;
									margin-bottom: 5px;
								}
							}

							h4 {
								color: #fff;
								font-size: 24px;
								font-weight: 700;
								margin-top: 0;
								margin-bottom: 0;
								text-transform: uppercase;
								font-family: $body-font-family;
								letter-spacing: 0.05em;
								line-height: 28px;

								@include breakpoint(small down) {
									font-size: 18px;
									line-height: 22px;
									margin-top: 20px;
								}

								@media screen and (max-width: 420px) and (max-height: 812px) {
									font-size: 16px;
									line-height: 20px;
								}
								@media screen and (max-width: 420px) and (max-height: 667px) {
									margin-top: 0;
									font-size: 14px;
									line-height: 18px;
								}
							}
							p {
								color: $summit-white;
								margin-bottom: 30px;
								font-size: 16px;
								letter-spacing: 0.03em;
								line-height: 22px;

								@media screen and (max-width: 420px) and (max-height: 812px) {
									font-size: 15px;
									line-height: 19px;
									margin-bottom: 10px;
								}

								@media screen and (max-width: 420px) and (max-height: 736px) {
									font-size: 12px;
									line-height: 16px;
									margin-bottom: 10px;
								}
								@media screen and (max-width: 420px) and (max-height: 667px) {
									font-size: 10px;
									line-height: 14px;
								}
							}

							.button {
								border-color: $summit-white;
								color: $summit-white;
								padding: 4px 20px;
								height: 32px;
								font-size: 15px;
								letter-spacing: 0.01em;

								@include breakpoint(small down) {
									margin-top: 0;
								}

								&:hover {
									background: $summit-white;
									color: $summit-textblack;
								}
							}

							.link-learnmore {
								font-size: 14px;
							}
						}
					}

					.copyright {
						position: absolute;
						bottom: 0;
						margin: 0 auto;
						left: -50px;
						right: 0;
						text-align: center;
						color: $summit-legalgrey;

						.evidon-notice-link {
							display: inline-block;
							padding-left: 30px;
						}
						#_evidon-link-text {
							color: #909090;
							font-size: 12px;
						}
					}
				}

			}

		}
	}

	.slide-content {
		display: inline-block;
		width: 260px;
		max-width: none;
		padding: 0;
		text-align: left;

		.content-number {
			transform: rotate(90deg);
			display: inline-block;
			font-size: 12px;
			line-height: 18px;
			color: #505050;
		}

		.content-title {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 0.05em;
    	line-height: 28px;
			color: $summit-lightblue;
			text-transform: uppercase;
		}

		h1 {
			font-size: 36px;
			font-weight: 700;
			margin-top: 0;
			margin-bottom: 15px;
			letter-spacing: 0.02em;
    	line-height: 36px;

			@include breakpoint(small down) {
				font-size: 32px;
			}
		}

		p {
			font-size: 14px;
			color: #C7C7C7;
			width: 170px;
			letter-spacing: 0.02em;
    	line-height: 22px;
		}
	}

	.home-marquee-content {
		padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
	}

	.home-marquee-mobile {
		height: 650px;
		background-position: center;

		@include breakpoint(small down) {
			height: 750px;
			z-index: -1;
		}

		.marquee-content {
			color: #141414;

			@include breakpoint(small down) {
				bottom: 120px;
			}
		}
	}

	.home-marquee-header {
		.home-marquee-content {
			padding-top: 150px;

			@include breakpoint(medium down) {
				padding-top: 90px;
			}
		}
	}

	.home-marquee-footer {
		position: absolute;
		bottom: 15px;
		width: 100%;

		@include breakpoint(medium down) {
			bottom: 0;
		}
	}

	.home-marquee-box {
		margin-top: -142px;
		z-index: 10;
		padding: 0 80px;

		@include breakpoint(medium down) {
    	margin-top: -110px;
		}

		@include breakpoint(small down) {
			padding: 0 10px;
			margin-top: -130px;
		}

		.content {
			max-width: 1032px;
    	color: $charcoal;
    	padding: 20px 80px;
			text-align: center;

			@include breakpoint(medium down) {
				padding: 20px 0;
			}

			@include breakpoint(small down) {
				padding: 20px;
				text-align: left;
			}

			.box-title {
				font-size: 24px;
				font-weight: 400;

				@include breakpoint(medium down) {
					font-size: 20px;
				}

				@include breakpoint(small down) {
					font-size: 18px;
				}
			}

			p {
				margin: 0;
				font-size: 18px;
				font-weight: 400;

				@include breakpoint(medium down) {
					font-size: 16px;
				}

				@include breakpoint(small down) {
					font-size: 14px;
				}
			}
		}
	}

	.speaker-content {
		padding-top: 100px;
		max-width: 1032px;

		&.with-full-width {
			max-width: 1280px;
		}

		.speakers-header {
			text-align: center;
			padding-bottom: 30px;

			@include breakpoint(small down) {
				text-align: left;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 15px;
			}

			h2 {
				@include breakpoint(small down) {
					font-size: 24px;
				}
			}
		}

		@include breakpoint(small down) {
			padding-top: 60px;
		}
	}

  .experience-makers {

		.image-box-grid-l {
			.gallery-slider {
				z-index: 8;
			}
		}

    #experience-makers-card {
			padding: 0 80px 0 40px;
			/* z-index: -1; */

			.title-card-content {
				padding-right: 20px;
			}

      @include breakpoint(medium down) {
        padding: 20px 20px 40px 20px;

        h2 {
          font-size: 24px;
          margin-bottom: 12px;
        }

        p.large {
          font-size: 16px;
          line-height: 1.4;
        }

        ul {
          font-size: 14px;
          line-height: 1.3;
        }
      }
		}

		#bash-card {
			padding: 0 80px 0 40px;

			@include breakpoint(medium down) {
				padding: 20px 20px 40px 20px;
			}

			.title-card-content {
				padding-right: 70px;

				@include breakpoint(medium down) {
					padding-right: 20px;

					h2 {
						font-size: 24px;
					}
				}
			}
		}

    .title-card {
			padding: 0 0 0 46px;

			&#anim5 {
				z-index: -1;
			}
    }

    .carousel-image {
      width: 100%;
    }

		.box-column {
			.title-card-content {
				padding-right: 20px;
			}
		}

    @include breakpoint(medium down) {
      .spaced {
        margin-bottom: 60px;
      }

			.spaced-top {
        margin-top: 60px;
      }

			#anim7 {
				&.bg-overflow-bottom:before {
					height: 100%;
				}
			}

      .title-card.small {
        padding: 30px 40px 40px 40px;

        .title-card-content {
          h2 {
            font-size: 24px;
            margin-bottom: 12px;
          }

          .large {
            font-size: 16px;
          }
        }
      }
    }
  }

	#sponsors-section {
		.content {
			padding-top: 100px;
			padding-bottom: 90px;
		}

		.title-card {
			margin-left: 0;
			padding-right: 60px;

			.title-card-content {
				top: 50%;
			}

			h2 {
				margin-bottom: 26px;
				line-height: 1;
				font-size: 34px;
			}

			p {
				line-height: 1.25;
			}
		}

		@include breakpoint(medium down){
			.title-card {
				margin-left: 20px;
				margin-top: -45px;

				h2 {
					font-size: 23px;
					max-width: 240px;
				}
			}

			.content {
				/* padding-top: 20px; */
				/* padding-bottom: 55px; */
				padding-top: 50px;
				padding-bottom: 95px;
			}
		}

		@include breakpoint(small down) {
			.title-card {
				h2 {
					font-size: 24px;
					max-width: none;
				}
				p.small {
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
	}

	#experience-makers {
		@include breakpoint(medium down) {
			.content {
				padding-bottom: 0;
			}
		}
	}

	.quote-box .quote-box-content {
		max-width: 620px;
	}

	&.disable-fixed {
		overflow: visible;
		overscroll-behavior: auto;

		.site-container {
			height: auto;

			.content-wrapper {
				.homepage-content-wrapper {
					.homepage-content {
						display: block !important;
						height: 700px;
						margin-top: 0;
						margin-bottom: 0;
						&.hpc1 {
							height: 800px;
							margin-top: 0;
							margin-bottom: 0;
							.marquee .marquee-content {
								top: 380px;
							}
							.home-circles-max .home-circles-wrapper > .vert-align > div {
								margin-bottom: 0;
							}
						}
						&.hpc2 {
						}
						&.hpc3 {
							height: 830px;
							.homepage-sessions-wrapper {
								.slide-content {
									z-index: 1;
								}
								.marquee-sessions {
									height: 300px;
									position: relative;

									&:before {
										content: "";
										position: absolute;
										top: 0;
										bottom: 0;
										left: 0;
										right: 0;
										background: #000;
										opacity: 0.4;
									}
								}
							}
						}

						&.hpc4 {
							.homepage-connect-wrapper .connect-content-left .connect-2 {
								width: 175px;
								height: 160px;
							}
						}

						&.hpc5 {
							height: 850px;
							.homepage-brands-wrapper {
								padding-left: 0;
								margin-right: 20px;

								.marquee-brands {
									max-height: 380px;
									width: 300px;
									margin-right: 0;
								}

								.brands-content-right {
									margin-top: 10px;
								}
							}
							#footer {
								position: initial;
							}
						}

						&.hpc6 {
							height: 783px;
							
							.homepage-community-wrapper {

								.community-1 {
									position: relative;

									&:before {
										content: "";
										position: absolute;
										top: 0;
										bottom: 0;
										left: 0;
										right: 0;
										background: #000;
										opacity: 0.4;
									}
								}

								.community-content-right .slide-content p {
									line-height: 18px;
								}
							}

						}

						&.hpc7 {
							.homepage-footer-wrapper {
								.footer-links {
									.accordion-footer .accordion-item .accordion-title {
										font-size: 16px;
										line-height: 20px;
									}
									.left.mobile-col1 {
										width: 70%;
										@media screen and (max-width: 374px) {
											padding-right: 0;
										}
									}
									.left.mobile-col2 {
										width: 30%;
									}
								}

								.footer-circle {
									margin-bottom: 50px;
								}
							}
						}
					}
					.homepage-controls-wrapper {
						display: none;
					}
					@media screen and (max-width: 812px) and (max-height: 420px) {
						.homepage-content.hpc1 {
							height: 600px;
							margin-bottom: 30px;

							.marquee .marquee-content {
								top: 50px;
							}
						}

						.homepage-content.hpc2 {
							height: 500px;
						}

						.homepage-content.hpc4 {
							height: 550px;
							margin-bottom: 70px;

							.homepage-connect-wrapper .connect-content-left .connect-content {
								bottom: 10px;
							}
						}

						.homepage-content.hpc5 {
							height: 600px;
							margin-bottom: 70px;
						}
						.homepage-content.hpc6 {
							height: 400px;

							.homepage-community-wrapper {
								.community-circle {
									top: 10px;
								}
								.community-1 {
									display: none;
								}
							}
						}

						.homepage-content.hpc7 {
							height: 600px;
							.homepage-footer-wrapper {
								.footer-links {
									margin-top: 0;
								}

								.footer-circle-col .footer-circle {
									width: 300px;
									height: 300px;
									top: 0;
									left: 0;

									h4 {
										font-size: 18px;
										line-height: 22px;
										margin-top: 20px;
									}

									.divider {
										margin-top: 10px;
										margin-bottom: 10px;
									}

									p {
										margin-bottom: 10px;
									}
								}
							}
						}
					}


					/* @media screen and (max-width: 670px) and (max-height: 419px) { */
					@media screen and (max-width: 740px) and (max-height: 419px) {
						.homepage-content.hpc1 {
							height: 480px;

							.marquee {
								background-position-y: 100%;
								.marquee-content {
									top: 100px;
								}
							}
						}

						.homepage-content.hpc2 {
							height: 700px;

							.homepage-speakers-wrapper {
								padding-top: 220px;

								.slide-content {
									top: 10px;
								}

								.speaker {
									padding-right: 15px;
    							padding-left: 15px;
								}
							}
						}

						.homepage-content.hpc4 {
							.homepage-connect-wrapper {
								.connect-content-left {
									.connect-circle {
										top: 121px;
									}
									.connect-1 {
										top: 350px;
									}
									.connect-2 {
										top: 50px;
									}
									.connect-content {
										top: 345px;
									}
								}
								.slide-content {
									left: 80px;
								}
							}
						}

						.homepage-content.hpc5 {
							height: 450px;

							.homepage-brands-wrapper .brands-content-right {
								width: 300px;
							}
						}

						.homepage-content.hpc6 {
							.homepage-community-wrapper .community-content-right {
								top: 0;
								left: 200px;
							}
						}

						.homepage-content.hpc7 {
							height: 850px;

							.homepage-footer-wrapper .footer-links .left.mobile-col1 {
								width: 50%;
							}
							.homepage-footer-wrapper .footer-links .left.mobile-col2 {
								width: 50%;
							}
						}


					}

				}
			}
		}
	}

}
section#quote-sponsor, section#quote-com {
	#qme {
		margin: 0 auto;
	}
}