@import 'mixins';

 $baseFont: 16;
 $white: #fff;


 .w300 {
	 font-weight: 300;
 }
a.yellow {
	color: #E3FC25;
}

#top-right-nav {
	@include flex;
	@include align-items(center);
	  a.button-register-nav {
	 	background: #2680EB 0% 0% no-repeat padding-box;
	 	@include border-radius(16px);
	 	font-size: 14px;
		 margin: 0;
		 padding: 10px 25px;
	}
	.signin-button {
		a {
			@include font-size(13);
		}
	}
}
#mobile-nav-btn {
	a.button-register-nav {
		background: #2680EB 0% 0% no-repeat padding-box;
		@include border-radius(20px);
		@include font-size(16);
		padding: 10px 30px;
		margin: 0 0 10px 0;
   }
	a {
		color: $white;
	}
}
.content-slider-topics a {
	display: block;
}
#countdown {
    width: 100%;
    float: left;
    background: #08171E;
    position: absolute;
    bottom: 0;
	   padding: 20px 0;
	   @media screen and(max-width: 579px) {
		   padding: 10px 0;
	   }
    h3 {
    	color: #32AED4;
    	font-weight: 300;
    	@include font-size(16);
    	text-align: center;
    	text-transform: uppercase;
    }
    #timer {
		@include flex;
		@include align-items(center);
		justify-content: center;
    	span {
			display: block;
			font-size: 0.5em;
			color: $white;
    	}
    }
}

.days, .hours, .minutes, .seconds {
  padding: 0 10px;
  text-align: center;
  font-weight: 700;
  color: $white;
  @include font-size(30);
  span {
  	@include font-size(18);
  	font-weight: 300;
  	margin: 10px 0 0 0;
  }
}


.home-circle-magento, .home-circle-marketo  {
	@include flex;
	@include align-items(center);
	justify-content: center;
	.divider {
		background-color: $white !important;
		height: 2px !important;
	}
	@media screen and(max-height: 888px) {
		// height: 240px !important;
		// width: 240px !important;
	}
	@media screen and(max-height: 654px) {
		height: 120px !important;
		width: 120px !important;
	}
}
.home-circles-wrapper {
	.vert-align > div {
		margin-bottom: 70px !important;
		@media screen and(max-width: 576px) {
			margin-bottom: 65px !important;
		}
	}
}
.home-circle-marketo {
	@media screen and(max-height: 888px) {
		margin-top: 20px !important;
	}
}
.marquee .marquee-content {
	@media screen and(max-width: 639px) {
		text-align: center;
		padding: 0;
		bottom: 40% !important;
	}
	@media screen and (max-width: 640px) and(max-height: 560px) {
		top: 15%;
		h1, h3 {
			font-size: 1em !important;
			line-height: 1.3em !important;
			margin: 0 !important;
		}
	}
	@media screen and (min-width: 640px) and (max-width: 1150px) {
		top: 3%;
	}
}


// .homepage-speakers-wrapper {
// 	@media screen and (max-width: 640px) and(max-height: 560px) {
// 		padding-top: 170px !important;
// 		width: 100%;
// 	}
// 	.slide-content {
// 		@media screen and (max-width: 640px) and(max-height: 560px) {
// 			top: 60px !important;
// 			max-width: 769px;
// 			padding: 0 15px;
// 			width: 100%;
// 		}
// 	}
// }
// .small-speakers-set-2 {
// 	.speaker {
// 		@media screen and (max-width: 640px) and(max-height: 560px) {
// 			width: 50%;
// 		}
// 	}
// }

//certification
body.page-certification {
	.wrapper {
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		ul.accordion {
			li {
				p {
					color: #C7C7C7;
					font-weight: 300;
				}
			}
		}
	}
}

//sponsors
body.page-sponsors, body.page-certification {
	.sponsors-contact {
		text-align: center;
		color: #C7C7C7;
		margin: 60px 0 90px 0;
		display: block;
		clear: both;
		font-weight: 300;
	}
	.page-header {
		max-width: 600px;
		margin: 0 auto;
		h1 {
			font-weight: 700;
		}
		p {
			color:#C7C7C7;
		}
	}
	#sponsor-section {
		.sponsors {
			text-align: center;
			h5 {
				margin: 40px 0 0 0;
			}
			ul#sponsor-accordion {
				text-align: left;
			}
			ul.sponsors-list {
				margin: 10px 0 30px 0;
				li {
					max-width: 225px;
					width: 100%;
					padding: 15px 30px;
					display: inline-block;
					vertical-align: top;
					margin: 5px 15px;
					background-color: #000;
				}
			}
		}
	}
}

body.page-conduct {
	section#conduct-section {
		@media screen and(max-width: 768px) {
			padding-top: 100px;
		}
		padding: 60px 0;
		h5 {
			color: #C7C7C7;
			font-weight: 300;
			font-size: 18px;
		}
		h2 {
			font-weight: 700;
			font-size: 34px;
			@media screen and(max-width: 768px) {
				font-size: 28px;
				font-weight: 300;
			}
		}
		.coc {
			p {
				@media screen and(max-width: 768px) {
					margin: 30px 0 0 0;
				}
				color: #f7f7f7;
				font-weight: 300;
				font-size: 16px;
			}
		}
	}
}
//sponsors bio
body.page-sponsors-bio {
	section#return-link {
		padding: 50px 0 25px 0;
		@media screen and(max-width: 769px) {
			margin-top: 30px;
		}
		a {
			font-weight: 700;
			@include font-size(20);
			color: #595B5D;
			@include flex;
			@include align-items(center);
			i {
				font-weight: 800;
				font-size: 27px;
				margin-right: 10px;
			}
			vertical-align: middle;
		}
	}
	section#partners-bio-bottom {
		padding: 60px 0 50px 0;
		#bg-black {
			padding: 30px;
			float: left;
			width: 100%;
			background-color: #000;
			#info {
				h3 {
					@include font-size(28);
					color: #595B5D;
				}
				p {
					color: #C7C7C7;
					font-weight: 300;
				}
				a.button {
					margin: 20px 0 30px 0;
					@include border-radius(20px);
					padding: 10px 15px;
					background-color: transparent;
					border: solid 2px $white;
				}
				a.button:hover {
					background-color: $white;
				}
			}
			#right-bio {
				img {
					width: 100%;
				}
			}
		}
	}
	section#partners-bio {
		background-color: #000;
		padding: 60px 0;
		#left {
			@media screen and(min-width: 770px) {
				top: 50%;
				position: relative;
				transform: translateY(50%);
			}
			text-align: center;
			img, ul {
				display: block;
			}
			img {
				margin: 0 auto;
				max-width: 200px;
				width: 100%;
			}
			a.button {
				margin: 20px 0 30px 0;
				@include border-radius(20px);
				padding: 10px 30px;
				background-color: transparent;
				border: solid 2px $white;
				font-size: 16px;
			}
			a.button:hover {
				background-color: $white;
			}
			ul {
				margin: 0;
				li {
					padding: 0 6px;
					display: inline-block;
					a {
						color: $white;
					}
				}
			}
		}
		h1 {
			color: #595B5D;
			@include font-size(40);
		}
		p {
			color: #C7C7C7;
			font-weight: 300;
		}
	}
}


//community

body.page-community {
	.page-header {
		max-width: 600px;
		margin: 0 auto;
		h1 {
			font-weight:700;
			max-width: 600px !important;
		}
		p {
			color:#C7C7C7;
		}
	}
	section.two-column-centered-layout {
		margin-top: 100px;
	}
	.overlapping-content {
		@media screen and(max-width: 576px) {
		padding: 20px !important;
		}
	}
	section#community {
		margin-top: 60px;


		.row {
			margin:	10px 0;
			p {
				color:#C7C7C7;
				font-weight: 300;
			}
		}
		.content-slider {
			margin: 0 0 60px 0;
			@media screen and(max-width: 576px) {
				h2.uppercase-title {
					font-size: 28px;
				}
			}
			p {
				color:#C7C7C7;
				font-weight: 300;
			}
		}
	}
}

#footer {
	width: 100%;
	float: left;
	padding: 30px;
	margin: 30px 0 0 0;
	background-color: #08171e;
	border-top: solid 1px #0f1e24;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 0 15px 0 0;
			display: inline-block;
			list-style-type: none;
			a {
				font-weight: 300;
				@include font-size(14);
				color: $white;
			}
		}
	}
	p {
		color: #7F7F7F;
		@include font-size(12);
		margin: 0;
	}
}

#footer-index {
	@include breakpoint(small down) {
		position: static;
	}
	width: 100%;
	float: left;
	position: absolute;
	bottom: 0;
	padding: 0 30px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 0 15px 0 0;
			display: inline-block;
			list-style-type: none;
			a {
				font-weight: 300;
				@include font-size(14);
				color: $white;
			}
		}
	}
	p {
		color: #7F7F7F;
		@include font-size(12);
	}
}

// body.page-home #footer{
// 	position: absolute;
// }

body.speakers{
	background-color: #08171E;
}

body.page-home .homepage-controls-wrapper{
	display: block;
}

body .homepage-controls-wrapper{
	display: none;
}

body #footer{
	position: static;
}

.cover{
	background-size: cover!important;
}

@if ($flexbox-responsive-breakpoints) {
    // Loop through Responsive Breakpoints
    @each $size in $breakpoint-classes {
      @include breakpoint($size) {
        @if $size != $-zf-zero-breakpoint {

          .#{$size}-align-right {
            justify-content: flex-end
		  }

		  .#{$size}-grid-x {
			flex-flow: row wrap;
		  }

		  .#{$size}-grid-y {
            flex-flow: column wrap;
		  }

		  .#{$size}-align-center {
            justify-content: center
		  }

		  .#{$size}-align-left {
            justify-content: flex-start
		  }

		  .#{$size}-align-justify {
            justify-content: space-between
		  }

		  .#{$size}-align-spaced {
            justify-content: space-around
		  }

		  .#{$size}-align-top {
            align-items: flex-start;
		  }

		  .#{$size}-align-middle {
            align-items: center
		  }

		  .#{$size}-align-bottom {
            align-items: flex-end;
		  }

		  .#{$size}-align-stretch {
            align-items: stretch
		  }


        }
      }
    }
  }

.page-banner{
	width: 100%;
	max-width: 100%;
}

div.agenda{
	background: url(../img/agenda-banner2x.png) no-repeat top center transparent;
	min-height: 480px;
	@media all and (max-width: 991px){
		background: url(../img/agenda-banner-mobile@2x.png) no-repeat top center transparent;
		min-height: 320px;
	}
	.cell{
		@media all and (max-width: 991px){
			margin: 0 0 30px;
		}
	}
	h1{
		@media all and (max-width: 991px){
			margin: 0 0 20px;
		}
	}
	p{
		color: #FFF;
		@include font-size(20);
		max-width: 500px;
		width: 100%;
	}
}

div.sessions{
	background: url(../img/sessions-banner@2x.png) no-repeat top center transparent;
		min-height: 480px;
		@media all and (max-width: 991px){
			background: url(../img/session-banner-mobile@2x.png) no-repeat top center transparent;
			min-height: 320px;
		}
		@extend div,.agenda;
}

div.speakers-page{
	background: url(../img/speakers-banner@2x.png) no-repeat top center transparent;
		min-height: 480px;
		@media all and (max-width: 991px){
			background: url(../img/speakers-banner-mobile-bg@2x.png) no-repeat top center transparent;
			min-height: 320px;
		}
		@extend div,.agenda;
}

ul.speaker-list{
	margin:17px 0 0;
	padding: 0;
	max-width: 702px;
	width: 100%;
	list-style: none;
	@media all and (max-width: 991px){
		margin: 0;
	}
	li{
		max-width: 164px;
		@media all and (max-width: 991px){
			max-width: 100%;
			display: flex;
			justify-content: center;
		}
		.info{
			.right{
				@media all and (max-width: 991px){
					margin: 0 0 0 15px;
				}
			}
			.name{
				text-align: center;
				@media all and (max-width: 991px){
					text-align: left;
				}
				margin: 5px 0 0;
				span{
					color: #FFF;
					@include font-size(18);
					font-weight: 700;
				}
			}
			.designation{
				text-align: center;
				// max-width: 164px;
				// width: 100%;
				@media all and (max-width: 991px){
					text-align: left;
				}
				span{
					color: #C7C7C7;
					@include font-size(14);
				}
			}
		}
	}
}

.wrapper{
	max-width: 1040px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

section.agenda{
	width: 100%;
	margin: 64px 0 0;
	@media all and (max-width: 991px){
		margin: 34px 0 0;
	}
	.head{
		span{
			@include font-size(14);
			font-weight: 700;
			color: #32AED4;
		}
		h2{
			@include font-size(36);
			line-height: 26px;
		}

		small{
			@include font-size(14);
			color: #FFF;
		}
	}

	.body{
		ul{
			width: 100%;
			list-style: none;
			margin: 42px 0 0;
			padding: 0;
			li{
				background-color: #000;
				width: 100%;
				border-left: 6px solid #2CA849;
				margin: 0 0 15px;
				padding: 50px;
				position: relative;
				@media all and (max-width: 991px){
					padding: 25px;
				}

				h6{
					@include font-size(20);
					line-height: 10px;
				}

				span{
					@include font-size(14);
					color: #FFF;
				}

				.tc{
					p{
						@include font-size(16);
					}

					img{
						max-width: 30px;
					}


				}

				.tc1{
					max-width: 500px;
					margin: 7px 0 0;
				}

				.tc2{
					max-width: 500px;
				}

				.tc3{
					// width: 100%;
					// height: 30px;
					// max-width: 30px;
					a{
						background: url(../img/arrow-dd.png);
						width: 30px;
						height: 30px;
						background-size: contain;
						@media all and (max-width:991px){
							position: absolute;
							top: 30px;
							right: 20px;
						}
					}
					.show-desc{
						background: url(../img/arrow-dd-inactive.png);
						width: 30px;
						height: 30px;
						background-size: contain;
					}
				}

				.desc{
					@media all and (max-width: 767px){
						margin: 19px 0 0;
					}
				}

				.details{
					max-width: 110px;
					width: 100%;
					@media all and (max-width: 767px){
						max-width: 100px;
						margin: 26px 0 0;
					}
					.icon{
						img{
							margin: 3px 0 0;
							height: 25px;
    						object-fit: contain;
						}
					}

					.address{
						line-height: 18px;
					}
				}
			}
		}
		p{
			color: #FFF;
			@include font-size(14);
		}
		.wrapper{
			max-width: 1000px;
			border: 1px solid #FFF;
		}
	}
}

section.sessions{
	margin: 54px 0 0;
	@media all and (max-width: 991px){
		margin: 34px 0 0;
	}
	.head{
		.wrapper{
			max-width: 585px;
		}
		p{
			color: #FFF;
			@include font-size(14);
			margin: 0;
		}
		h1{
			@include font-size(36);
			font-weight: 700;
			margin: 0;
			@media all and (max-width: 991px){
				@include font-size(24);
			}
		}
	}
	.body{
		margin: 103px 0 55px;
		@media all and (max-width: 991px){
			margin: 30px 0;
		}
		.wrapper{
			max-width: 950px;
			position: relative;
		}
		.session-list{
			max-width: 310px;
			width: 100%;
			ul{
				list-style: none;
				border: 0;
				background: none;
				margin: 5px 0 0;
				li{
					padding: 0;
					margin: 0 0 8px;
					a{
						text-align: right;
						display: block;
						color: #C7C7C7;
						@include font-size(18);
						padding: 0;
						background: none;
					}
					a:hover{
						font-weight: 700;
						color: #FFF;
					}
					span{
						color: #32AED4;
						font-weight: 700;
					}
				}

				li:hover{
					background: none;
				}
			}

			.content-slider-topics{
				position: relative;

				@media all and (min-width: 992px){
					padding: 120px 0 0;
				}
			}

			.content-slider-topics a{
				text-align: right;
				color: #C7C7C7;
				@include font-size(16);
				padding-right: 10px;
				margin: 0 0 10px;
				font-weight: 200;
				background: none;
				span{
					color: #FFF;
					font-weight: 700;
					padding-left: 10px;
				}
			}

			.content-slider-topics a.active{
				span{
					color: #32AED4;
				}
			}

			.content-slider-topics a:hover{
				font-weight: 700;
				color: #FFF;
				span{
					color: #32AED4;
				}
			}

			.page-indicator{
				position: absolute;
				top: 40px;
				right: -10px;
				-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				font-size: 14px;
				color: #707070;
				min-width: 45px;
			}

			.page-arrows {
				display: inline-block;
				position: absolute;
				bottom: -70px;
				right: 3px;

				a.next {
					background-image: url(../img/arrow-next-inactive.png);
					background-size: 10px 6px;
					background-repeat: no-repeat;
					background-position: center;
					width: 10px;
					height: 6px;
					display: block;
					padding: 10px;
					transition: background-image 0.2s linear;
				}

				a.prev {
					background-image: url(../img/arrow-prev-inactive.png);
					background-size: 10px 6px;
					background-repeat: no-repeat;
					background-position: center;
					width: 10px;
					height: 6px;
					display: block;
					padding: 10px;
					transition: background-image 0.2s linear;
				}
			}
		}

		.session-list-mobile{
			margin: 15px 0 0;
			max-width: 100%;
			ul{
				li{
					a.dott{
						background: url(../img/dot-mobile.png) no-repeat;
						height: 14px;
						width: 14px;
					}
					a.dott:hover,a.dott.active{
						background: url(../img/dot-mobile-active.png) no-repeat;
					}
				}
			}
		}

		.session-content{
			max-width: 600px;
			width: 100%;
			background: none;
			border: 0;
			.slick-slide {
				background-color: #000;
			}
			.description{
				background-color: #000;
				padding: 25px;
				h1{
					font-size: 28px !important;
				}
				p{
					font-size: 16px;
					color: #FFF;
					font-weight: 300;
					margin: 0;
				}
				ul.accordion{
					background: none;
					margin: 20px 0 0;
					border-top: 1px solid #282828;
					li{
						a{
							border-bottom: 1px solid #282828;
							border-left: 0;
							border-right: 0;
							border-top: 0;
						}
						a:hover{
							background: none;
						}
					}
				}
				img.green-line{
					margin: 20px 0 0;
				}
				.accordion-title{
					padding: 15px 0;
					span{
						color: #C7C7C7;
						@include font-size(10);
					}
					p{
						@include font-size(14);
						@media all and (max-width:991px){
							max-width: 85%;
						}
					}
				}
				.accordion-title:focus{
					outline: 0;
				}
				.accordion-title::before{
					content: ""!important;
					background: url(../img/plus.png) no-repeat;
					width: 15px;
					height: 15px;
					border: 0;
					top: 30px!important;
					right: 0!important;
					margin-top: 0!important;
				}
				.is-active > .accordion-title::before{
					content: ""!important;
					background: url(../img/minus.png) no-repeat;
					width: 15px;
					height: 15px;
					top: 30px;
				}
				.accordion-title:hover, .accordion-title:focus{
					background: none;

				}
				.accordion-content{
					background: none;
					border-bottom: 1px solid #282828;
					border-top: 0;
					border-left: 0;
					border-right: 0;
					padding: 0 0 30px 0;
					p{
						color: #909090;
						@include font-size(15);
						a{
							text-decoration: underline;
							color:#909090;
						}
					}
				}

				.accordion-item.is-active a{
					border-bottom: 0;
				}

				.accordion .accordion-item{
					margin: 0;
				}
			}
		}
	}
}

section.catalog{
	.back{
		margin: 73px 0 33px 48px;
		a{
			@include font-size(20);
			color: #595B5D;
			img{
				width: 14px;
				height: 24px;
				margin: 0 5px 0;
			}
		}
		a:hover{
			color: #FFF;
		}
	}
	.session-overview{
		.wrapper{
			max-width: 850px;
		}
		background-color: #000;
		width: 100%;
		padding: 80px 15px;
		@media all and (max-width: 991px){
			padding: 30px 15px;
		}
		.title{
			h1{
				@include font-size(36);
				font-weight: 700;
				color: #FFF;
				@media all and (max-width: 991px){
					@include font-size(28);
				}
			}
			h2{
				color: #595B5D;
				@include font-size(28);
				font-weight: 700;
				@media all and (max-width: 991px){
					@include font-size(18);
				}
			}
		}
		.description{
			margin: 39px 0 30px;
			p{
				@include font-size(20);
				color: #c7c7c7;
				line-height: 28px;
				margin: 0;
				@media all and (max-width: 991px){
					@include font-size(16);
					line-height: 20px;
				}
			}
		}
		.speakers{
			@media all and (max-width: 991px){
				max-width: 300px;
			}
			h2{
				color: #FFF;
				@include font-size(28);
				font-weight: 700;
				@media all and (max-width: 991px){
					@include font-size(18);
				}
			}

			ul{
				li{
					@media all and (max-width: 991px){
						margin: 0 0 15px;
					}
					.right{
						@media all and (max-width: 991px){
							width: 170px;
						}
					}
					.photo{
						img{
							@media all and (max-width: 991px){
								max-width: 77px;
								height: 77px;
								margin: 0 15px 0 0;
							}
						}
					}
				}
			}
		}

		.time{
			margin: 56px 0 0;
			width: 500px;
			max-width: 100%;
			h3{
				margin: 0;
				@include font-size(22);
			}
			img{
				width: 33px;
				margin: 20px 0 0;
			}
		}

		.location{
			width: 555px;
			max-width: 100%;
			ul{
				margin: 24px 0 0 0;
				padding: 0;
				width: 100%;
				list-style: none;
				@media all and (max-width: 991px){
					margin: 15px 0 0;
					width: 220px;
				}
				li{
					color: #FFF;
					@media all and (max-width: 991px){
						margin: 0 0 15px;
						width: 100%!important;
					}
					.right{
						width: 152px;
					}
					strong{
						margin: 10px 0 0;
					}
					span{
						@include font-size(14);
						text-align: center;
						@media all and (max-width: 991px){
							text-align: left;
						}
					}
				}
				li:nth-child(2){
					width: 172px;
				}
				li:nth-child(3){
					width: 146px;
				}
			}
		}
	}

	.related-sessions{
		padding: 58px 0 104px;
		.wrapper{
			max-width: 1040px;
			h1{
				@include font-size(36);
				font-weight: 700;
				@media all and (max-width: 991px){
					@include font-size(34);
				}
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					position: relative;
					@media all and (max-width: 991px){
						padding: 15px;
					}
					a{
						display: none;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
					border-left: 6px solid #2CA849;
					background-color: #000;
					min-height: 130px;
					padding: 0 43px 0 45px;
					margin: 0 0 15px;
					cursor: pointer;
					.description{
						color: #FFF;
						max-width: 570px;
						span{
							@include font-size(20);
							font-weight: 700;
						}
						p{
							@include font-size(14);
							margin: 0;

						}
					}
					.location{
						color: #FFF;
						span{
							@include font-size(14);
						}
					}
				}
				li:hover{
					a{
						display: block;
					}
				}
			}
		}
	}
}

section.bio{
	@extend section, .catalog;
	.session-overview{
		.wrapper{
			max-width: 930px;
			padding: 0;
		}
	}
	.name{
		max-width: 320px;
		width: 100%;

		h1{
			@include font-size(36);
			font-weight: 700;
			@media all and (max-width:991px){
				@include font-size(34);
				margin: 0;
			}
		}

		h2{
			@include font-size(28);
			@media all and (max-width:991px){
				@include font-size(24);
				margin: 0;
			}
		}

		ul{
			list-style: none;
			max-width: 110px;
			width: 100%;
			margin: 0;
			padding: 0;
			@media all and (max-width:991px){
				margin: 30px 0;
			}
		}
	}
	.background{
		max-width: 570px;
		width: 100%;
		@media all and (max-width:991px){
			margin: 0 25px
		}
		p{
			color: #C7C7C7;
			@include font-size(20);
			line-height: 26px;
			@media all and (max-width:991px){
				@include font-size(14);
				line-height: 18px;
			}
		}
	}
}

section.speakers{
	margin: -30px 0 0;
	@media all and (max-width: 991px){
		margin: 0;
	}
	.wrapper{
		max-width: 1150px;
		@media all and (max-width: 991px){
			padding: 0;
		}
	}
	.filters{
		background-color: #32AED4;
		min-height: 70px;
		width: 100%;
		padding: 0 60px;
		@media all and (max-width: 991px){
			padding: 0;
			min-height: initial;
		}
		#filter,#filter-mobile{
			display: none;
			background-color: #000;
			padding: 25px;
			position: absolute;
			top: 0;
			right: 0;
			width: 315px;
			z-index: 9999;
			.reset{
				a{
					color: #595B5D;
					@include font-size(14);
				}
			}
			ul{
				margin: 20px 0 0;
				li{
					span{
						color: #FFF;
						font-weight: 700;
					}
					a:hover{
						text-decoration: none;
						span{
							color: #32AED4;
						}
					}
				}
			}
		}
		#filter.shown{
			display: block;
		}
		#filter-mobile.shown{
			display: block;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				a{
					color: #FFF;
				}
				a:hover{
					text-decoration: underline;
				}
			}
			li.feat-link{
				padding: 0 0 0 10px
			}
		}

		ul.filter1{
			max-width: 300px;
			width: 100%;
			@media all and (max-width: 991px){
				max-width: 100%;
			}
			li.mobile{
				position: relative;
			}
		}

		ul.filter2{
			max-width: 350px;
			width: 100%;

			li{
				span{
					color: #FFF;
					font-weight: 700;
				}

			}
			li.pipe{
				color:  #22A6CE;
			}
			li.filter-wrap{
				position: relative;
			}
		}


	}
	h1{
		@include font-size(36);
		font-weight: 700;
		margin: 0 0 41px;
		@media all and (max-width: 991px){
			margin: 0 0 38px;
		}
	}
	.content{
		padding: 71px 0 148px;
		@media all and (max-width: 991px){
			padding: 30px 0 0;
		}
		.featured-speakers{
			width: 100%;
		}
		.featured-speakers.hide-for-large ul{
			padding: 0 15px;
		}
		.featured-speakers.hide-for-large li{
			max-width: 50%;
			margin: 0 0 15px;
			.designation{
				text-align: center;
			}
		}
		.horizontal{
			width: 100%;
			margin: 0 0 38px;
			@media all and (max-width: 991px){
				margin: 0;
			}
		}
		.col2{
			max-width: 370px;
		}
		.col3{
			max-width: 588px;
		}
		.col4{
			max-width: 820px;
		}
		.col5{
			max-width: 1125px;
		}
		.session-speakers{
			margin: 97px 0 0;
			@media all and (max-width: 991px){
				margin: 30px 0 0;
			}
			ul{
				@media all and (max-width: 576px){
					flex-flow: column wrap;
					align-items: center;
				}
				@media all and (max-width: 991px){
					max-width: 350px;
					width: 100%;
					margin: 0 auto;
				}
				li{
					
					@media all and (max-width: 991px){
						margin: 0 0 15px;
					}
					.right{
						@media all and (max-width: 991px){
							width: 170px;
						}
					}
				}

			}
		}
		ul{
			max-width: 100%;
		}
		ul.speaker-list{
			li{
				position: relative;
				a{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				@media all and (max-width: 991px){
					width: 100%;
				}
				img{
					@media all and (max-width: 991px){
						max-width: 77px;
					}
				}
			}
		}
	}
}

//contact

body.page-contact {
	.contact-wrapper {
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		p, ul {
			font-weight: 300;
		}
		p {
			color: #F7F7F7;
		}
		.row-alt {
			@media screen and(max-width: 768px) {
				margin-top: 0;

			}
		}
	}
}
//404 page
body.page-error {
	section#error-layout {
		@include background-size(cover);
		background-position: center center;
		background-image: url(../img/404-desktop.jpg);
		@include flex;
		@include align-items(center);
		justify-content: center;
		min-height: 635px;
		padding: 0 15px;
		position: relative;
		#error-content {
			position: relative;
			z-index: 1;
			@media screen and(max-width: 769px) {
				position: absolute;
				bottom: 40px;
				left: 0;
				padding: 0 15px;
				h1 {
					margin: 0;
					padding: 0;
				}
			}
		}
		h1 {
			$size: (90 / $baseFont) + 0em;
			@include responsive-font-size (4em, $size, 640px, 1200px, 0.1em);
		}
		@media screen and(max-width: 769px) {
			background-image: url(../img/404-mobile.jpg);
		}
		p {
			color: #F7F7F7;
			font-weight: 300;
		}
	}
	section#error-layout:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(10, 23, 31, 0.6);
	}
	section.footer {
		margin: 0;
	}
}


//medium screen
@media screen and(max-width: 1915px) and (max-height: 766px) {
	.page-home {
		.home-circle-magento, .home-circle-marketo {
			width: 240px !important;
			height: 240px !important;
			h4 {
				@media screen and(max-width: 590px) {
					font-size: 14px !important;
				}
				font-size: 17px !important;
				line-height: 1.3em !important;
			}
			p {
				font-weight: 300;
			}
		}
		.community-circle {
			width: 300px !important;
			height: 300px !important;
			left: 200px !important;
			@media screen and(max-width: 500px) {
				left: -25px !important;
				width: 250px !important;
				height: 250px !important;
			}
			.vert-align {
				height: 100%;
				h4 {
					font-size: 1.3em !important;
					margin: 5px 0 !important;
				}
			}
		}
	}
}

.page-home.disable-fixed .site-container .content-wrapper .homepage-content-wrapper .homepage-content.hpc1 .marquee .marquee-content {
	@media all and (max-width: 991px){
		top: 0;
	}
}
.page-home.disable-fixed .site-container .content-wrapper .homepage-content-wrapper .homepage-content.hpc1{
	@media all and (max-width: 991px) {
		 height: 650px;
	}
}

.page-home .homepage-content-wrapper .homepage-content.hpc1 .home-circles-max .home-circles-wrapper .home-circle-magento,
.page-home .homepage-content-wrapper .homepage-content.hpc1 .home-circles-max .home-circles-wrapper .home-circle-marketo{
	width: 250px;
	height: 250px;
}

@media all and (max-width: 576px) {
	.page-home .home-circle-magento, .page-home .home-circle-marketo {
		width: 135px !important;
		height: 135px !important;
	}
}

@media all and (min-width: 577px) and (max-width: 767px){
	.page-home .home-circle-magento, .page-home .home-circle-marketo {
		width: 200px !important;
		height: 200px !important;
	}
}

@media all and (max-width: 320px) {
	.page-home .home-circle-magento, .page-home .home-circle-marketo {
		width: 115px !important;
		height: 115px !important;
		h4 {
			font-size: 12px !important;
		}
	}
	.marquee {
		top: 2%;
	}
	.page-home .homepage-content-wrapper .homepage-content .homepage-speakers-wrapper .speaker .speaker-image {
		width: 75px;
		height: 75px;
	}
	.page-home .homepage-content-wrapper .homepage-content .homepage-speakers-wrapper .speaker .speaker-info p {
		display: none;
	}
	.page-home .homepage-content-wrapper .homepage-content .homepage-speakers-wrapper .speaker {
		padding: 5px 30px;
	}
	.connect-2 {
		height: 140px !important;
	}
	.page-home .homepage-content-wrapper .homepage-content .homepage-speakers-wrapper {
		padding-top: 235px;
	}
}

.accordion-title::before {
    content: '+';
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.5rem;
}
.is-active > .accordion-title::before {
    content: '–';
}

//circle

.connect-circle {
	//display: inline-block;
	// background-image: url(/assets/img/connect-circle.png);
	// background-color: #000;
	// background-position: top center;
	// background-size: cover;
	// background-repeat: no-repeat;
	// height: 500px;
	// width: 500px;
	position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 402px;
    height: 402px;
    transform: matrix(-0.99, -0.14, 0.14, -0.99, 0, 0);
    background: transparent linear-gradient(270deg, #1080AE 0%, #2CA8CF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
	@include border-radius(50%);
	z-index: -1;

	@include breakpoint(1132px down) {
		height: 400px;
		width: 400px;
	}
	@include breakpoint(small down) {
		width: 280px;
		height: 280px;
		left: -77px;
		top: 321px;
		margin: 0;
		display: none;
	}
	@media screen and (max-width: 420px) and (max-height: 810px) {
		width: 220px;
		height: 220px;
	}
	@media screen and (max-width: 420px) and (max-height: 736px) {
		left: -50px;
	}
}
.connect-1 {
	display: inline-block;
	background-image: url(/assets/img/connect-01.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 257px;
	width: 257px;
	position: absolute;
	left: 320px;
	top: 10px;
	@include breakpoint(1170px down) {
		// height: 220px;
		// width: 220px;
	}
	@include breakpoint(993px down) {
		//height: 140px;
		//width: 140px;
		// top: 50px;
	}
	@include breakpoint(small down) {
		height: 80px;
		width: 80px;
		left: 20px;
		top: 550px;
		display: none;
	}
	@media screen and (max-width: 420px) and (max-height: 810px) {
		//top: 390px;
	}
	@media screen and (max-width: 420px) and (max-height: 736px) {
		//top: 500px;
	}
	@media screen and (max-width: 420px) and (max-height: 667px) {
		//top: 460px;
	}
}
.connect-2 {
	display: inline-block;
	background-image: url(/assets/img/connect-02.png);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 290px;
	@media screen and(max-width: 576px) {
		height: 200px;
	}
	width: 412px;
	position: absolute;
	right: 170px;
	top: 270px;
	@include breakpoint(1356px down) {
		right: 0;
	}
	@include breakpoint(1132px down) {
		// height: 300px;
		// width: 300px;
	}
	@include breakpoint(993px down) {
		// height: 250px;
		// width: 250px;
	}
	@include breakpoint(small down) {
		// width: 285px;
		// height: 285px;
		// left: 40px;
		// top: 250px;
		top: 10%;
		width: 100%;
		right: 0;
		left: 0;
	}
	@media screen and (max-width: 420px) and (max-height: 810px) {
		// width: 150px;
		// height: 150px;
	}
}

.connect-content {
	position: absolute;
	bottom: 150px;
	width: 280px;
	@include breakpoint(small down) {
		top: 545px;
		bottom: auto;
		right: 40px;
		left: 120px;;
		width: auto;
		min-width: 240px;
	}
	@media screen and (max-width: 420px) and (max-height: 810px) {
		top: 380px;
	}
	@media screen and (max-width: 420px) and (max-height: 736px) {
		top: 450px;
	}
	@media screen and (max-width: 420px) and (max-height: 667px) {
		top: 410px;
	}
	h1 {
		font-weight: 800;
		font-size: 40px;
		/* color: $summit-white; */
		margin-bottom: 20px;
		letter-spacing: 0.02em;
		line-height: 36px;

		@include breakpoint(small down) {
			font-size: 32px;
		}
	}
	p {
		font-size: 16px;
		color: $summit-lightgrey;
		letter-spacing: 0.02em;
		line-height: 22px;
		@include breakpoint(small down) {
			font-size: 14px;
			font-weight: 400;
			padding-right: 5px;
			max-width: 209px;
		}
	}
}
//HEADER ADJUSTMENT
.event-info{
	span{
		font-size: 12px;
		color: #909090;
		font-weight: 700;
	}
}
.nav-wrapper .nav-event-info .signin-button a{
	letter-spacing: 0.42px;
	opacity: 1;
	font-size: 14px;
	line-height: unset;
}
// HOMEPAGE ADJUSTMENTS
.vert-align{
	height: 100%;
}
.nav-wrapper .global-nav .summit-logo{
	min-width: 250px;
}
.nav-wrapper .global-nav .summit-logo .logo-text-wrapper span{
	font-size: 10px;
}
.page-home .homepage-content-wrapper .homepage-content.hpc1 .marquee .marquee-content h1{
	font-weight: 700;
}
.page-home .homepage-content-wrapper .homepage-content.hpc1 .home-circles-max .home-circles-wrapper .home-circle-magento, .page-home .homepage-content-wrapper .homepage-content.hpc1 .home-circles-max .home-circles-wrapper .home-circle-marketo{
	width: 290px;
	height: 290px;
}
.page-home .homepage-content-wrapper .homepage-content .homepage-speakers-wrapper .speaker .speaker-info h4{
	font-weight: 600;
}
.page-home .homepage-content-wrapper .homepage-content .homepage-speakers-wrapper .speaker .speaker-info p{
	font-weight: 300;
	margin: 0;
}
.page-home .slide-content h1{
	font-size: 40px;
}

#countdown h3{
	font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 28px;
    color: #31AFD4;
    text-transform: uppercase;
}
.homepage-content.hpc6{
	background-color: #EB604E;
	.footer.summit-sienna{
		height: 100%;
	}
}

body.page-home .nav-wrapper .mobile-nav{
	background: #0a171f;
}

.content-slider-mobile ul.slick-dots{
	list-style: none;
	margin-top: 20px;
	display: inline-block;
    text-align: center;
    width: 100%;
	z-index: 10;
	position: relative;
	button{
		cursor:pointer;
	}
	li{
		display: inline-block;
		margin: 0 10px 0 0;
		button{
			color: transparent;
		}
	}
}
.content-slider-controls{
	margin-top: -44px;
	color: #C7C7C7;
}
body.page-community section#community .content-slider{
	margin: 0;
}
section#community{
	.session-list-mobile{
		margin: 15px 0 0;
		max-width: 95%;
			ul{
				list-style: none;
			li{
				a.dott{
					background: url(../img/dot-mobile.png) no-repeat;
					height: 14px;
					width: 14px;
				}
				a.dott:hover,a.dott.active{
					background: url(../img/dot-mobile-active.png) no-repeat;
				}
			}
		}
	}
	@media screen and(max-width: 576px) {
		section.footer {
			margin: 65px 0 0 0;
			.divider {
				margin: 0 !important;
			}
		}
	}
}


section.footer {
	margin: 100px 0 0 0;
}

@media screen and(max-width: 579px) {
	h1.page-headline {
		font-size: 24px !important;
		line-height: 1.1em;
	}
	.sponsors  {
		ul#sponsor-accordion {
			li {
				padding: 10px 0 !important;
				a {
					font-size: 16px !important;
				}
				ul.sponsor-list {
					li {
						padding: 0 0 5px 0 !important;
					}
				}
			}
		}
	}
}
h1.page-headline {
	font-weight: 700 !important;
}