{{> header}}
<body class="page-community">
    {{> nav community=true}}
    <div class="content-wrapper">
        <!--section start-->
        <section class="two-column-centered-layout">
            <div class="entry">
                <div class="page-header">
                <p class="page-eyebrow">The digital experience community</p>
                <h1 class="page-headline">Connect with other fearless marketers to learn, share and be inspired.</h1>
                </div>
            </div>
        </section>
        <section class="overlapping-flex-grid-layout" id="community">
           <!--start mobile slide-->
           <div class="content-slider hide-for-medium slick-slider clc-slider">
            <div class="overlapping-rows slick-slide">
                <div class="overlapping-image">
                  <img src="/assets/img/community/who-we-are.jpg" class="img-responsive" alt="Adobe Symposium 2020 Who We Are">
                </div>
                <div class="overlapping-content">
                  <h2 class="uppercase-title">Who We Are</h2>
                  <hr class="short pink">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
                </div>
            </div>
            <div class="overlapping-rows slick-slide">
                <div class="overlapping-image">
                 <img src="/assets/img/community/how-we-connect.jpg" class="img-responsive" alt="Adobe Symposium 2020 How We Connect">
               </div>
               <div class="overlapping-content">
                 <h2 class="uppercase-title">How We Connect</h2>
                 <hr class="short pink">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
               </div>
             </div>
             <div class="overlapping-rows slick-slide">
                <div class="overlapping-image">
                  <img src="/assets/img/community/where-we-gather.jpg" class="img-responsive" alt="Adobe Symposium 2020 Where We Gather">
                </div>
                <div class="overlapping-content">
                  <h2 class="uppercase-title">Where We Gather</h2>
                  <hr class="short pink">
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
                </div>
              </div>
            <div class="overlapping-rows slick-slide">
              <div class="overlapping-image">
                <img src="/assets/img/community/how-we-learn.jpg" class="img-responsive" alt="Adobe Symposium 2020 How We Learn">
              </div>
              <div class="overlapping-content">
                <h2 class="uppercase-title">How We Learn</h2>
                <hr class="short pink">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
              </div>
            </div>
            <div class="overlapping-rows slick-slide">
              <div class="overlapping-image">
                <img src="/assets/img/community/how-we-celebrate.jpg" class="img-responsive" alt="Adobe Symposium 2020 How We Celebrate">
              </div>
              <div class="overlapping-content community">
                <h2 class="uppercase-title">How We Celebrate</h2>
                <hr class="short pink">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
              </div>
            </div>
            
            
            
           </div>     
           <div class="session-list session-list-mobile hide-for-large">
              <ul class="grid-x align-justify align-middle content-slider-topics">
                  <li>
                      <a  class="prev"><img src="/assets/img/ChevronLeft.png" alt=""></a>
                  </li>
                  <li>
                      <a href="" class="clc clc01 dott active"></a>
                  </li>
                  <li>
                      <a href="" class="clc clc02 dott"></a>
                  </li>
                  <li>
                      <a href="" class="clc clc03 dott"></a>
                  </li>
                  <li>
                      <a href="" class="clc clc04 dott"></a>
                  </li>
                  <li>
                      <a href="" class="clc clc05 dott"></a>
                  </li>
                  <li>
                      <a class="next"><img src="/assets/img/ChevronRight.png" alt=""></a>
                  </li>
              </ul>
          </div>
            <!--end mobile slide-->
            <div class="overlapping-rows show-for-medium">
                <div class="row row-1">
                  <div class="medium-6 overlapping-image">
                    <img src="/assets/img/community/who-we-are.jpg" class="img-responsive" alt="Adobe Summit 2020 Who We Are">
                  </div>
                  <div class="medium-6 overlapping-content">
                    <h2 class="uppercase-title">Who We Are</h2>
                    <hr class="short pink">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
                </div>
                </div>
                <div class="row row-2 row-alt">
                  <div class="medium-6 overlapping-image">
                    <img src="/assets/img/community/how-we-connect.jpg" class="img-responsive" alt="Adobe Summit 2020 How We Connect">
                  </div>
                  <div class="medium-6 overlapping-content">
                    <h2 class="uppercase-title">How We Connect</h2>
                    <hr class="short pink">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                </div>
                <div class="row row-3">
                  <div class="medium-6 overlapping-image">
                    <img src="/assets/img/community/where-we-gather.jpg" class="img-responsive" alt="Adobe Summit 2020 Where We Gather">
                  </div>
                  <div class="medium-6 overlapping-content">
                    <h2 class="uppercase-title">Where We Gather</h2>
                    <hr class="short pink">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                </div>
                <div class="row row-4 row-alt">
                  <div class="medium-6 overlapping-image">
                    <img src="/assets/img/community/how-we-learn.jpg" class="img-responsive" alt="Adobe Summit 2020 How We Learn">
                  </div>
                  <div class="medium-6 overlapping-content">
                    <h2 class="uppercase-title">How We Learn</h2>
                    <hr class="short pink">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                </div>
                <div class="row row-5 row-last">
                  <div class="medium-6 overlapping-image">
                    <img src="/assets/img/community/how-we-celebrate.jpg" class="img-responsive" alt="Adobe Summit 2020 How We Celebrate">
                  </div>
                  <div class="medium-6 overlapping-content">
                    <h2 class="uppercase-title">How We Celebrate</h2>
                    <hr class="short pink">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
              </div>
        </section>
        <section id="quote-com">
            <div class="entry">
                <div class="quote-module pink">
                    <div class="row">
                    <div class="medium-6" id="qme">
                        <img src="/assets/img/global/quote-icon.svg" class="quote-icon img-responsive" alt="Adobe Summit 2020 Quote Icon">
                        Insert Quote from 2019 India Symposium attendee here, Lorem ipsum dolor amet.
                        <p class="quote-author">
                            2019 Attendee
                        </p>
                    </div>
                    </div>
                </div>    
            </div>  
        </section>  
{{> footer-new}}