// --------------------------------------------------
// Config
// --------------------------------------------------

// --------------------------------------------------
// Colors
// --------------------------------------------------

$body-background:       #0A171F;
$body-font-color:       #C7C7C7;
$nav-bg-color:          #0A171F;
$nav-font-color:        #F7F7F7;
$footer-background:     #E84855;

$accent-color:          #F5CB5C;
$cta-blue:              #2680EB;
$cta-blue-active:       #1473E6;

$black:                 #000000;
$white:                 #FFFFFF;
$black-56:              #707070;
$black-69:              #505050;
$black-80:              #333333;
$black-84:              #282828;
$charcoal:              #212121;
$dark-gray:             #212121;
$light-gray:            #F7F7F7;
$light-grey:            #F7F7F7;
$pale-gray:             #FAFAFA;

$colors: (
  white:                 #FFFFFF,
  black:                 #141414,
  charcoal:              #212121,
  dark-gray:             #212121,
  light-gray:            #F7F7F7,
  pale-gray:             #FAFAFA,

  summit-purple:         #8B6AD0,
  summit-pink:           #E96187,
  summit-green:          #81BC00,
  summit-lightgreen:     #2BA84A,
  summit-grey:           #BCBCBC,
  summit-turquoise:      #00BCBC,
  summit-blue:           #2680EB,
  summit-salmon:         #F78497,
  /*
  summit-yellow:         #F5CB5C,
  */
  summit-yellow:         #FCB239,
  summit-yellowalt:      #CDDB02,
  summit-mustard:				 #cedc03,
  summit-speaker-gray:   #AFAFAF,
  summit-red:            #E84855,
  summit-black:          #070707
);

$summit-coral:          #E84855;
$summit-purple:         #8B6AD0;
$summit-lightpurple:    #988BFE;
$summit-pink:           #E96187;
$summit-green:          #81BC00;
/* $summit-green:            #2BA84A; */
$summit-turquoise:      #00BCBC;
$summit-blue:           #2680EB;
/* $summit-blue:             #31AFD4; */
$summit-salmon:         #F78497;
/*
$summit-yellow:         #F5CB5C;
*/
$summit-yellowalt:      #CDDB02;
$summit-mustard:				#cedc03;
$summit-white:          #F7F7F7;
$summit-grey:           #505050;
$summit-lightgrey:      #C7C7C7;
$summit-textgrey:       #707070;
$summit-legalgrey:      #909090;
$summit-bordergrey:     #282828;
$summit-pricinggrey:    #353535;
$summit-orange:         #FF9B71;
/* $summit-orange:           #FF661A; */
$summit-textorange:     #FF661A;
$summit-light-orange:   #FF9B71;
$summit-yellow:         #FCB239;
$summit-black:          #070707;
$summit-textblack:      #0A171F;
$summit-borderblack:    #333333;
$summit-red:            #E84855;
$summit-lightblue:      #31AFD4;
$summit-lightgreen:     #2BA84A;
$summit-quotegreen:     #76AE0A;
$summit-lime:           #76AE0A;
$summit-sienna:         #EB604E;
$summit-pumpkin:        #EB604E;
$summit-citrus:         #E3FC25;

// --------------------------------------------------
// Buttons
// --------------------------------------------------

$button-text:             #0A171F;
$button-hover:            #CBCBC8;
$button-blue:             #1473E6;
$button-blue-hover:       #0D66D0;

// --------------------------------------------------
// Dimensions
// --------------------------------------------------

$site-max-width:      1280px;
$container-width:     1280px;

$section-width-1200:  1200px;
$section-width-1120:  1120px;
$section-width-900:   900px;
$section-width-700:   800px;
$section-width-700:   700px;

$nav-height:          70px;
$nav-height-mobile:   50px;

// --------------------------------------------------
// Spacing
// --------------------------------------------------

$vertical-spacing-large:   100px;
$vertical-spacing-medium:  60px;
$vertical-spacing-small:   40px;
$vertical-spacing-xsmall:  30px;

$horizontal-spacing-large:  80px;
$horizontal-spacing-medium: 45px;
$horizontal-spacing-small:  30px;
$horizontal-spacing-xsmall: 20px;

// --------------------------------------------------
// Text
// --------------------------------------------------

$heading-font-family:         'adobe-clean', sans-serif;
$body-font-family:            'adobe-clean', sans-serif;
$body-font-family-condensed:  'adobe-clean-condensed', sans-serif;
$body-text-size-mobile:       16px;
$body-text-size-desktop:      18px;
$body-font-weight:            400;
