body {
  background-color: $body-background;
  overflow: auto;
  font-size: $body-text-size-mobile;
  line-height: 22px;
  overscroll-behavior: none;

  @include breakpoint(large) {
    font-size: $body-text-size-desktop;
    line-height: 24px;
  }

  &.page-home {
    overflow: hidden;
  }
  &.nav-open {
    overflow: hidden;
  }
}

.content-wrapper {
  padding-top: 55px;
  @include breakpoint(1146px up) {
    padding-top: 70px;
  }
  @include breakpoint(small down) {
    padding-top: 0;
  }
}

section {
  overflow: hidden;

	&.padded {
		padding-left: 40px;
		padding-right: 40px;
	}

	&.padded-left {
		padding-left: 40px;
	}

	@include breakpoint(medium down) {
		&.padded {
			padding-left: 0;
			padding-right: 0;
		}

		&.padded-left {
			padding-left: 0;
		}
	}
}

.constrain {
  max-width: $site-max-width;
  margin: 0 auto;
}

.content {
  padding-top: 140px;
  padding-bottom: 130px;
  max-width: $site-max-width;
  margin: 0 auto;

  &.blog-content {
    padding-bottom: 0;
  }

  &.medium {
    max-width: 1100px;
  }

  &.padding-top-10 {
    padding-top: 10px;
  }

  &.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include breakpoint(medium down) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row.space {
  margin-bottom: 10px;
}

.spacer-row {
  height: 100px;
}

.dark-space {
  height: 210px;
  margin-top: -70px;
  background: $charcoal;

  &.mobile-dark-space {
    height: 100px;
    margin-top: -40px;

    @include breakpoint(medium down) {
      margin-right: 20px;
    }

    &.medium-space {
      height: 70px;
    }

    &.small-space {
      height: 30px;
    }
  }
}

@each $breakpoint, $size in $breakpoints {
  @each $gutter, $gutter-size in $grid-column-gutter {
    @if $breakpoint == $gutter {
      @include breakpoint($breakpoint) {
        .row {
          margin-left:  -$gutter-size/2;
          margin-right: -$gutter-size/2;

          &.spaced {
            margin-bottom: $gutter-size;
          }
        }
      }
    }
  }
}

@each $color, $colorVal in $colors {
  .bg-#{$color}{
    background-color: $colorVal;
    &:before { background-color: $colorVal; }
  }
  .#{$color} {
    color: $colorVal;
  }
}

[class*="bg-stretch"] {
  position: relative;
  z-index: 1;

  &:before {
    height: 100%;
    position: absolute;
    width: 100vw;
    content: " ";
    z-index: -1;
    top: 0;
    -webkit-transform-style: preserve-3d;
    -webkit-transform:translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
  }
}

.align-top {
  align-self: flex-start;
}

.align-bottom {
  align-self: flex-end;
}

.on-top {
  z-index: 2;
}

.bg-stretch-left {
  &:before {
    right: 0;
  }
}

.bg-stretch-right {
  &:before {
    left: 0;
  }
}

.bg-overflow-top {
  &:before {
    bottom: 0;
    top: auto;
    height: calc(100% + 40px);
  }
}

.bg-overflow-bottom {
  &:before {
    top: 0;
    bottom: auto;
    height: calc(100% + 40px);
  }
}

@include breakpoint(medium down) {
  .bg-overflow-top-m {
    &:before {
      bottom: 0;
      top: auto;
      height: calc(100% + 40px);
    }
  }

  .bg-overflow-bottom-m {
    &:before {
      top: 0;
      bottom: auto;
      height: calc(100% + 40px);
    }
  }
}

@for $i from 0 through 24 {
  .order-#{$i} {
    order: #{$i};
  }

  @include breakpoint(medium down) {
    .order-m-#{$i} {
      order: #{$i};
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.max-490 {
  max-width: 490px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-30 {
  padding-top: 30px;

  @media screen and (max-width: 420px) and (max-height: 812px) {
    padding-top: 15px;
  }
}

.padding-bottom-90 {
  padding-bottom: 90px;

  @include breakpoint(small down) {
    padding-bottom: 0;
  }
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-bottom-140 {
  padding-bottom: 140px;
}

.padding-bottom-150 {
  padding-bottom: 150px;
}

.margin-top-10 {
  margin-top: 10px;
}

@include breakpoint(medium down) {
  .padding-bottom-m-7 {
    padding-bottom: 7px;
  }
}

.mobile-off-right {
  @include breakpoint(medium down) {
    margin-right: 20px;
  }
}

.vert-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}
.vert-align-left {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}
.vert-align-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.clearfix {
  clear: both;
}
