h1, h2, h3, h4, h5, h6 {
  font-family: 'adobe-clean', arial, sans-serif;
  color: $white;
}

h1 {
  &.page-headline {
    font-size: 34px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0.5px;
    margin-bottom: 23px;
    @include breakpoint(small down) {
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 55px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &.subpages {
      @include breakpoint(medium) {
        font-size: 32px;
        line-height: 36px;
      }
    }
    &.longer {
      @include breakpoint(medium) {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }
}

h2 {
  font-family: 'adobe-clean', arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.2;
  @include breakpoint(medium) {
    font-size: 28px;
  }
  &.uppercase-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    @include breakpoint(medium) {
      font-size: 22px;
    }
  }
}

h3 {
  font-family: 'adobe-clean', arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.2;
  @include breakpoint(medium) {
    font-size: 28px;
  }
  &.uppercase-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    @include breakpoint(medium) {
      font-size: 24px;
    }

    &.add-padding-top {
      padding-top: 70px;

      @include breakpoint(small down) {
        padding-top: 40px;
      }
    }
    &.add-margin-top {
      margin-top: 70px;

      @include breakpoint(small down) {
        margin-top: 40px;
      }
    }
  }
}

h4 {
  font-size: 16px;
  line-height: 22px;
  @include breakpoint(medium) {
    font-size: 18px;
    line-height: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 22px;
  @include breakpoint(medium) {
    font-size: 18px;
    line-height: 24px;
  }
  &.smaller {
    @include breakpoint(medium) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &.last {
    margin-bottom: 0;
  }
  &.page-eyebrow {
    margin-bottom: 6px;
    letter-spacing: 0.03em;
    @include breakpoint(small down) {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &+.button {
    margin-top: 15px;
  }
}

ul {
  font-size: 16px;
  @include breakpoint(medium) {
    font-size: 18px;
  }
  &.last {
    margin-bottom: 0;
  }
  li {
    line-height: 1.3;
  }
}

hr {
  &.tiny {
    width: 14px;
    border-bottom: 2px solid white;
    margin-left: 0;
  }
  &.short {
    width: 28px;
    border-bottom: 2px solid $white;
    margin: 25px 0px;
  }
  &.center {
    margin-left: auto;
    margin-right: auto;
  }
  &.top-40 {
    margin-top: 40px;
  }
  &.coral {
    border-color: $summit-coral;
  }
  &.green {
    border-color: $summit-lightgreen;
  }
  &.lime {
    border-color: $summit-lime;
  }
  &.orange {
    border-color: $summit-textorange;
  }
  &.pink {
    border-color: $summit-pink;
  }
  &.pumpkin {
    border-color: $summit-pumpkin;
  }
}

a {
  &.link-underline {
    color: inherit;
    text-decoration: underline;
  }
}

.line-break {
  @media (min-width: 1366px) {
    display: block;
  }
}

.no-wrap {
  @media (min-width: 1366px) {
    white-space: nowrap;
  }
}

a.inline {
  color: inherit;
  transition: opacity 0.3s;

  text-decoration: none !important;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  span {
    background-image: linear-gradient(#2D9AF3, #2D9AF3);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .6s;

    &.orange-line {
      background-image: linear-gradient(#FF661A, #FF661A);
    }
  }

  &.underline {
    text-decoration: underline;
  }
  &.no-underline {
    background: none;
  }

  &:hover {
    opacity: 0.6;
    color: inherit;

    span {
      background-size: 100% 1px;
    }
  }
}

.mini {
  font-size: 10px;
}

.small-12 {
  font-size: 12px;
  line-height: 1.3;
}

.small {
  font-size: 14px;
  line-height: 1.3;
}

.average {
  font-size: 15px;
  line-height: 1.3;
}

.large {
  font-size: 18px;
  line-height: 1.25;
}

.no-margin {
  margin: 0;
}

.light {
  font-weight: 100;
}

.normal {
  font-weight: 400;
}

.heavy {
  font-weight: 800;
}

.light-text{
  color: white;
}

.center-text {
  text-align: center;
}

.inline {
  display: inline;
}

@each $color, $colorVal in $colors {
  .color-#{$color}{
    color: $colorVal;
  }
}
