{{> header}}

<body>
  {{> nav agenda=true}}
  <div class="content-wrapper">
    <div class="page-banner agenda cover grid-y align-right large-align-center large-align-middle">
      <div class="cell grid-y align-center-middle">
        <h1 class="page-headline">
          Agenda
        </h1>
        <p class="page-eyebrow text-center">This curated one-day event includes inspiring keynote presentations,
          hands-on workshops, and immersive activations.</p>
      </div>
    </div>

    <section class="agenda">
      <div class="page-content">
        <div class="wrapper">
          <div class="head">
            <span>AGENDA</span>
            <h2>Symposium Day</h2>
            <small>Tuesday 26 May, 2020</small>
          </div>
          <div class="body">
            <ul>
              <li>
                <h6>Registration</h6>
                <span>7:00 am - 9:00 am</span>
              </li>
              <li class="grid-x align-justify">
                <div class="tc tc1">
                  <h6>Welcome / Keynote</h6>
                  <span>9:00 am - 12:30 pm</span>
                </div>
                <div class="tc tc2 desc">
                  <div class="desc-content hide">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatibus commodi nam fuga
                      voluptatem, nemo nobis, accusantium saepe exercitationem rerum neque, possimus ab totam harum in
                      repudiandae amet praesentium explicabo?</p>
                    <div class="details grid-x align-justify align-start">
                      <div class="icon grid-x align-center">
                        <img src="/assets/img/icon.png" alt="">
                      </div>
                      <div class="address">
                        <span>Room Detail <br> Hall 5</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tc tc3">
                  <a href="javascript: void(0);" class="show-desc tg grid-x"></a>
                </div>
              </li>
              <li>
                <h6>Lunch &amp; Networking</h6>
                <span>12:30 pm - 2:00 pm</span>
              </li>
              <li>
                <h6>Breakout Sessions</h6>
                <span>2:00 pm - 5:30 pm</span>
              </li>
              <li>
                <h6>Sneaks &amp; Locknote</h6>
                <span>5:30 pm - 7:00 pm</span>
              </li>
              <li>
                <h6>Networking Reception</h6>
                <span>7:00 pm- 8:00 pm</span>
              </li>
            </ul>

            <p>* Agenda is subject to change</p>
          </div>
        </div>
      </div>
    </section>
    {{> footer-new}}
