{{> header}}
<body class="page-sponsors-bio">
    {{> nav partners=true}}
    <div class="content-wrapper">
        <section id="return-link">
        <div class="entry">
            <a class="back-link" href="/partners">
                <i class="fa fa-angle-left"></i>
                Back to Partners
            </a>
        </div>
        </section>
        <section id="partners-bio">
            <div class="entry">
                <div class="column medium-6 small-12 add-padding-right show-for-medium">
                    <div id="left">
                        <img src="/assets/img/sponsors/ogilvy.png">
                        <a href="" class="button">Visit Website</a>
                        <ul id="socials">
                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="column medium-6 small-12 add-padding-right hide-for-medium">
                    <div id="left">
                        <img src="/assets/img/sponsors/ogilvy.png">
                    </div>
                </div>
                <div class="column medium-6 small-12 add-padding-left">
                    <div id="info">
                        <h1>Ogilvy</h1>
                        <p>Ogilvy is an award-winning integrated creative network that makes brands matter, specializing in creating experiences, design and communications.</p>
                        <p>Ogilvy India, a subsidiary of WPP, is one of the leading advertising agencies in India, having a presence since 1928.</p>
                        <p>Ogilvy India is the largest, most awarded, integrated communications agency in India. Verticurl is owned by The Ogilvy Group and part of the WPP network, the world’s largest communications services group. Verticurl helps multi-national organizations implement, maximize and optimize marketing technologies by delivering industry-leading solutions with speed, confidence, and a global delivery model that enables the success of their customers. The Verticurl team is made up of more than 700 demand generation professionals in 19 different countries. In 2018 Ogilvy created the ‘Ogilvy Marketing Technology Center of Excellence’ (Martech COE). This is a 900-person delivery centre that can support end-to-end Adobe solutions including Marketo and Magento.</p>
                    </div>
                </div>
                <div class="column medium-6 small-12 hide-for-medium">
                    <div id="left">
                        <a href="" class="button">Visit Website</a>
                        <ul id="socials">
                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="partners-bio-bottom">
            <div class="entry">
                <h2>Lorem Epsom heading</h2>
                <div id="bg-black">
                    <div class="column medium-7 small-12 add-padding-right">
                        <div id="info">
                            <h3>Lorem Ipsum title</h3>
                            <p>Lorem ipsum dolor amet sed chia PBR&B vape lorem do, incididunt succulents YOLO commodo deserunt. Affogato aute pop-up fixie. Hot chicken dolore reprehenderit, incididunt palo Santo VHS elit food truck tofu neutra authentic schlitz dolor adipisicing banjo.</p>
                            <a href="" class="button">Lorem Ipsum</a>
                        </div>
                    </div>
                    <div class="column medium-5 small-12 add-padding-left">
                        <div id="right-bio" class="img-responsive">
                            <img src="/assets/img/video-thumbnail.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{{> footer-new}}