{{> header}}

<body>
    {{> nav agenda=true}}
    <div class="content-wrapper">

        <section class="catalog">
            <div class="page-content">
                <div class="back">
                    <a href="/agenda/sessions"> <img src="/assets/img/back@2x.png" alt=""> Back to Program</a>
                </div>
                <div class="session-overview">
                    <div class="wrapper grid-x align-center">
                        <div class="title grid-x align-center">
                            <h1 class="text-center">Digital Transformation and CXM: <br class="show-for-large">
                                Best Practices for Success </h1>
                            <h2 class="text-center">With Speaker Name, Speaker Name <br class="hide-for-large"> and
                                Speaker Name</h2>
                        </div>
                        <div class="description">
                            <p class="text-center">Customer experience management can be intimidating. And it’s about
                                more than technology. Most organisations are unprepared for the necessary and dramatic
                                shifts required in marketing strategy, organizational structure, governance, and
                                processes to support the Adobe Experience Cloud solutions. Learn how to do the work
                                before the work and get your company on board to prepare for the digital transformation
                                and establish a solid foundation to ensure success as you become masters of customer
                                experience management.</p>
                        </div>
                        <div class="grid-x align-center speakers">
                            <h2>About the Speakers</h2>
                            <ul class="grid-y large-grid-x align-spaced speaker-list">
                                <li>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="left">
                                            <div class="photo">
                                                <img src="/assets/img/ambareesh-murty.png" alt="">
                                            </div>
                                        </div>

                                        <div class="right grid-y align-left large-align-middle">
                                            <div class="name"><span>Ambareesh Murty</span></div>
                                            <div class="designation"><span>Founder & CEO | Pepperfry.com</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info grid-x large-grid-y align-spaced  large-align-center align-middle">
                                        <div class="left">
                                            <div class="photo">
                                                <img src="/assets/img/falguni-nadar.png" alt="">
                                            </div>
                                        </div>
                                        <div class="right grid-y align-left large-align-middle">
                                            <div class="name"><span>Falguni Nadar</span></div>
                                            <div class="designation"><span>Founder & CEO | Nykaa</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info grid-x large-grid-y align-spaced  large-align-center align-middle">
                                        <div class="left">
                                            <div class="photo">
                                                <img src="/assets/img/biswa-kalyan-rath.png" alt="">
                                            </div>
                                        </div>
                                        <div class="right grid-y align-left large-align-middle">
                                            <div class="name"><span>Biswa Kalyan Rath</span></div>
                                            <div class="designation"><span>Stand-up Comedian</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="time grid-y align-middle align-center">
                            <h3>FRIDAY, 28 MAY</h3>
                            <img src="/assets/img/green-line.png" alt="">
                        </div>
                        <div class="location grid-x align-center">
                            <ul class="grid-y large-grid-x align-middle large-align-justify">
                                <li>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/clock.png" alt="">
                                        </div>
                                        <div class="right grid-y large-align-middle">
                                            <strong>Time</strong>
                                            <span>9:00 - 10:30am <br class="show-for-large">(90 minutes)</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/pin.png" alt="">
                                        </div>
                                        <div class="right grid-y  large-align-middle">
                                        <strong>Location</strong>
                                        <span>Convention Centre <br>
                                            Level 4, Meeting Rom C4.10</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/category.png" alt="">
                                        </div>
                                        <div class="right grid-y  large-align-middle">
                                            <strong>Category</strong>
                                            <span>Email &amp; Omni-Channel <br> Marketing</span>
                                        </div>  
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="related-sessions">
                    <div class="wrapper">
                        <h1>Related Sessions</h1>
                        <ul>
                            <li class="grid-x align-justify align-middle">
                                <a href="/speakers/bio"></a>
                                <div class="description">
                                    <span>Opening Keynote</span>
                                    <p>With Suzanne Steele, Alvaro del Pozo, Steve Hammond, Alex Amado, The Presets,
                                        James Griffiths, John Travis, Holly Ransom, David Kline and Mark Szulc</p>
                                </div>
                                <div class="location">
                                    <span>150mins <br>
                                        Convention Centre Level 4 <br>
                                        Hall 5</span>
                                </div>
                            </li>
                            <li class="grid-x align-justify align-middle">
                                <a href="/speakers/bio"></a>
                                <div class="description">
                                    <span>Opening Keynote</span>
                                    <p>With Suzanne Steele, Alvaro del Pozo, Steve Hammond, Alex Amado, The Presets,
                                        James Griffiths, John Travis, Holly Ransom, David Kline and Mark Szulc</p>
                                </div>
                                <div class="location">
                                    <span>150mins <br>
                                        Convention Centre Level 4 <br>
                                        Hall 5</span>
                                </div>
                            </li>
                            <li class="grid-x align-justify align-middle">
                                <a href="/speakers/bio"></a>
                                <div class="description">
                                    <span>Opening Keynote</span>
                                    <p>With Suzanne Steele, Alvaro del Pozo, Steve Hammond, Alex Amado, The Presets,
                                        James Griffiths, John Travis, Holly Ransom, David Kline and Mark Szulc</p>
                                </div>
                                <div class="location">
                                    <span>150mins <br>
                                        Convention Centre Level 4 <br>
                                        Hall 5</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        {{> footer-new}}