{{> header}}
<body class="page-sponsors">
    {{> nav partners=true}}
    <div class="content-wrapper">
    <!--section start-->
    <section class="two-column-centered-layout">
            <div class="entry">
        <div class="page-header">
            <p class="page-eyebrow">Our sponsors can help you create better experiences</p>
                <h1 class="page-headline">Great products and services for the digital marketing industry.</h1>
            <p class="page-introduction padding-bottom-90">
                <a href="#" class="inline"><span>Interested</span></a> in becoming a Summit 2020 sponsor?
            </p>
        </div>
    </section>
    <section id="sponsor-section">
        <div class="show-for-large">
            <!--desktop sponsor-->
            <div class="sponsors sponsors-desktop">
                <h5 class="level-title">Platinum</h5>
                <ul class="sponsors-list">
                    <li>
                        <a class="title" href="/partners/bio">
                        <img src="/assets/img/sponsors/epsilon.png" alt="">
                        </a>
                    </li>
                </ul>
                <h5 class="level-title">Gold</h5>
                <ul class="sponsors-list">
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/logicserve.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/merkle.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/microsoft.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/ogilvy.png" alt="">
                        </a>
                    </li>
                </ul>
                <h5 class="level-title">Innovation</h5>
                <ul class="sponsors-list">
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/deloitte.png" alt="">
                        </a>
                    </li>
                </ul>
                <h5 class="level-title">Executive Engagement</h5>
                <ul class="sponsors-list">
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/branch.png" alt="">
                        </a>
                    </li>
                </ul>
                <h5 class="level-title">Showcase</h5>
                <ul class="sponsors-list">
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/embitel.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/icf.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/ogilvy.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/ogilvy.png" alt="">
                        </a>
                    </li>
                </ul>
                <h5 class="level-title">Lanyard</h5>
                <ul class="sponsors-list">
                    <li>
                        <a class="tile" href="/partners/bio">
                        <img src="/assets/img/sponsors/ogilvy.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <!--end desktop sponsor-->
        </div>
        <div class="content hide-for-large">
            <!--mobile sponsor-->
            <div class="sponsors sponsors-mobile">
                <ul id="sponsor-accordion" class="accordion arrow turquoise-highlight dual-accordion" data-accordion data-allow-all-closed="true" role="tablist">
                    <li class="accordion-item" data-accordion-item="">
                        <a href="#" class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false"><strong>Platinum</strong></a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                        <!--start platinum sponsors-->
                            <ul class="sponsor-list">
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Epsilon
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item="">
                        <a href="#" class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false"><strong>Gold</strong></a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                        <!--start platinum sponsors-->
                            <ul class="sponsor-list">
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Logicserve Digital
                                    </a>
                                </li>
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Merkle Sokrati
                                    </a>
                                </li>
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Microsoft
                                    </a>
                                </li>
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Ogilvy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item="">
                        <a href="#" class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false"><strong>Innovation</strong></a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                        <!--start platinum sponsors-->
                            <ul class="sponsor-list">
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Deloitte Digital
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item="">
                        <a href="#" class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false"><strong>Executive Management</strong></a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                        <!--start platinum sponsors-->
                            <ul class="sponsor-list">
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Branch
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item="">
                        <a href="#" class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false"><strong>Showcase</strong></a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                        <!--start platinum sponsors-->
                            <ul class="sponsor-list">
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Embitel
                                    </a>
                                </li>
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        ICF Next
                                    </a>
                                </li>
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        TeknoPoint
                                    </a>
                                </li>
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        MoonRaft
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item="">
                        <a href="#" class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false"><strong>Lanyard</strong></a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                        <!--start platinum sponsors-->
                            <ul class="sponsor-list">
                                <li>
                                    <a href="/partners/bio" class="tile slide-link">
                                        Dwao
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="entry">
        <div class="sponsors-contact">
            Contact <a href="mailto:sponsors@adobe-summit.com" class="inline"><span>Summit Sponsor team</span></a>.
        </div>
    </div>
    <section id="quote-sponsor">
        <div class="entry">
            <div class="quote-module pink">
                <div class="row">
                <div class="medium-6" id="qme">
                    <img src="/assets/img/global/quote-icon.svg" class="quote-icon img-responsive" alt="Adobe Summit 2020 Quote Icon">
                    Insert Quote from 2019 India Symposium attendee here, Lorem ipsum dolor amet.
                    <p class="quote-author">
                        2019 Attendee
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>
{{> footer-new}}