{{> header}}
<body class="page-home">
    {{> nav}}
    <div class="content-wrapper">
      <section class="homepage-content-wrapper">
          <div class="disable-slide-effect"></div>
          <div class="homepage-content hpc1">
            <div class="wrapper">
              <div class="marquee">
                <div class="marquee-content grid-x align-middle">
                  <div>
                    <h1>Gain insights, develop skills, and reimagine the customer experiences you’re creating.</h1>
                    <h3>
                      Join the leaders in marketing automation, analytics,
                      advertising, and commerce &mdash; it’s all happening at Summit.
                    </h3>
                    <h5><a href="">Register now</a></h5>
                  </div>
                </div>
              </div>
              <!--end marquee-->
              <div class="home-circles-max">
                <div class="home-circles-wrapper">
                    <div class="vert-align">
                        <div>
                            <div class="home-circle-magento">
                                <div class="circle-content">
                                    <h4>
                                    IMPORTANT INFO <br />GOES HERE
                                    </h4>
                                    <div class="divider show-for-medium"></div>
                                    <p class="show-for-medium">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit eiusmod tempor
                                    </p>
                                </div>
                            </div>
                            <div class="home-circle-marketo">
                                <div class="circle-content">
                                    <h4>
                                    IMPORTANT INFO <br />GOES HERE
                                    </h4>
                                    <div class="divider show-for-medium"></div>
                                    <p class="show-for-medium">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit eiusmod tempor
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--end wrapper-->
            <div id="countdown">
              <h3>The countdown is on:</h3>
              <div id="timer">
                <div class="days"></div>
                <div class="hours"></div>
                <div class="minutes"></div>
                <div class="seconds"></div>
              </div>
            </div>
          </div>
          <!--end hpc1-->
        <div class="homepage-content hpc2">
          <div class="vert-align">
            <div class="homepage-speakers-wrapper">
              <div class="show-for-medium">
                <div class="speaker small-left">
                  <div class="speaker-image speaker-pallavi"></div>
                  <div class="speaker-info">
                    <h4>Pallavi Singh</h4>
                    <p>Head - Marketing | MG Motor India</p>
                  </div>
                </div>
                <div class="speaker small-right">
                  <div class="speaker-image speaker-biswa"></div>
                  <div class="speaker-info">
                    <h4>Biswa Kalyan Rath</h4>
                    <p>Stand-up Comedian</p>
                  </div>
                </div>
                <div class="speaker small-left">
                  <div class="speaker-image speaker-falguni"></div>
                  <div class="speaker-info">
                    <h4>Falguni Nadar</h4>
                    <p>Founder & CEO | Nykaa</p>
                  </div>
                </div>
                <div class="speaker small-right">
                  <div class="speaker-image speaker-ambareesh"></div>
                  <div class="speaker-info">
                    <h4>Ambareesh Murty</h4>
                    <p>Founder & CEO | Pepperfry.com</p>
                  </div>
                </div>
              </div>
              <div class="hide-for-medium">
                <div class="small-speakers-set-1">
                  <div class="speaker small-left">
                    <div class="speaker-image speaker-kavita"></div>
                    <div class="speaker-info">
                      <h4>Kavita Nair</h4>
                      <p>Chief Digital Transformation Officer | Vodafone Idea Limited</p>
                    </div>
                  </div>
                  <div class="speaker small-right">
                    <div class="speaker-image speaker-boman"></div>
                    <div class="speaker-info">
                      <h4>Boman Irani</h4>
                      <p>Actor</p>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="speaker small-left">
                    <div class="speaker-image speaker-paul"></div>
                    <div class="speaker-info">
                      <h4>Paul Davies</h4>
                      <p>Senior VP, Client Services, Technology | Epsilon</p>
                    </div>
                  </div>
                  <div class="speaker small-right">
                    <div class="speaker-image speaker-ab"></div>
                    <div class="speaker-info">
                      <h4>Ab Gaur</h4>
                      <p>Founder & CEO | Verticurl</p>
                    </div>
                  </div>
                </div>
                <div class="small-speakers-set-2">
                  <div class="speaker">
                    <div class="speaker-image speaker-kavita"></div>
                    <div class="speaker-info">
                      <h4>Kavita Nair</h4>
                      <p>Chief Digital Transformation Officer | Vodafone Idea Limited</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-image speaker-boman"></div>
                    <div class="speaker-info">
                      <h4>Boman Irani</h4>
                      <p>Actor</p>
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="speaker">
                    <div class="speaker-image speaker-paul"></div>
                    <div class="speaker-info">
                      <h4>Paul Davies</h4>
                      <p>Senior VP, Client Services, Technology | Epsilon</p>
                    </div>
                  </div>
                  <div class="speaker">
                    <div class="speaker-image speaker-ab"></div>
                    <div class="speaker-info">
                      <h4>Ab Gaur</h4>
                      <p>Founder & CEO | Verticurl</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="show-for-medium">
                <div class="clear"></div>
                <div class="speaker">
                  <div class="speaker-image speaker-kavita"></div>
                  <div class="speaker-info">
                    <h4>Kavita Nair</h4>
                    <p>Chief Digital Transformation Officer |<br>Vodafone Idea Limited</p>
                  </div>
                </div>
                <div class="speaker">
                  <div class="speaker-image speaker-boman"></div>
                  <div class="speaker-info">
                    <h4>Boman Irani</h4>
                    <p>Actor</p>
                  </div>
                </div>
                <div class="speaker">
                  <div class="speaker-image speaker-paul"></div>
                  <div class="speaker-info">
                    <h4>Paul Davies</h4>
                    <p>Senior VP, Client Services,<br>Technology | Epsilon</p>
                  </div>
                </div>
                <div class="speaker hide-small">
                  <div class="speaker-image speaker-ab"></div>
                  <div class="speaker-info">
                    <h4>Ab Gaur</h4>
                    <p>Founder & CEO | Verticurl</p>
                  </div>
                </div>
                <div class="slide-content">
                  <span class="content-title">Speakers</span>
                  <h1>Get the<br class="show-for-medium" /> latest trends</h1>
                  <p>These are a few speakers from 2019 — check back for 2020 speakers.</p>
                </div>
              </div>
              <div class="slide-content hide-for-medium">
                <span class="content-title">Speakers</span>
                <h1>Get the<br class="show-for-medium" /> latest trends.</h1>
                <p>These are a few speakers from 2019 — check back for 2020 speakers.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="homepage-content hpc3">
          <div class="homepage-sessions-wrapper" id="session-top">
            <div class="slide-content">
              <span class="content-title">Sessions</span>
              <h1>Create better<br class="show-for-medium" /> experiences.</h1>
              <p>Learn more in our sessions across<br><a href="" class="inline">7 content tracks</a>.</p>
              <ul class="sessions-list">
                <li>Advertising </li>
                <li>Analytics & Data Management </li>
                <li>Content & Experience Management </li>
                <li>Experience-Driven Commerce </li>
                <li>Design-Led Customer Experiences </li>
                <li>B2B Marketing </li>
                <li>Email & Omni-Channel Marketing</li>
              </ul>
            </div>
            <!-- <div class="marquee-sessions"></div> -->
            <div class="connect-content-left">
              <div class="connect-circle"></div>
              <div class="connect-1"></div>
              <div class="connect-2"></div>
            </div>
          </div>
        </div>
        <div class="homepage-content hpc4">
          <div class="homepage-brands-wrapper">
            <div class="column medium-6 small-12 add-padding-right">
            <div class="marquee-brands"></div>
            </div>
            <div class="column medium-6 small-12 add-padding-left">
              <div class="brands-content-right">
                <div class="brands-flex">
                  <div>
                    <div class="slide-content">
                      <span class="content-title">Brands</span>
                      <h1>Hear proven ideas.</h1>
                      <p>
                        See how your peers create amazing experiences.<br />
                        These top brands attended in 2019.
                      </p>
                    </div>
                    <div class="brands">
                      <div class="row small-up-2 medium-up-3 show-for-medium">
                        <div class="column">
                          <div class="vert-align">
                            <img src="assets/img/sponsors/branch.png" />
                          </div>
                        </div>
                        <div class="column">
                          <div class="vert-align">
                            <img src="assets/img/sponsors/deloitte.png" />
                          </div>
                        </div>
                        <div class="column">
                          <div class="vert-align">
                            <img src="assets/img/sponsors/embitel.png" />
                          </div>
                        </div>
                        <div class="column">
                          <div class="vert-align">
                            <img src="assets/img/sponsors/epsilon.png" />
                          </div>
                        </div>
                        <div class="column">
                          <div class="vert-align">
                            <img src="assets/img/sponsors/icf.png" />
                          </div>
                        </div>
                        <div class="column">
                          <div class="vert-align">
                            <img src="assets/img/sponsors/logicserve.png" />
                          </div>
                        </div>
                      </div>
                      <div class="small-brands-set-1 hide-for-medium">
                        <div class="row small-up-2 medium-up-3">
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/branch.png" />
                            </div>
                          </div>
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/deloitte.png" />
                            </div>
                          </div>
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/embitel.png" />
                            </div>
                          </div>
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/epsilon.png" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="small-brands-set-2 hide-for-medium">
                        <div class="row small-up-2 medium-up-3">
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/branch.png" />
                            </div>
                          </div>
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/merkle.png" />
                            </div>
                          </div>
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/microsoft.png" />
                            </div>
                          </div>
                          <div class="column">
                            <div class="vert-align">
                              <img src="assets/img/sponsors/ogilvy.png" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="homepage-content hpc5">
          <div class="homepage-community-wrapper">
            <div class="community-circle">
              <div class="vert-align">
                <div class="circle-content circle-for-">
                  <img src="assets/img/homepage/quotes-styled.png">
                  <h4>
                    Insert Quote from 2019 India Symposium attendee here
                  </h4>
                  <p>
                    2019 Attendee
                  </p>
                </div>
              </div>
            </div>
            <div class="community-1"></div>
            <div class="community-content-right">
              <div class="slide-content">
                <span class="content-title">COMMUNITY</span>
                <h1>Connect with the Community.</h1>
                <p>
                  From analytics to advertising, from commerce to content creation, from
                  personalization to marketing automation, you’ll find so many ways to meet
                  other innovators like you.<br>
                  <br>
                  See the <a href="" class="inline">highlights</a> from Symposium 2019.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="homepage-content hpc6">
          {{> footer-new}}
        </div>
        <div class="homepage-controls-wrapper">
          <div class="page-indicator">0<span class="page-indicator-cur"></span> / 0<span class="page-indicator-max"></span>
          </div>
          <div class="page-controls"></div>
          <div class="page-arrows">
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
          </div>
        </div>

