.page-faq,
.page-imagine-faq {
  .faq-wrapper {
    padding: 90px 0 70px 0;
    @include breakpoint(small down) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .column {
      &.add-padding-right {
        padding-right: 45px;

        @include breakpoint(small down) {
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
        }

        .mobile-header-content {
          @include breakpoint(small down) {
            padding-bottom: 50px;
          }
        }

        img {
          &.hide-for-medium {
            width: 100%;
          }
        }
      }
      &.add-padding-left {
        // padding-left: 45px;
        // padding-top: 40px;

        @include breakpoint(small down) {
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      h5 {
        font-family: $body-font-family;
        font-size: 18px;
        font-weight: 300;
        color: #c7c7c7;
        line-height: 22px;
        letter-spacing: 0.02em;

        @include breakpoint(small down) {
          font-size: 16px;
          line-height: 22px;
        }
      }
      h2 {
        font-family: $heading-font-family;
        font-size: 32px;
     
        color: #fff;
        line-height: 36px;
        letter-spacing: 0.02em;

        @include breakpoint(small down) {
          font-size: 28px;
          line-height: 32px;
        }
      }

      .faq-entries {
        color: #fff;

        @include breakpoint(small down) {
          padding-top: 20px;
        }

        >.accordion {
          >.accordion-item {
            >.accordion-title {
              font-size: 16px;
              font-weight: 300;
            }
          }
        }

        .accordion-content {
          >ul {
            font-size: 14px;
            color: $summit-lightgrey;

            >li {
              a {
                padding-bottom: 0;
                font-size: 13px;
              }

              >ul {
                font-size: 14px;
                list-style-type: circle;

                >li {
                  >ul {
                    font-size: 13px;
                    list-style-type: square;
                    li {
                    
                    }
                  }
                }
              }
            }
          }

          .accordion-item {
            &.is-active {
              .accordion-title {
                span {
                  &.fix-left {
                    color: #31AFD4;
                  }
                }
              }
            }

            .accordion-title {
              span {
                &.fix-left {
                  float: left;
                }
              }
              .add-padding-left-15 {
                padding-left: 15px;
              }
            }
          }
        }

      }

      p {
        padding-top: 70px;
        color: $summit-lightgrey;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
      }
    }
  }
}

.accordion li .sub-accordion .accordion-content p {
  font-size: 13px !important;
}
.accordion.dual-accordion .sub-accordion li.is-active {
  margin-bottom: 30px !important;
  margin-top: 10px !important;
}