.page-contact {
  .page-headline {
    max-width: 340px;
    @include breakpoint(small down) {
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(medium) {
      max-width: 550px;
    }
  }
  .flex-grid-layout {
    .row {
      &.row-1 {
        .uppercase-title {
          &:first-of-type {
            margin-top: 35px;
            @include breakpoint(small down) {
              margin-top: 35px;
            }
          }
        }
      }
      &.row-last {
        @include breakpoint(small down) {
          margin-top: 0;
        }
      }
      p {
        color: $light-grey;
        &.multi-line {
          line-height: 1.3;
        }
        &.page-eyebrow {
          color: $body-font-color;
        }
        &:not(.page-eyebrow) {
          font-size: 14px;
          @include breakpoint(medium) {
            font-size: 16px;
          }
        }
      }
      ul {
        font-size: 16px;
        color: $light-grey;
      }
    }
  }
}