.page-certification {
	.two-column-centered-layout {
		.page-header {
			.page-headline {
				@include breakpoint(medium) {
					max-width: 600px;
				}
			}
			.page-introduction {
				@include breakpoint(medium) {
					max-width: 675px;
				}
				span {
					color: $summit-citrus;
				}
			}
		}
		.two-column-content {
			margin-top: 85px;
			margin-bottom: 90px;
			@include breakpoint(medium) {
				margin-top: 130px;
				margin-bottom: 120px;
			}
		}
	}
	.accordion {
		margin-bottom: 0;
		&.magento-accordion {
			.accordion-item {
				.accordion-title {
					.certification-name {
						min-width: 150px;
	      		@include breakpoint(medium) {
	      			min-width: 165px;
	      		}
					}
				}
			}
		}
    .accordion-item {
    	margin-bottom: 10px;
			border-bottom: 1px solid $black-84;
			
			&.no-border {
				border: none;
			}

      &.is-active {
      	.accordion-title {
      		&:before {
      			color: $summit-lightblue;
      		}
	      }
      }
      .accordion-title {
      	color: $black-56;
      	.certification-name {
      		min-width: 200px;
      		display: inline-block;
      		@media (max-width: 479px) {
      			margin-bottom: 0;
      		}
      		@include breakpoint(medium) {
      			min-width: 220px;
      		}
      	}
      	.certification-level {
      		color: $black-56;
      		display: inline-block;
      		@media (max-width: 479px) {
      			display: block;
      		}
      	}
      }
    }
	}
	
	.accordion.arrow.cert-accordion-mobile {
		>.accordion-item {
			&.is-active {
				border: none;

				.accordion-title {
					&:before {
						/* color: unset; */
					}
				}

				>.accordion-title {
					&:before {
						content: '\f106';
						font-family: FontAwesome;
						color: #31AFD4;
					}
				}
			}

			.accordion-title {
				&:before {
					content: '+';
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -15px;
					color: unset;
				}
			}

			>.accordion-title {
				&:before {
					content: '\f107';
					font-family: FontAwesome;
					margin-top: -10px;
					/*
					content: '\f106';
					font-family: FontAwesome;
					color: #31AFD4;
					*/
				}
			}

			.accordion-item {
				&.is-active {
					.accordion-title {
						&:before {
							content: '–';
							color: #31AFD4;
						}
					}
				}
			}
		}
	}
}