.flex-grid-layout {
  margin-top: 80px;
  @include breakpoint(medium) {
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 43px;
    padding-right: 43px;
  }
  &.hero-banner-mobile {
    @include breakpoint(small down) {
      margin-top: 0;
    }
    .hero-banner {
      @include breakpoint(small down) {
        height: 560px;
        text-align: center;
        margin-bottom: 45px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &.attend {
        /*
        background-image: url(/na/_assets/images/attend/attend-hero-mobile.jpg);
        @media (min-width: 376px) and (max-width: 767px) {
          background-position: center 30%;
        }
        */
        .hero-banner-headline {
          position: absolute;
        }
      }
      &.pricing {
        background-image: url(/na/_assets/images/attend/pricing-hero-mobile.jpg);
        @media (min-width: 376px) and (max-width: 767px) {
          background-position: center top;
        }
      }
      &.hotels {
        /*
        background-image: url(/na/_assets/images/attend/hotels-hero-mobile.jpg);
        */
        .hero-banner-headline {
          position: absolute;
        }
      }
      .page-headline {
        margin-bottom: 45px;
      }
    }
    .flex-grid-module {
      &.padding-20 {
        @include breakpoint(small down) {
          padding: 0px 20px;
        }
      }
      &.center-align {
        @include breakpoint(small down) {
          text-align: center;
        }
      }
    }
  }
  .row {
    max-width: 2560px;
    margin: 0;   
    @include breakpoint(medium) {
      margin-left: -20px;
      margin-right: -20px;
      align-items: flex-start;
    }
    @media (min-width: 1200px) {
      align-items: center;
    }
    &.align-top {
      @include breakpoint(medium) {
        align-items: flex-start;
      }
    }
    &.align-bottom {
      @media (min-width: 1024px) {
        align-items: flex-end;
      }
      .button {
        @include breakpoint(medium) {
          margin-bottom: 50px;
        }
      }
    }
    &.row-alt {
      margin-bottom: 70px;
      @include breakpoint(small down) {
        margin-top: 100px;
      }
      @include breakpoint(medium) {
        margin-top: 70px;
      }
      .flex-content {
        @include breakpoint(medium) {
          order: 1;
        }
      }
      .flex-image {
        @include breakpoint(medium) {
          order: 2;
        }
      }
    }
    &.row-last {
      margin-bottom: 100px;
      @include breakpoint(medium) {
        margin-bottom: 230px;
      }
    }
    .flex-grid-module {
      @include breakpoint(medium) {
        padding-left: 20px;
        padding-right: 20px;
      }
      &.flex-image {
        @include breakpoint(small down) {
          margin-bottom: 45px;
        }
        &.opacity-25 {
          opacity: 0.25;
        }
      }
      &.flex-content {
        @include breakpoint(small down) {
          padding-left: 20px;
          padding-right: 20px;
        }
        &.text-left-70 {
          @include breakpoint(large) {
            padding-left: 90px;
            padding-right: 50px;
          }
        }
        &.text-right-70 {
          @include breakpoint(large) {
            padding-left: 50px;
            padding-right: 90px;
          }
        }
        &.text-left-90 {
          @include breakpoint(large) {
            padding-left: 110px;
            padding-right: 70px;
          }
        }
        &.text-right-90 {
          @include breakpoint(large) {
            padding-left: 70px;
            padding-right: 110px;
          }
        }
      }
    }
  }
  &+.quote-module {
    @include breakpoint(medium) {
      margin-top: -130px;
    }
  }
}

.page-digital-learning-services, .page-magento-u {
  .page-headline {
    max-width: 340px;
    @include breakpoint(small down) {
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(medium) {
      max-width: 550px;
    }
  }
}