.overlapping-flex-grid-layout {
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(medium) {
    margin-top: 95px;
    margin-bottom: 140px;
    padding-left: 43px;
    padding-right: 43px;
  }
  .page-header {
    text-align: center;
    .page-headline {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(small down) {
        margin-bottom: 23px;
        padding-left: 0;
        padding-right: 0;
      }
      @include breakpoint(medium) {
        max-width: 600px;
      }
    }
    .page-introduction {
      max-width: 285px;
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(medium) {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .overlapping-rows {

    &.add-margin-top-175 {
      margin-top: 175px;

      @include breakpoint(small down) {
        margin-top: 115px;
      }
    }

    @include breakpoint(small down) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include breakpoint(medium) {
      margin-top: 115px;
    }
    .row {
      @include breakpoint(medium) {
        max-width: 2560px;
        align-items: center;
        margin-left: -20px;
        margin-right: -20px;
      }
      &.row-1 {
        .overlapping-content {
          @include breakpoint(large) {
            margin-bottom: 0;
          }
        }
      }
      &.row-last {
        .overlapping-content {
          @include breakpoint(large) {
            margin-top: 0;
          }
        }
      }
      &.row-alt {
        @include breakpoint(large) {
          margin-top: -20px;
          margin-bottom: -20px;
        }
        .overlapping-image {
          @include breakpoint(medium) {
            order: 2;
          }
        }
        .overlapping-content {
          @include breakpoint(medium) {
            order: 1;
          }
        }
      }
    }
    .overlapping-image {
      position: relative;

      @include breakpoint(medium) {
        padding-left: 20px;
        padding-right: 20px;
      }

      .mi-keynote-speaker-overlay {
        position: absolute;
        bottom: 30px;
        left: 20px;
        right: 0;

        h6 {
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0.02em;
          font-family: $body-font-family;
        }
        p {
          margin-bottom: 0;
          color: #707070;
          line-height: 18px;
          letter-spacing: 0.02em;
          font-family: $body-font-family;
        }
      }
    }
    .overlapping-content {
      @media (max-width: 374px) {
        min-height: 350px;
        background: $black;
        padding: 45px 20px;
      }
      @media (min-width: 375px) and (max-width: 767px) {
        min-height: 310px;
        background: $black;
        padding: 45px 20px;
      }
      @include breakpoint(medium) {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
      }
      @include breakpoint(large) {
        margin-top: -20px;
        margin-bottom: -20px;
      }
      h2 {
        @include breakpoint(medium) {
          margin-bottom: 0;
        }
      }
      hr {
        margin: 20px 0px;
        @include breakpoint(medium) { 
          margin: 20px auto;
        }
      }
      p {
        margin: 0;
        @include breakpoint(medium) {
          font-size: 16px;
        }
        @include breakpoint(large) {
          margin: 0px 95px;
        }
        br {
          @media (max-width: 374px) {
            display: none;
          }
          @media (min-width: 375px) {
            display: block;
          }
          @media (min-width: 768px) {
            display: none;
          }
          @media (min-width: 901px) {
            display: block;
          }
          @media (min-width: 1086px) {
            display: none;
          }
          @media (min-width: 1366px) {
            display: block;
          }
        }
      }
    }
  }
}