.page-sponsors,
.page-magento-imagine-sponsors {
	#sponsors-marquee {
		@include breakpoint(large down){
			height: 271px;

			.marquee-content {
				bottom: 52px;
			}
		}
  }
  
  .footer {
    @include breakpoint(small down) {
      margin-top: 20px;
    }
  }
	
	#sponsor-section {
		z-index: 2;
		/* opacity: 0.9999999; */
		
		.content {
      padding-top: 0;
      padding-bottom: 90px;
		}
		
		.custom-grid {
			margin-bottom: 30px;
      
      &.bash-experience-grid {
        margin-bottom: 0;
        grid-row-gap: 0;
        grid-column-gap: 20px;
      }

			.image-cell {
				padding: 0 0 0 30px;
			}
		}
		
		@include breakpoint(medium down){
			.content {
				padding: 0;
			}
		}
		
		@include breakpoint(small down){
			.custom-grid {
				grid-template-columns: 100%;
				margin-bottom: 0;
				
				.mobile-sponsors {
					order: 2;
				}
				
				.image-cell {
					order: 1;
					padding: 0;
					
					img {
						object-fit: fill;
						height: auto;
						width: 100%;
					}
				}
			}
		}
    
    .dark-space {
      margin-top: -240px;
      z-index: -1;
      
      &.mobile-dark-space {
        margin-top: -40px;
      }
    }


    .sponsors {
      padding: 0 90px;
      
      .level-title {
        color: $summit-textgrey;
        font-family: $body-font-family;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-bottom: 0;
        text-transform: uppercase;
      }

      .sponsors-block {
        max-width: 1335px;
        padding: 20px 0 24px 0;
        margin: 0;
        grid-row-gap: 0;
        grid-column-gap: 20px;

        .tile {
          background: $summit-black;
          height: 175px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-bottom: 20px;

          .arrow {
            content: "";
            display: none;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 28px solid #000;
            position: absolute;
            bottom: -36px;
            left: 41%;
          }

          &.sponsor-details {
            // display: none;
            background: #000;
            display: none;
            height: auto;
            grid-column-start: 1;
            grid-column-end: -1;
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 70px;
            padding-bottom: 70px;
            margin-top: 21px;
            margin-bottom: 15px;
            overflow: visible !important;

            .sponsor-logo {
              padding-right: 110px;
              max-width: 42%;
              display: flex;
              align-items: center;

              img {
                width: 100%;
              }
            }

            .sponsor-name {
              margin-bottom: 6px;
              color: #707070;
            }

            .sponsor-text {
              width: 58%;

              p {
                margin-bottom: 0;
              }
            }

            .sponsor-link-paragraph {
              margin-top: 30px;
            }

            .sponsor-content {
              height: 100%;
              width: 100%;
              display: flex;
              overflow: hidden;
            }

            &::before {
              content: "";
              background: #000;
              position: absolute;
              left: -100vw;
              width: 100vw;
              height: 100%;
              top: 0;
              z-index: -1;
            }

            &::after {
              content: "";
              background: #000;
              position: absolute;
              left: 0;
              width: 100vw;
              height: 100%;
              top: 0;
              z-index: -1;
            }
          }
        }

        @include breakpoint(large down) {
          .tile {
            height: 175px;
            margin-bottom: 40px;
          }

          padding-bottom: 47px;
        }

        @include breakpoint(small down) {
          grid-column-gap: 15px;

          .tile {
            margin-bottom: 15px;
            height: 175px;
          }
        }

        &.Platinum, &.Gold, &.Silver, &.Bronze, &.Exhibitor, &.Engagement, &.Showcase, &.Event {
          .tile {
            height: 78px;

            &.sponsor-details {
              height: auto;
            }
          }

          @include breakpoint(large down) {
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 15px;

            .tile {
              height: 130px;
              margin-bottom: 15px;
            }
          }

          @include breakpoint(small down) {
            .tile {
              height: 90px;
            }
          }
        }
        
        &.Platinum {
          .tile {
            height: 90px;
          }
          
          @include breakpoint(large down) {
            grid-template-columns: repeat(5, 1fr);
          }
        }
        
        &.Showcase {
          padding-bottom: 17px;
        }
      }
      
      .email {
        font-size: 17px;
      }
      
      &.sponsors-mobile {
        padding: 52px 30px 100px 30px;
        
        >p {
          font-family: $body-font-family;
          font-size: 16px;
          letter-spacing: 0.02em;
          line-height: 22px;
          color: $summit-lightgrey;
          padding-top: 60px;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        #sponsor-accordion {

          &.is-active {
            .accordion-item {
              &.is-active {
                .accordion-title {
                  color: #fff;

                  &:before {
                    color: #31AFD4;
                  }
                }
              }

              .accordion-title {
                color: $summit-grey;
                &:before {
                  color: $summit-grey;
                }
              }
            }
          }

          .accordion-item {
            padding-top: 35px;
            padding-bottom: 7px;
            padding-left: 20px;
            padding-right: 20px;
            border-bottom: 1px solid $summit-bordergrey;
          }
          
          .accordion-title {
            font-family: $body-font-family;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.02em;
            line-height: 24px;
            text-transform: uppercase;

            &:before {
              right: 0;
              color: #fff;
            }
          }
          
          .accordion-content {
            padding-top: 5px;
            padding-bottom: 6px;
            padding-left: 0;
          }
          .sponsor-list {
            list-style: none;
            margin-left: 0;
            line-height: 1.3;
            
            li a {
              font-family: $body-font-family;
              color: $summit-lightgrey;
              font-weight: 400;
              font-size: 16px;
              letter-spacing: 0.02em;
              line-height: 24px;
            }
          }
        }
      }

      .sponsors-contact {
        margin-top: 82px;
      }
    }
  }
}

.page-magento-imagine-sponsors {
  .sponsors {
    &.sponsors-desktop {
      .sponsors-block {
        a {
          cursor: default;
        }
      }
    }
    &.sponsors-mobile {
      .sponsor-list {
        a {
          cursor: default;
        }
      }
    }
  }
}