.two-column-centered-layout {
	margin-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
  @include breakpoint(medium) {
		margin-top: 95px;
    padding-left: 43px;
		padding-right: 43px;
  }
	.page-header {
		text-align: center;

		.page-eyebrow {
			letter-spacing: 0.02em;
		}

		.page-headline {
			max-width: 350px;
			margin-left: auto;
			margin-right: auto;
			@include breakpoint(small down) {
				margin-bottom: 23px;
			}
			@include breakpoint(medium) {
				max-width: 550px;
			}
		}
		.page-introduction {
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
			@include breakpoint(medium) {
				max-width: 650px;
			}
		}
	}
	.two-column-content {
		margin-top: 85px;
		margin-bottom: 60px;
		@include breakpoint(medium) {
			margin-top: 105px;
			margin-bottom: 120px;
		}
		.two-column-title {
			text-align: center;
			margin-bottom: 50px;
			@include breakpoint(small down) {
				font-size: 22px;
				text-align: left;
				margin-bottom: 35px;
			}

			&.text-center {
				text-align: center;
			}
		}
		.row {
			max-width: 2560px;
			margin-left: -20px;
			margin-right: -20px;
		}
		.two-column-module {
			padding-left: 20px;
			padding-right: 20px;
			display: flex;
			&.first {
				@include breakpoint(small down) {
					margin-bottom: 20px;
				}
			}
			.two-column-module-inner {
				width: 100%;
				height: 100%;
				background: $black;
			}
			.two-column-text {
				background: $black;
				padding: 45px 20px;
				@include breakpoint(medium) {
					padding: 45px;
				}
				.uppercase-title {
					margin-bottom: 20px;
					@include breakpoint(medium) {
						font-size: 22px;
					}
				}
				ul {
					font-size: 16px;
				}
				.view-all {
					font-size: 16px;
					margin-bottom: 0;
				}
			}
		}
	}
}