{{> header}}

<body>
    {{> nav speakers=true}}
    <div class="content-wrapper">

        <section class="bio">
            <div class="page-content">
                <div class="back">
                    <a href="/speakers"> <img src="/assets/img/back@2x.png" alt=""> Back to Speakers</a>
                </div>
                <div class="session-overview">
                    <div class="wrapper grid-x align-center large-align-justify">
                        <div class="name grid-y align-middle">
                            <img src="/assets/img/biswa-rath.png" alt="">
                            <h1>Biswa Kalyan Rath
                            </h1>
                            <h2>Stand-up Comedian</h2>
                            <ul class="grid-x align-spaced">
                                <li>
                                    <a href="">
                                        <img src="/assets/img/icon-fb.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/img/icon-twitter.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="/assets/img/icon-linkedin.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="background">
                            <p>
                                Remember the Pretentious Movie Reviews on YouTube? Good. Now forget them. That was just
                                a warm-up to comic Biswa Kalyan Rath’s full comedy prowess. The comedian has moved up a
                                few notches since his YouTube glory days and is using his IIT-Kharagpur education, along
                                with his knowledge of mathematics, language and life, to make jokes that have never been
                                cracked before. He recently released his comedy special, Biswa Mast Aadmi, to rave
                                reviews, with which he toured every pocket in India. Soon after, he released ‘Laakhon
                                Mein Ek’, a surprisingly dark web-series on the IIT coaching industry. Season 2 of the
                                acclaimed series is all set to release with more surprises. One of the most-followed
                                comedians in the country, Biswa’s angry rant-styled delivery and his unique perspective
                                turns every topic he touches into comedy gold, making audiences crack up instantly.The
                                stand-up comedian, writer, actor, size-zero enthusiast and blogger, has done countless
                                shows across all sorts of venues in the country and has managed to garner 14+ million
                                views on YouTube. Need we say more?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="related-sessions">
                    <div class="wrapper">
                        <h1>Speaker Sessions</h1>
                        <ul>
                            <li class="grid-x align-justify align-middle">
                                <!-- <a href="/speakers/bio"></a> -->
                                <div class="description">
                                    <span>Opening Keynote</span>
                                    <p>With Suzanne Steele, Alvaro del Pozo, Steve Hammond, Alex Amado, The Presets,
                                        James Griffiths, John Travis, Holly Ransom, David Kline and Mark Szulc</p>
                                </div>
                                <div class="location">
                                    <span>150mins <br>
                                        Convention Centre Level 4 <br>
                                        Hall 5</span>
                                </div>
                            </li>
                            <li class="grid-x align-justify align-middle">
                                <!-- <a href="/speakers/bio"></a> -->
                                <div class="description">
                                    <span>Opening Keynote</span>
                                    <p>With Suzanne Steele, Alvaro del Pozo, Steve Hammond, Alex Amado, The Presets,
                                        James Griffiths, John Travis, Holly Ransom, David Kline and Mark Szulc</p>
                                </div>
                                <div class="location">
                                    <span>150mins <br>
                                        Convention Centre Level 4 <br>
                                        Hall 5</span>
                                </div>
                            </li>
                            <li class="grid-x align-justify align-middle">
                                <!-- <a href="/speakers/bio"></a> -->
                                <div class="description">
                                    <span>Opening Keynote</span>
                                    <p>With Suzanne Steele, Alvaro del Pozo, Steve Hammond, Alex Amado, The Presets,
                                        James Griffiths, John Travis, Holly Ransom, David Kline and Mark Szulc</p>
                                </div>
                                <div class="location">
                                    <span>150mins <br>
                                        Convention Centre Level 4 <br>
                                        Hall 5</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
        {{> footer-new}}