
.accordion {
  background-color: transparent;
  border: 0;
  &.arrow {
    .accordion-item {
      &.is-active {
        .accordion-title {
          &:before {
            content: '\f106';
            font-family: FontAwesome;
            color: #31AFD4;
          }
        }
      }
      .accordion-title {
        &:before {
          content: '\f107';
          font-family: FontAwesome;
        }
      }
    }
  }
  .accordion-item {
    margin-bottom: 25px;

    .accordion-title {
      color: $white;
      padding: 0;
      border-bottom: 0;
      &:hover, &:focus {
        background: transparent;
      }
      &:before {
        font-size: 20px;
        top: 0;
        right: 10px;
        margin-top: 0;
      }
    }
    .accordion-content {
      background: transparent;
      padding: 0;
      border: 0;
    }
  }

  &.dual-accordion {
    font-family: $body-font-family;
    margin-bottom: 0;

    &.active-only {
      >li {
        &.is-active {
          a {
            color: #fff;
          }
        }

        a {
          color: $summit-textgrey;
        }
      }
    }

    >li {
      margin-bottom: 0;

      &.is-active {
        .accordion-title {
          &:before {
            color: $summit-lightblue;
          }
        }
      }

      >a {
        margin-bottom: 0;
        line-height: 40px;
      }
    }

    .accordion-title {
      &:before {
        color: $summit-textgrey;
        font-weight: 700;
      }
    }

    .sub-accordion {
      margin-bottom: 14px;

      li {
        margin-bottom: 0;
        transition: margin 0.3s linear;

        &.is-active {
          margin-top: 22px;
          margin-bottom: 22px;

          .session-span {
            color: #31AFD4;
          }

          .accordion-title {
            font-weight: 700;
          }
        }

        &:first-child {
          margin-top: 0;
        }

        .accordion-title {
          &.width-90 {
            width: 90%;
            display: inline-block;
          }
        }

        span {
          &.session-span {
            vertical-align: top;
          }
        }

        a {
          letter-spacing: 0.02em;
          line-height: 22px;
        }

        .accordion-content {
          p {
            font-family: $body-font-family-condensed;
            padding-bottom: 0;
            line-height: 18px;
          }
        }
      }
    }
  }

  &.sub-accordion {
    &.active-only {
      li {
        &.is-active {
          a {
            color: #fff !important;
          }
        }

        a {
          color: $summit-textgrey !important;
        }
      }
    }
  }

  li {
    > a {
      font-size: 18px;
      padding-left: 0;
      padding-bottom: 13px;
      padding-top: 0;
      color: #fff;
      border: none;
      transition: color 0.3s linear;
      
      &:before {
        margin-top: -1.1rem;
        font-size: 20px;
      }

      &:hover {
        background-color: transparent;
      }
    }

    .accordion-content {
      padding-left: 0;
      border-bottom: none;
      background-color: transparent;
    }

    .sub-accordion {
      a {
        font-size: 14px;
        padding-left: 0;

        &:before {
          display: none;
        }
      }

      .accordion-content {
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 15px;

        p {
          font-size: 14px;
          padding-top: 0;
          padding-bottom: 30px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.faq-entries {
  padding-top: 45px;

  &.tracks-list {
    padding-top: 0;
  }

  &>.accordion {
    &>.accordion-item {
      border-bottom: 1px solid $summit-bordergrey;  
    }
  }
}