.content-slider-mobile {
    width: 500px;
    margin: 0 auto;
  
    @include breakpoint(small down) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    ul.slick-dots {
      text-align: center;
      z-index: 10;
  
      @include breakpoint(small down) {
        padding-right: 40px;
  
      }
  
      li {
        text-align: center;
        width: auto;
  
        @include breakpoint(small down) {
          margin: 0 3px;
        }
  
        &.slick-active {
          button {
            background-image: url(../img/clc-dot-active.png);  
          }
        }
  
        button {
          content: "";
          background-image: url(../img/clc-dot.png);
          background-position: center;
          background-repeat: no-repeat;
          width: 6px;
          height: 6px;
          margin: 0 auto;
  
          &:hover {
            background-image: url(../img/clc-dot-active.png);  
          }
  
          &:before {
            display: none;
          }
        }
      }
    }
  
    .clc {
      background-color: #000;
      color: #fff;
  
      &.active {
        display: block;
      }
  
      display: none;
  
      .clc-wrapper {
        img {
          width: 100%;
        }
  
        .clc-content {
          padding: 40px 20px 50px 20px;
          
          .ma-version {
            padding-bottom: 16px;
  
            h4 {
              letter-spacing: 0.02em;
              font-size: 18px;
              line-height: 22px;
              font-weight: 700;
              font-family: $body-font-family;
              padding-bottom: 12px;
              padding-right: 20px;
            }
  
            p {
              font-family: $body-font-family;
              font-size: 16px;
              letter-spacing: 0.02em;
              line-height: 22px;
              color: $summit-lightgrey;
              margin-bottom: 0;
            }
          }
  
          .accordion {
            .accordion-item {
              &.is-active > .accordion-title::before {
                color: $summit-lightblue;
              }
  
              .accordion-title {
                &:focus {
                  outline: none;
                }
  
                h4 {
                  letter-spacing: 0.02em;
                  font-size: 18px;
                  line-height: 22px;
                  font-weight: 700;
                  font-family: $body-font-family;
                  padding-bottom: 12px;
                  padding-right: 20px;
                }
        
                p {
                  font-size: 20px;
                  letter-spacing: 0.02em;
                  line-height: 26px;
                  font-family: $body-font-family;
                }
              }
  
              .accordion-content {
                p {
                  font-family: $body-font-family;
                  font-size: 16px;
                  letter-spacing: 0.02em;
                  line-height: 22px;
                  color: $summit-lightgrey;
                  margin-bottom: 0;
                }
                ul {
                  color: $summit-lightgrey;
                  font-size: 16px;
                  letter-spacing: 0.02em;
                  line-height: 22px;
                }
              }
            }
          }
  
          h6 {
            font-family: $body-font-family;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.03em;
            position: relative;
            padding-top: 17px;
            margin-bottom: 12px;
  
            &.orange-line {
              &:after {
                background-color: $summit-textorange;
              }
            }
  
            &:after {
              position: absolute;
              content: "";
              bottom: -11px;
              left: 0;
              width: 14px;
              height: 2px;
              background-color: $summit-quotegreen;
            }
          }
        }
      }
    }
  }
  
  .content-slider-controls {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: -20px;
  
    @include breakpoint(medium down) {
      margin-bottom: 100px;
    }
  
    .page-indicator {
      @include breakpoint(small down) {
        padding-left: 20px;
        font-size: 12px;
        letter-spacing: 0.03em;
        line-height: 16px;
        color: $summit-grey;
      }
    }
  
    .page-arrows {
      display: inline;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 20;
  
      @include breakpoint(small down) {
        right: 20px;
      }
  
      a {
        color: $summit-grey;
  
        &:hover, &:active {
          color: $summit-lightgrey;
  
          &.prev {
            background-image: url(../img/arrow-prev-active.png);
          }
          &.next {
            background-image: url(../img/arrow-next-active.png);
          }	
        }
  
        &.prev {
          background-image: url(../img/arrow-prev-inactive.png);
          background-size: 10px 6px;
          background-repeat: no-repeat;
          background-position: center;
          width: 10px;
          height: 6px;
          display: inline-block;
          padding: 10px;
          vertical-align: bottom;
          transition: background-image 0.2s linear;
          transform: rotate(-90deg);
        }
  
        &.next {
          background-image: url(../img/arrow-next-inactive.png);
          background-size: 10px 6px;
          background-repeat: no-repeat;
          background-position: center;
          width: 10px;
          height: 6px;
          display: inline-block;
          padding: 10px;
          vertical-align: bottom;
          transition: background-image 0.2s linear;
          transform: rotate(-90deg);
        }
      }
  
    }
  }
  
  .content-slider-large {
    color: #fff;
  
    .content-slider-left {
      position: relative;
      margin-bottom: 70px;
  
      .content-slider-topics {
        padding-right: 10px;
        position: relative;
        padding-top: 115px;
  
        a {
          display: block;
          text-align: right;
          position: relative;
          padding-right: 24px;
          padding-top: 7px;
          padding-bottom: 7px;
          font-size: 18px;
          color: $summit-textgrey;
          transition: color 0.3s linear;
  
          &:hover, 
          &.active {
            color: #fff;
            font-weight: 700;
  
            &:after {
              background-image: url(../img/clc-dot-active.png);  
            }
          }
  
          &:after {
            content: "";
            background-image: url(../img/clc-dot.png);
            background-position: center;
            background-repeat: no-repeat;
            width: 6px;
            height: 6px;
            position: absolute;
            top: 18px;
            right: 0;
          }
        }
      }
  
      .page-indicator {
        position: absolute;
        top: 38px;
        right: -10px;
        transform: rotate(90deg);
        font-size: 14px;
        color: $summit-textgrey;
        min-width: 45px;
      }
  
      .page-arrows {
        display: inline-block;
        position: absolute;
        bottom: -70px;
        right: 3px;
  
        a {
          color: $summit-grey;
  
          &:hover, &:active {
            color: $summit-lightgrey;
  
            &.prev {
              background-image: url(../img/arrow-prev-active.png);
            }
            &.next {
              background-image: url(../img/arrow-next-active.png);
            }	
          }
  
          &.prev {
            background-image: url(../img/arrow-prev-inactive.png);
            background-size: 10px 6px;
            background-repeat: no-repeat;
            background-position: center;
            width: 10px;
            height: 6px;
            display: block;
            padding: 10px;
            vertical-align: bottom;
            transition: background-image 0.2s linear;
          }
  
          &.next {
            background-image: url(../img/arrow-next-inactive.png);
            background-size: 10px 6px;
            background-repeat: no-repeat;
            background-position: center;
            width: 10px;
            height: 6px;
            display: block;
            padding: 10px;
            vertical-align: bottom;
            transition: background-image 0.2s linear;
          }
        }
      }
      
    }
  
    .content-slider-content {
      width: 580px;
      /* background-color: #000; */
  
      .clc {
        &.active {
          display: block;
        }
  
        display: none;
  
        .clc-wrapper {
          img {
    
          }
          .clc-content {
            padding: 50px 40px 70px 40px;
            background: #000;
            
            h4 {
              font-family: $body-font-family;
              font-size: 24px;
              font-weight: 400;
            }
            h6 {
              font-size: 16px;
              position: relative;
              padding-top: 76px;
              margin-bottom: 12px;
  
              &.orange-line {
                &:after {
                  background-color: $summit-textorange;
                }
              }
  
              &:after {
                position: absolute;
                content: "";
                bottom: -11px;
                left: 0;
                width: 14px;
                height: 2px;
                background-color: $summit-quotegreen;
              }
            }
            ul {
              font-size: 16px;
              font-weight: 300;
              color: $summit-lightgrey;
            }
            p {
              font-size: 16px;
              font-weight: 300;
              margin-bottom: 40px;
              color: $summit-lightgrey;
  
              &.no-margin {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  