.quote-module {
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 80px;
  @include breakpoint(medium down) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include breakpoint(large) {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 100px;
  }
  &.coral {
    color: $summit-coral;
  }
  &.green {
    color: $summit-lightgreen;
  }
  &.orange {
    color: $summit-light-orange;
  }
  &.pink {
    color: $summit-pink;
  }
  &.blue {
    color: $summit-lightblue;
  }
  &.pumpkin {
    color: $summit-pumpkin;
  }
  &.lime {
    color: $summit-lime;
  }
  &.red {
    color: $summit-red;
  }
  .row {
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    .quote-icon {
      width: 30px;
      display: block;
      margin: 0px auto 20px auto;
      @include breakpoint(large) {
        width: 40px;
        margin: 0px auto 30px auto;
      }
    }
    .quote-author {
      font-size: 18px;
      color: $white;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: 15px;
      @include breakpoint(large) {
        font-size: 20px;
      }
    }
  }
}

.button {
//   margin-bottom: 0;
//   font-size: 14px;
//   color: #C8C8C8;
//   border: 2px solid #C8C8C8;
//   background: none;
//   padding: 10px 20px;
//   border-radius: 20px;
//   letter-spacing: 0.03em;
//   line-height: 17px;

  &.button-learnmore {
    font-size: 15px;
    letter-spacing: 0.01em;
  }

  &.button-registration {
    color: #fff;
    border-color: #fff;
    padding: 4px 20px;
    height: 32px;
    font-size: 15px;
    letter-spacing: 0.01em;

    &:hover {
      color: $button-text;
      background: $button-hover;
      border-color: $button-hover;
    }
    &:focus {
      color: $button-text;
      background: $white;
      border-color: $white;
    }
  }

  &.button-blue {
    height: 32px;
    padding: 5px 20px;
    color: $white;
    background: $button-blue;
    border-color: $button-blue;
    &:hover, &:focus {
      color: $white;
      background: $button-blue-hover;
      border-color: $button-blue-hover;
    }
  }

  &:hover {
    color: #080808;
    background: #C8C8C8;
  }
  &:active, 
  &:focus {
    color: #080808;
    background: #EFEFEF;
  }
}

.cta-button {
  padding: 5px 26px 6px 26px;
  font-size: 15px;
  color: white;
  display: inline-block;
  background-color: $cta-blue;
  border-color: $cta-blue;
  transition: background-color 0.3s;
  border-radius: 20px;

  &:hover {
    background-color: $cta-blue-active;
    border-color: $cta-blue-active;
    color: white;
  }

  &.small {
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.hollow {
    background: transparent;
    border-width: 2px;
    border-style: solid;
    color: $cta-blue;
    font-weight: 700;

    &.white {
      border-color: white;
      color: white;

      &:hover {
        background-color: $cta-blue-active;
        border-color: $cta-blue-active;
        color: white;
      }
    }
		
		&.black {
      border-color: $charcoal;
      color: $charcoal;

      &:hover {
        background-color: $charcoal;
        border-color: $charcoal;
        color: white;
      }
    }
  }
}

.pod-list {
  margin-left: 17px;
  margin-bottom: 0;
  line-height: 1.4;

  @include breakpoint(medium down) {
    font-size: 16px;
  }
}

.pod-text {
  h4 {
    margin-bottom: 6px;
  }

  p {
    line-height: 1.3;
  }
}

.card-group {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title-card {
  height: 100%;
  width: 100%;
  position: relative;

  .title-card-content {
    @include absolute-center-y;
    color: white;

    h2 {
      margin-bottom: 24px;
      color: white;

      @include breakpoint(1145 down) {
        font-size: 30px;
        margin-bottom: 14px;
      }
    }

    p {
      margin-bottom: 6px;
      color: white;

      @include breakpoint(1145 down) {
        font-size: 16px;
      }
    }

    ul {
      margin-bottom: 0;
      margin-top: 15px;
      font-size: 16px;
      line-height: 1.5;
      color: white;

      &.low-height {
        line-height: 1.4;
      }

      @include breakpoint(1145 down) {
        font-size: 14px;
      }
    }
  }

  &.small {
    .title-card-content {
      h2 {
        margin-bottom: 16px;
      }
    }
  }

  @include breakpoint(medium down){
    padding: 40px 20px;
    .title-card-content {
      transform: none;
      position: relative;
      top: auto;

    }
  }
}

.border-text {
  position: relative;
  margin-bottom: 27px;
  padding-left: 20px;

  h4 {
    font-weight: 600;
    margin-bottom: 4px;
  }

  p {
    margin-bottom: 0;
    line-height: 1.25;
  }

  &:before {
    content: "";
    width: 2px;
    height: calc(100% - 3px);
    position: absolute;
    left: 0;
    top: 2px;
  }

  &.yellow:before {
    background-color: $summit-yellow;
  }
	
	@include breakpoint(medium down){
		margin-bottom: 33px;
    padding-left: 12px;
    
		h4 {
			font-size: 18px;
		}
		
		p {
			font-weight: 400;
			font-size: 14px;
		}
	}
}

.legal {
  font-size: 11px;
  line-height: 1.4;
  color: #D7D7D7;
  margin-bottom: 20px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.divider {
  height: 14px;
  background-color: #333333;
	
	&.white 
	{
		background-color: #f7f7f7;
	}
	
	&.padded {
		margin-left: 30px;
		margin-right: 30px;
	}
}

.mini-divider {
  height: 2px;
  width: 30px;
}

.banner-image {
	width: 100%;
	height: auto;
}