.footer {
  background: $footer-background;

  &.summit-red {
    background: $summit-red;
  }
  &.summit-lightgreen {
    background: $summit-lightgreen;
  }
  &.summit-textorange {
    background: $summit-textorange;
  }
  &.summit-pink {
    background: $summit-pink;
  }
  &.summit-lightblue {
    background: $summit-lightblue;
  }
  &.summit-sienna {
    background: $summit-sienna;
  }
  &.summit-coral {
    background: $summit-coral;
  }

  .footer-wrapper {
    padding: 20px 0;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    @include breakpoint(small down) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .left {
      @media screen and(max-width: 576px) {
        p {
           margin: 0;
           font-size: 13px !important;
           line-height: 1.3em !important;
        }
      }
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .footer-links {
      color: #fff;
      @media screen and(max-width: 576px) {
        p {
           margin: 0;
           font-size: 13px;
           line-height: 1.3em !important;
        }
      }
      a {

      }
      span.large {
        letter-spacing: 0.05em;
        line-height: 22px;
        margin-bottom: 5px;
        @media screen and(max-width: 576px) {
          font-size: 14px;
          .padding-top-30 {
            padding-top: 0;
          }
         
        }
      }
      @media screen and(max-width: 576px) {
        .legal {
          margin-bottom: 10px;
        }
      }
      .vert-wrapper {
        position: relative;
        width: 100%;

        @include breakpoint(small down) {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      .left {
        float: left;
        padding-right: 30px;
        
        &.mobile-spacer-top {
          @include breakpoint(small down) {
            padding-top: 165px;
          }
        }

        &.mobile-move-top {
          @include breakpoint(small down) {
            position: absolute;
            top: 0;
            left: 0;
            padding-right: 0;
          }
        }

        &.mobile-col1 {
          @include breakpoint(small down) {
            width: 50%;
          }

          p {
            @include breakpoint(small down) {
              letter-spacing: 0.02em;
              line-height: 19px;
            }
          }

          a {
            color: #F7F7F7;
            background: none;
            font-weight: 300;

            &.underline {
              background-image: linear-gradient(currentColor, currentColor);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 100% 1px;
              font-weight: 700;
            }

            &.no-underline {
              color: #D7D7D7;
            }
          }
        }
        &.mobile-col2 {
          @include breakpoint(small down) {
            width: 50%;
            padding-right: 0;
          }

          p {
            @include breakpoint(small down) {
              letter-spacing: 0.02em;
              line-height: 19px;
            }
          }

          a {
            color: #F7F7F7;
            background: none;

            &.underline {
              color: #fff;
              text-decoration: underline !important;
            }
          }
        }
      }

      .large {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;
        display: inline-block;

        &.padding-top-14 {
          padding-top: 14px;
        }
      }

      p {
        font-size: 15px;

        &.no-bottom {
          margin-bottom: 0;

          @include breakpoint(small down) {
            letter-spacing: 0.02em;
            line-height: 19px;
          }
        }

        &.small {
          font-size: 11px;
          color: #D7D7D7;
        }
      }

      .mailinglist-wrapper {
        position: relative;
        max-width: 300px;

        @include breakpoint(1246px down) {
          /* margin-top: 30px; */
        }
        
        @include breakpoint(small down) {
          max-width: 350px;
        }

        .legal {
          @include breakpoint(small down) {
            padding-top: 5px;
          }
        }

        .button-morph-footer {
          margin-bottom: 0;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.02em;
          line-height: 19px;
          color: #FFF;
          border: 2px solid #FFF;
          background: none;
          padding: 10px 20px;
          border-radius: 20px;
          width: 104px;
          height: 32px;
          text-align: center;
          transition: all 0.3s linear;

          @include breakpoint(small down) {
            font-size: 15px;
            width: 104px;
            text-align: center;

            &.active {
              text-align: left;
            }
          }
        
          &.default {
            &::placeholder {
              color: #E84855 !important;
            }
          }
          &.blue {
            &::placeholder {
              color: #31AFD4 !important;
            }
          }
          &.orange {
            &::placeholder {
              color: #EB604E !important;
            }
          }
          &.green {
            &::placeholder {
              color: #2BA84A !important;
            }
          }
          &.pink {
            &::placeholder {
              color: #E96187 !important;
            }
          }
          &.yellow {
            &::placeholder {
              color: #DFA90D !important;
            }
          }

          &.active {
            width: 100%;
            text-align: left;

            &::placeholder {
              opacity: 0.5;
            }

            &.fade-out {
              &::placeholder {
                opacity: 0 !important;
              }
            }

            &:hover {
              color: #FFF;
              background-color: transparent;

              &::placeholder {
                color: #FFF;
              }
            }

            &.signup-success {
              pointer-events: none;
              background: #FFF;
              text-align: center;
              cursor: default;
              
              &::placeholder {
                opacity: 1;
                color: #E84855;
                font-weight: 400;
              }
            }
          }

          &::placeholder {
            transition: opacity 0.3s linear;
            opacity: 1;
            color: #FFF;
          }
          &.fade-out {
            &::placeholder {
              opacity: 0;
            }
          }


          &:hover {
            color: #080808;
            background: #C8C8C8;
            border-color: #C8C8C8;

            &::placeholder {
              color: #080808;
            }
          }
        }

        .button-morph-footer-submit {
          display: none;
          background: rgba(250,250,250,0.3);
          padding: 8px 20px;
          border-radius: 20px;
          position: absolute;
          right: 0;
          bottom: 0;
          height: 32px;
          font-size: 15px;
          transition: all 0.3s linear;

          &:focus {
            outline: none;
          }
          &:hover {
            background: #EFEFEF;
            color: $summit-textblack;
          }
        }
      }
    }

    .bg-circle-wrapper {
      display: flex;
      justify-content: flex-end;
      min-width: 400px;
      @include breakpoint(small down) {
        min-width: 315px;
        display: none;
      }

      @media screen and (max-width: 375px) {
        display: block;
      }
    }

    .bg-circle-black {
      background: $body-background;
      border-radius: 50%;
      height: 400px;
      width: 400px;
      padding: 100px 60px;
      text-align: center;

      @include breakpoint(small down) {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 200px;
        height: 200px;
        padding: 0 20px;
        h4 {
          font-size: 16px !important;
        }
        p {
          font-size: 12px !important;
        }
      }

      @media screen and (max-width: 375px) {
        margin-left: -14px;
      }

      .circle-content {
        position: relative;
        color: #fff;

        &.circle-for-experience-makers {
          p {
            margin-bottom: 25px;

            &.no-margin-small {
              @include breakpoint(small down) {
                margin-bottom: 0;
              }
            }
          }
        }

        h4 {
          font-family: $body-font-family;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          margin-bottom: 0;

          @include breakpoint(small down) {
            font-size: 20px;
            letter-spacing: 0.05em;
            line-height: 24px;
          }
        }

        .divider {
          width: 28px;
          height: 2px;
          background: #E84855;
          display: inline-block;
          margin-top: 30px;
          margin-bottom: 15px;

          &.summit-lightgreen {
            background: $summit-lightgreen;
          }

          &.summit-lightblue {
            background: $summit-lightblue;
          }

          &.summit-textorange {
            background: $summit-textorange;
          }

          &.summit-sienna {
            background: $summit-sienna;
          }

          @include breakpoint(small down) {
            margin-top: 20px;
            margin-bottom: 10px;
          }
        }

        p {

          margin-bottom: 40px;
          color: #F7F7F7;

          &.margin-bottom-20 {
            margin-bottom: 20px;
          }

          a.inline {
            text-decoration: underline;
          }

          @include breakpoint(small down) {
            font-size: 14px;
            margin-bottom: 30px;
            letter-spacing: 0.02em;
            line-height: 20px;
          }
        }

        .button-learnmore {
          @include breakpoint(small down) {
            font-size: 15px;
          }
        }

        .brands {
          .vert-align {
            margin-bottom: 15px;
          }
        }
      }
    }

    .copyright {
      font-size: 12px;
      text-align: right;
      padding-right: 60px;
      padding-top: 50px;
      color: #0A171F;

      @include breakpoint(small down) {
        text-align: left;
        padding-right: 0;
      }

      .evidon-notice-link {
        display: inline-block;
        padding-left: 30px;
      }
      #_evidon-link-text {
        /* color: #909090; */
        color: #fff;
        font-size: 12px;
      }
    }
  }
}

/*
.footer {
  .content {
    padding: 58px 40px 66px 40px;
    color: $charcoal;

    .footer-links {
      margin: 0;
      list-style: none;
      font-size: 12.3px;

      &.right {
        text-align: right;
      }

      &.copyright {
        margin-top: 15px;
      }

      li {
        display: inline-block;
        font-weight: 400;

        &:after {
          content: "•";
          margin-left: 5px;
          margin-right: 5px;
        }

        &.no-dot {
          margin-right: 20px;
        }

        &:last-child, &.no-dot {
          &:after {
            content: none;
          }
        }

        .evidon-notice-link {
          .evidon-consent-link-image {
            margin-bottom: 3px;
          }
        }
      }

      a {
        text-decoration: none;

        &.underline {
          text-decoration: underline;
        }
      }
    }
  }

  @include breakpoint(medium down) {
    .content {
      padding: 70px 30px 66px 30px;
      .footer-links {
        font-size: 12px;

        &.right {
          text-align: left;
          margin-bottom: 8px;
        }

        &.social-links {
          margin-bottom: 34px;
        }

        &.copyright {
          font-size: 10px;
        }

        li {
          vertical-align: middle;

          &.top {
            vertical-align: top;
          }
        }
      }
    }
  }
}

.pre-footer {
  .content {
    display: flex;
    flex-flow: row;
  }

  .mailinglist-col {
    max-width: 390px;
  }

  .quotebox-col {
    max-width: 100%;
    flex-grow: 1;

    &.reasons {
      &:hover {
        .pod-box {
          transition: all 0.3s;
          background-color: $summit-purple;
          color: white;
        }
      }
    }

    &.ready {
      &:hover {
        .pod-box {
          transition: all 0.3s;
          background-color: $summit-green;
          color: white;
        }
      }
    }

    &.goodness {
      &:hover {
        .pod-box {
          transition: all 0.3s;
          background-color: $summit-pink;
          color: white;
        }
      }
    }

    &.lowdown {
      &:hover {
        .pod-box {
          transition: all 0.3s;
          background-color: $summit-turquoise;
          color: white;
        }
      }
    }

    &.sponsor {
      &:hover {
        .pod-box {
          transition: all 0.3s;
          background-color: $summit-blue;
          color: white;
        }
      }
    }
  }

  @include breakpoint(medium down) {
    .mailinglist-col {
      max-width: 100%;
      width: 100%;
    }
  }
}

.ready-to-register {
  .content {
    padding-top: 100px;
    padding-bottom: 101px;
  }

  h3 {
    margin-right: 20px;
  }

  a {
    font-weight: 400;
  }

  @include breakpoint(medium down) {
    .content {
      padding: 68px 30px 20px 30px;
      text-align: left;

      h3 {
        display: block;
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        display: block;
        line-height: 1.3;
      }
    }
  }
}
*/