.entry {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.become-a-sponsor-row {

  .left-col {
    margin-right: 20px;

    @include breakpoint(small down) {
      margin-right: 0;
    }

    >img {
      width: 100%;
    }
  }

  .right-col {
    margin-left: 20px;
    padding: 70px;
    background: #000;
    color: $summit-white;

    @include breakpoint(small down) {
      margin-left: 0;
      padding: 20px;
      padding-top: 60px;
    }

    p.large {
      font-size: 18px;
      color: $summit-white;
      max-width: 320px;

      &.add-margin-bottom-30 {
        margin-bottom: 30px;
      }
    }

    #sponsor-form {
      input,
      select {
        background: #333;
      }

      input {
        font-size: 16px;
        color: $summit-white;
        font-style: normal;

        &::placeholder {
          color: $summit-white;
          font-style: italic;
        }
      }

      .select-wrapper {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 9px;
          height: 6px;
          top: 15px;
          right: 25px;
          background-image: url(../img/global/icon-arrow-down-grey.png);
          background-position: center;
          background-repeat: no-repeat;
          pointer-events: none;
        }
      }

      select {
        color: $summit-white;
        font-size: 16px;
        outline: none;
        border-radius: 4px;
      }

      .checkbox + label:before,
      .radio + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: none;
        border: 1px solid $summit-white;
        border-radius: 0;
      }

      .checkbox:hover + label:before, 
      .radio:hover + label:before {
        background: $summit-black;
      }

      [type='checkbox'] + label, 
      [type='radio'] + label {
        color: $summit-white;
      }
      [type=submit] {
        color: $summit-white;
        border-color: $summit-white;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;

        &:hover {
          color: #000;
          background: #f7f7f7f7;
        }
      }
    }
  }

  .percentages-wrapper {
    text-align: center;
    background: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 50px;

    @include breakpoint(small down) {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 90px;
    }

    .percentage {
      display: inline-block;
      width: 120px;
      color: #fff;
      text-align: left;
      margin: 0 40px;
      vertical-align: top;

      @include breakpoint(990px down) {
        width: auto;
        margin: 0 10px;
      }

      @include breakpoint(small down) {
        &.left {
          margin-left: 0;
          margin-right: 10px;
        }

        &.middle {
          margin: 0 10px;
        }

        &.right {
          margin-left: 10px;
          margin-right: 0;
        }
      }

      h1 {
        font-size: 60px;
        font-weight: 700;
        font-family: $body-font-family;
        transition: all 0.2s linear;
        margin-bottom: 0;

        @include breakpoint(small down) {
          font-size: 40px;
        }

        .percent {
          font-size: 40px;

          @include breakpoint(small down) {
            font-size: 20px;
          }
        }
      }
    }

    p.small {
      display: block;
      font-size: 14px;
      color: $summit-textgrey;
      text-align: left;
      margin-left: 53px;
      margin-bottom: 0;
      margin-top: 30px;

      @include breakpoint(small down) {
        margin-left: 0;
        margin-top: 0;
      }
    }

    p.small-link {
      font-family: $body-font-family;
      order: 7;
      padding-top: 40px;
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 20px;
      color: $summit-lightgrey;
    }
  }
}