.slide-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  left: -100vw;
  top: 0;
  z-index: 7;
  transition: left 0.5s;

  &.visible {
    left: 0;
  }
}

//Custom styles

.slide-modal {
  background-color: #000;
  padding: 92px 20px;

  .slide-close {
    font-weight: 100;
    font-size: 28px;
    padding-left: 34px;
    color: #a0a0a5;
    position: relative;
    display: inline-block;

    .chev-left {
      left: 0;
      width: 17px;
      position: absolute;
      top: -6px;
    }
  }

  .sponsor-logo {
    display: block;
    margin-top: 30px;
  }

  .sponsor-name {
    margin-top: 24px;
    margin-bottom: 34px;
    font-size: 38px;
  }

  .sponsor-description {
    font-size: 23px;
    line-height: 1.5;
    margin-bottom: 38px;
  }

  .sponsor-link {
    font-size: 23px;
    line-height: 1.5;
    position: relative;
  }

  @include breakpoint(large) {
    .slide-content {
      padding: 0 60px;
      max-width: 1620px;
      margin: 0 auto;
    }
  }

  @include breakpoint(small down) {
    .slide-close {
      font-size: 20px;
			line-height: 1.1;
      padding-left: 24px;

      .chev-left {
        width: 14px;
        top: -3px;
      }
    }

    .sponsor-logo {
      margin-top: 30px;
    }

    .sponsor-name {
      margin-top: 24px;
      margin-bottom: 20px;
      font-size: 30px;
    }

    .sponsor-description {
      font-size: 17px;
      margin-bottom: 20px;
    }

    .sponsor-link {
      font-size: 17px;
    }
  }
}
