.image-marquee {
  padding-top: 50px;

  &.agenda {

    &.sessions-and-labs {
      .entry {
        background-image: url(/assets/img/agenda/marquee-sessions-and-labs-new.png);
        background-position: top center;
        background-size: cover;
        height: 460px;
      }
    }
  }

  &.magento-imagine {
    &.agenda {
      .entry {
        background-image: url(/assets/img/magento-imagine/marquee-imagine-agenda.jpg);
        background-position: top center;
        background-size: cover;
        height: 460px;
      }
    }
  }

  .row {
    height: 100%;

    .text-marquee-content {
      text-align: center;

      h5 {
        font-size: 18px;
        color: $summit-lightgrey;
      }
      h1 {
        font-size: 34px;
        font-weight: 800;
        color: #fff;
      }
    }
  }
}

.text-marquee {

  &.become-a-sponsor {
    margin-top: 95px;

    @include breakpoint(small down) {
      position: relative;
      /*
      background-image: url(/assets/img/sponsors/marquee-thank-you.jpg);
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      */
      margin-top: 0;
      height: 560px;
    }

    .entry {
      @include breakpoint(small down) {
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
      }
    }
  }

  .entry {
    max-width: 1280px;
    margin: 0 auto;

    .row {
      text-align: center;

      .text-marquee-content {
        max-width: 700px;
        margin-bottom: 100px;

        @include breakpoint(small down) {
          margin-bottom: 45px;
        }

        h5 {
          font-family: $body-font-family;
          font-size: 18px;
          letter-spacing: 0.03em;
          color: $summit-lightgrey;

          @include breakpoint(small down) {
            font-size: 16px;
            letter-spacing: 0.02em;
            line-height: 22px;
          }
        }
        h1 {
          font-weight: 800;
          font-size: 32px;
          color: #fff;

          @include breakpoint(small down) {
            font-size: 28px;
            letter-spacing: 0.02em;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.marquee-wrapper {
  height: 738px;
  padding-top: 130px;

  .marquee {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;

    &.homepage {
      background-image: url('/assets/img/homepage/marquee-p0.png');
      background-position: top center;
    }
  }
}

.marquee-wrapper-mobile {
  height: 660px;
  padding-top: 0px;

  .marquee {
    max-width: 1280px;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    &.homepage {
      background-image: url('/assets/img/homepage/marquee-mobile-p0.jpg');
    }
  }
}


.industry-marquee {
  padding-left: 20px;
}
.industry-marquee-footer {
  margin-top: -45px;
}

.marquee {
  // height: 700px;
  // position: relative;
  // background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  @media screen and(max-width: 1150px) {
    left: 0;  
    right: 0;
  }
  @media screen and(max-width: 590px) {
    top: 5%;
  }

  .marquee-content {
    bottom: 136px;
    position: absolute;
    max-width: $site-max-width;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;

    .event-name {
      margin-bottom: 3px;
      font-size: 17px;
      letter-spacing: 0.5px;

      &.summit-online-event {
        @include breakpoint(small down) {
          line-height: 1.2em;
        }
      }
    }

    .title {
      margin-bottom: 12px;
    }

    .preamble {
      letter-spacing: 0.2px;
    }
  }

	&.constrained {
		max-width: $site-max-width;
		margin: 0 auto;
	}

  &.homepage {
    background-position-y: 25%;
  }

  &.homepage.show-for-medium {
    height: 738px;
    background-image: url('/assets/img/homepage/marquee-p0.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
    margin-top: 130px;

    @include breakpoint(medium down) {
      /* height: 400px; */
      height: 600px;
      background-size: cover;
    }

  }

	&.video {
		background-color: rgba(0,0,0,0);
		background-image: none;

		@include breakpoint(medium down) {
			&.why-attend { background-image: url('/assets/img/marquees/whyattend-m.gif'); }
			&.sessions { background-image: url('/assets/img/sessions/tracks-m.gif'); }
		}
	}

	&.epic {

	}

	&.sessions {
		height: 600px;
	}

	&.content-box {
		.marquee-content {
			position: relative;
			height: 100%;
			bottom: 0;
		}
	}

  &.stats {
    height: 600px;

    .marquee-content {
      max-width: 1280px;
      width: 100%;
      text-align: left;
      top: 79px;
      padding-left: 40px;
    }

    @include breakpoint(medium down){
     

      .marquee-content {
        padding: 0;
				left: 0;
				bottom: 21px;
				top: auto;
				width: 100vw;
			}
    }
  }

	&.text {
		.marquee-content {
			bottom: 98px;
			left: 40px;
			transform: none;
			text-align: left;
			width: 370px;
		}
	}

  &.minimal {
    height: 380px;

    .marquee-content {
      text-align: left;
      bottom: 53px;
      padding-left: 40px;

      .title {
        color: $charcoal;
        font-size: 49px;
        line-height: 1.04;
      }

      .preamble {
        font-weight: 400;
        margin-bottom: 12px;
        font-size: 17px;
      }

      .subtitle {
        color: $charcoal;
        font-size: 18px;
        line-height: 1.25;
        padding-top: 3px;
      }
    }

    &.short {
      height: 300px;

      .marquee-content {
        bottom: 0;
      }
    }

    &.tiny {
      height: 275px;
    }

    @include breakpoint(medium down) {
      height: 295px;

      &.event-minimal {
        height: 230px;
      }

      &.short {
        height: 192px;
      }

      &.aem-target-height {
        height: 270px;
      }

      .marquee-content {
        bottom: 43px;
        padding-left: 0;
        padding-right: 58px;

        .title {
          font-size: 32px;
          line-height: 1.02;
        }

        .preamble {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.3;
        }

        .subtitle {
          font-size: 16px;
        }
      }
    }
  }

  @include breakpoint(small down) {
   

		&#code-marquee {
			height: 170px;

			.marquee-content {
				padding-right: 45px;
				bottom: 10px;
			}
		}

    .marquee-content {
      bottom: 40px;
      left: 30px;
      transform: none;
      text-align: left;
      width: auto;
      padding-right: 70px;

      @include breakpoint(small down) {
        bottom: 80px;
      }

      .event-name {
        font-size: 14px;
      }
    }
  }
}

.marquee-video {
  position: absolute;
  height: 600px;
  overflow: hidden;
  width: 100%;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;

    @include breakpoint(xlarge){
      &.top-10 { top: 10%; }
      &.top-20 { top: 20%; }
      &.top-30 { top: 30%; }
      &.top-40 { top: 40%; }

      &.top-60 { top: 60%; }
      &.top-70 { top: 70%; }
      &.top-80 { top: 80%; }
      &.top-90 { top: 90%; }
    }
  }

  &.homepage {
    min-height: 820px;

    @include breakpoint(large down) {
      min-height: 620px;
    }

    @include breakpoint(medium down) {
      min-height: 620px;
    }

    @include breakpoint(small down) {
      min-height: 460px;
    }
  }
}

.mobile-marquee {
		
		position: relative;
		background-size: cover;

		.mobile-marquee-content {
			position: absolute;
			bottom: 0;
			margin-right: 30px;
			width: calc(100% - 20px);
			padding: 25px 30px;

			h5 {
				font-size: 24px;
				color: white;
				margin-bottom: 0;
			}
		}
	}

