// --------------------------------------------------
// Navigation
// --------------------------------------------------

.nav-wrapper {
  top:        0;
  width:      100%;
  z-index:    99;
  position: fixed;
  height: $nav-height;
  background: rgba(10, 23, 31, 1);
  border-bottom: 1px solid #555555;
  transition: background-color 0.3s ease-in;

  @include breakpoint(1145px down) {
    height: auto;
    border-bottom: none;
  }

  @include breakpoint(small down) {
    height: auto;
    border-bottom: none;
    background: none;

    &.with-bg {
      background-color: $summit-textblack;
    }
  }

  .nav-container {
    /* max-width: 1280px; */
    margin: 0 auto;
    position: relative;
    /*
    border-left: 1px solid red;
    border-right: 1px solid red;
    */

    @include breakpoint(1145px down) {
      display: none;
    }
  }

  .global-nav {
    margin: 0 auto;
    position: relative;
    padding-left: 43px;
    padding-right: 43px;
    width: 100%;
    @include breakpoint(1300 down) {
      padding-left: 30px;
    }
    .summit-logo {
      color: $nav-font-color;
      font-size: 16px;
      min-width: 360px;
      display: inline-block;
      position: relative;
      &:hover {
        .logo {
          transform: scale(1.05);
        }
      }
      .logo {
        margin-right: 20px;
        transition: all 0.5s linear;
      }
      .logo-text-wrapper {
        font-size: 16px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.02em;
        color: #fff;
        display: inline-block;
        position: absolute;
        top: 3px;
        span {
          font-size: 16px;
          font-weight: 300;
          line-height: 1.3em;
          letter-spacing: 0.02em;
          color: $summit-white;
        }
      }
    }

    .nav-divider {
      display: inline-block;
      width: 1px;
      background: #555555;
      height: 70px;
      position: absolute;
    }

    .menu {
      height: 100%;
      padding: 0 10px;
      display: inline-block;
      width: auto;
      > li {
        @media screen and(min-width: 769px) {
          min-width: 90px;
          text-align: left;
        }
        text-align: center;
        padding: 0 5px;
        &.hover-length-45 {
          &:hover,
          &.active {
            &:after {
              width: 77%;
            }
          }
        }
        &.hover-length-50 {
          &:hover,
          &.active {
            &:after {
              width: 73%;
            }
          }
        }
        &.hover-length-55 {
          &:hover,
          &.active {
            &:after {
              width: 77%;
            }
          }
        }
        &.hover-length-60 {
          &:hover,
          &.active {
            &:after {
              width:60%;
            }
          }
        }
        &.hover-length-70 {
          &:hover,
          &.active {
            &:after {
              width: 70%;
            }
          }
        }
        &.hover-length-75 {
          &:hover,
          &.active {
            &:after {
              width: 75%;
            }
          }
        }
        &.hover-length-80 {
          &:hover,
          &.active {
            &:after {
              width: 80%;
            }
          }
        }
        &.hover-length-85 {
          &:hover,
          &.active {
            &:after {
              width: 85%;
            }
          }
        }

        &:hover,
        &.active {
          > a {
            /* font-weight: 700 !important; */
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 40px;
            display: inline-block;
            background: #32AED4;
            height: 3px;
          }
        }

        &.li-bold {
          &:hover,
          &.active {
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 10px;
              right: 40px;
              display: inline-block;
              background: $summit-textorange;
              height: 2px;
            }
          }
        }
      }

      .submenu {
        &.is-dropdown-submenu {
          right: auto;
          left: -10px;
          top: 100%;
          margin-left: 0;
          padding: 10px;
          /* transition: all 1s ease-in; */
          background: rgba(10, 23, 31, 0.85);
          border: none;

          li {
            height: auto;
            text-align: left;


            &.active {
              a {
                background: none;
                color: $summit-blue;
              }
            }

            a {
              font-size: 14px;
              color: $summit-lightgrey;
              font-weight: 300;
              transition: color 0.5s;

              &:hover {
                /* font-weight: 700; */
                color: #fff;
              }
            }
          }
        }
      }

      li {
        height: 100%;
        position: relative;
        display: inline-block;

        @include breakpoint(1137px down) {
          min-width: 80px;
        }

        &.nav-divider {
          line-height: 77px;
        }

        &.nav-phases-link {
          line-height: 80px;
          padding-left: 20px;

          .menu {
            height: 580px;
            /* height: 460px; */
            /* height: 130px; */
            top: 70px;

            li {
              height: 40px;
            }
          }
        }

        &.is-dropdown-submenu-parent > a::after {
          right: -5px;
          /* border-color: #fff transparent transparent; */
          background-image: url(../img/global/icon-arrow-down-lightgrey.png);
          background-size: 9px 6px;
          border: none;
          background-position: center;
          width: 9px;
          height: 6px;
        }

        a.nav-link {
          height: 100%;
          font-size: 14px;
          color: $summit-lightgrey;
          font-weight: 300;
          letter-spacing: 0.03em;
          line-height: $nav-height;
          padding: 0 10px 0 10px;
          display: inline-block;
          vertical-align: middle;
          transition: color 0.5s;

          &:hover {
            /* font-weight: 700; */
            color: #fff;
          }

          &.bold {
            font-weight: 700;
          }
        }

				&.active {
          &.is-dropdown-submenu-parent > a::after {
            background-image: url(../img/global/icon-arrow-down-lightgrey.png);
          }

					a.nav-link {
            background: transparent;
            /* font-weight: 700; */
            color: #fff;

            .link-text {
              /* font-weight: 700; */
              color: #fff;
            }
					}
				}

        &:hover {
          transform: translateY(0);

          &.is-dropdown-submenu-parent > a::after {
            background-image: url(../img/global/icon-arrow-down-lightgrey.png);
          }

          a.nav-link {
            color: #fff;
          }
        }
      }
    }
  }

  .sub-nav {
    display: flex;
    position: absolute;
    height: 40px;
    background: $charcoal;
    color: white;
    left: 0;
    width: calc(100% - 320px);
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: -1;
    padding-left: 163px;
    -webkit-backface-visibility: hidden;

    @include breakpoint(1300 down) {
      padding-left: 153px;
    }

    &.active {
      transform: none;
    }

    .sub-nav-item {
      z-index: 1;
      height: 100%;
      -webkit-transform: translate3d(0,0,0);

      &.active {
        .sub-nav-link {
          color: #888;
          font-weight: 400;
          /*
          letter-spacing: -0.3px;
          padding: 0 15.5px 0 15.5px;
          */
        }

        .link-text {
          /* color: #F7F7F7; */
          color: #888;
          font-weight: 400;

          .hidden-text {
            letter-spacing: normal;
            min-width: 117px;
          }
        }
      }

      .link-text {
        position: relative;
        font-weight: 100;

        .hidden-text {
          font-weight: 400;
          visibility: hidden;
          position: absolute;
          left: 0;
          letter-spacing: -0.3px;
          /* color: #F7F7F7; */
          color: #888;
        }
      }

      .sub-nav-link {
        /* color: #888; */
        color: #F7F7F7;
        font-size: 12px;
        display: block;
        font-weight: 400;
        height: 100%;
        line-height: 40px;
        padding: 0 15px;

        .link-text {
        }

        &:hover {
          color: #888;
          font-weight: 400;

          .link-text {
            visibility: hidden;
            .hidden-text {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .mobile-nav {
    /* background: #0A171F; */
    border-bottom: 1px solid #282828;
    height: 55px;
    width: 100%;
    display: none;
    justify-content: space-between;

    &.subnav-active {
      border-bottom: none;

      .subnav-toggle .subnav-arrow {
        transform: rotate(-180deg);
      }
    }

    @include breakpoint(1145px down) {
      display: flex;
    }
    @include breakpoint(small down) {
      border: none;
    }

    .summit-logo-nav-wrapper {
      padding: 15px 20px;
      @include breakpoint(small down) {
        padding-right: 5px;
      }
    }

    .accordion .accordion-item .accordion-title:before {
      display: none;
    }

    #mobile-nav-button {
      line-height: 0;
      outline: none;
      padding: 20px;
    }
    .summit-logo.default {
      display: none;
    }
    .summit-logo {
      padding: 15px 20px;
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      letter-spacing: 0.03em;
      line-height: 22px;
      min-width: 255px;
      position: relative;

      .logo {
        height: auto;
        margin-right: 20px;
      }

      .logo-text-wrapper {
        font-size: 16px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.02em;
        color: #fff;
        display: inline-block;
        position: absolute;
        top: auto;
        bottom: auto;
        @include breakpoint(small down) {
          div {
            font-size: 15px;
          }
        }
        span {
          font-size: 10px;
          font-weight: 700;
          line-height: 12px;
          letter-spacing: 0.02em;
          color: $summit-white;
        }
      }
    }

    .dropdown {
      position: absolute;
      top: 55px;
      width: 100%;
      background-color: rgba(0,0,0,0.9);
      height: 0;
      transition: height 0.4s;
      transition-timing-function: ease;
      overflow: hidden;

      &.active {
        .nav-event-info {
          border-bottom: none;
        }
      }

      .nav-item {
        opacity: 0;
        transform: translate(-30px, -30px);
        transition: transform 0.5s, opacity 0.5s;
        transition-delay: 0.3s;

        @for $i from 0 through 10 {
          &:nth-child(#{$i}n){
            transition-delay: #{300 - $i*100}ms;
          }
        }

        a {
          color: white;
        }

        &:last-child {
          border: 0;
        }

        .sub-nav-link {
          border: 0;
        }
      }

      .nav-event-info {
        width: 100%;
				height: auto;
        padding: 0 70px 25px 70px;
        display: block;
        float: right;
        /* background-color: $charcoal; */
        opacity: 0;
        transition: opacity 0.5s;
        border-bottom: 1px solid #555555;

        .event-info {
          display: inline-block;
          text-align: left;
          font-size: 14px;
          font-weight: 400;
          color: #909090;
          width: 100%;



          @include breakpoint(1300 down) {
            font-size: 14px;
            padding-right: 10px;
          }

          &.align-center {
            width: auto;
          }

          h6 {
            font-size: 18px;
            font-weight: bold;
            color: #CDDB02;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
          }

          .adobe-logo {
            height: 22px;
            top: 40px;
            right: 15px;
          }

          .location {
            margin-left: 0;
          }

          .preconference {
            font-size: 12px;

            @include breakpoint(1300 down) {
              font-size: 13px;
            }
          }




        }

        .signin-button {
          float: none;
          margin-top: 30px;

          a {

          }
        }
      }

      &.active {
        height: calc(100vh - 54px);
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        overflow-y: scroll;

        .nav-item {
          opacity: 1;
          transform: translate(0);

          @for $i from 0 through 10 {
            &:nth-child(#{$i}n){
              transition-delay: #{300 + $i*50}ms;
            }
          }
        }

        .nav-event-info {
          opacity: 1;
          transform: translate(0);
        }
      }

      .accordion-container {
        padding: 28px 50px 0 70px;

        .arrow-grey {
          display: none;
        }

        &.has-active-links {
          .nav-link-no-children {
            color: #32AED4;
          }

          .top-level-link {
            color: $summit-textgrey;

            &.is-active {
              color: #fff;
            }
          }

          .accordion-item {
            &.is-active {
              .accordion-title {
                .arrow-grey {
                  display: none;
                }
                .arrow-white {
                  display: inline;
                }
              }
            }

            .accordion-title {
              .arrow-grey {
                display: inline;
              }
              .arrow-white {
                display: none;
              }
            }
          }
        }

        .top-level-link {
          color: #fff;
          transition: 0.3s all linear;
        }
        .nav-link-no-children {
          color: #fff;
          transition: 0.3s all linear;
        }

        .accordion-item {
          .accordion-title {
            .arrow-grey {
              display: none;
            }
            .arrow-white {
              display: inline;
            }
          }
        }

        .nav-link {
          display: block;
          padding: 11px 0;
          font-size: 18px;

          &.login {
            text-decoration: underline;
          }

          &.is-active {
            font-weight: 800;
          }

          &.sub-nav-link{
            font-size: 16px;
            border: 0;
            padding: 0 0 8px 0;
            color: #fff;

            &.active {
              color: $summit-blue;
            }
          }
        }

				.accordion {
					display: flex;

					.top-level-link {
						float: left;
						padding: 11px 0;
						width: auto;
						font-size: 18px;
            line-height: 27px;
            margin-right: 20px;

						&.is-active {
							font-weight: 800;
						}
					}

					.accordion-item {
						flex: 9;

            &.is-active {
              .accordion-title {
                img {
                  transform: rotate(-180deg);
                }
              }
            }

						.accordion-title {
              height: 50px;
              width: 100%;
              display: inline-block;
              padding-top: 15px;

              img {
                transition: transform 0.2s linear;
              }
						}

						.accordion-content {
						}
					}
				}

        .accordion, .accordion-item, .accordion-content, .accordion-title {
          background: transparent;
          border: 0;
          margin: 0;
					clear: both;
        }

        .accordion-title {
          border: 0;
        }

        .accordion-content {
          padding-top: 0;
          padding-bottom: 12px;
          margin-left: -64px;

          &.add-margin-ac2 {
            margin-left: -70px;
          }
          &.add-margin-ac3 {
            margin-left: -73px;
          }
          &.add-margin-ac5 {
            margin-left: -82px;
          }
          &.add-margin-ac6 {
            margin-left: -140px;
          }
        }
      }
    }
  }

  .nav-event-info {
    display: block;
    float: right;
    height: 100%;
    width: auto;
    padding: 22px 0;

    .divider {
      width: 38px;
      height: 2px;
      background: $summit-textgrey;
      display: block;
      margin-top: 29px;
      margin-bottom: 40px;
    }

    &.align-center {
      justify-content: center;
    }

    .show-for-medium {
      .event-info {
        @include breakpoint(1167px down) {
          /* width: 190px; */
        }
      }
    }

    .event-info {
      display: inline-block;
      width: auto;
      color: #909090;
      text-align: left;
      font-size: 12px;
      padding-right: 20px;
      font-weight: 700;
      line-height: 12px;
      letter-spacing: 0.03em;

      &.align-center {
        text-align: center;
      }

      h6 {
        font-size: 18px;
        font-weight: bold;
        color: #CDDB02;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 0;
      }

      .adobe-logo {
        position: absolute;
        right: 40px;
        top: 32px;
        height: 16px;
      }

      .date {
        color: #CDDB02;
        margin-right: 5px;
				font-weight: 400;
      }

      .event-dot {
        font-weight: 400;
      }

      .location {
        color: $summit-purple;
				font-weight: 400;
        margin-left: 5px;
      }

      .preconference {
        display: block;
        font-size: 13px;
        font-weight: 100;
      }
    }

    .signin-button {
      padding-right: 0;
      display: inline-block;

      a {
        transition: color 0.5s;

        letter-spacing: 0.03em;
        line-height: 15px;
        color: $summit-lightgrey;

        &:hover {
          /* font-weight: 700; */
          color: #fff;
        }
      }
    }

    .register-button {
      margin-left: 5px;
      vertical-align: top;

      .cta-button {
        font-weight: 400;
        white-space: nowrap;

        &.cta-pricing {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
}

.nav-open {
  .nav-wrapper {
    background: rgba(10, 23, 31, 0.9);
  }

  .mobile-nav {
    border-bottom: none;
  }
}

.subnav {
  display: none;
  border-bottom: 1px solid #282828;
  padding: 20px 70px 15px 70px;
  background: rgba(10, 23, 31, 0.9);

  @include breakpoint(small down) {
    border: none;
  }

  .nav-secondary {
    display: block;
    color: #fff;
    font-size: 18px;
    padding-bottom: 0;
    border: none;
    letter-spacing: 0.03em;
    line-height: 40px;

    &.active {
      color: $summit-blue;
    }
  }
}

.subnav-toggle .subnav-arrow {
  transition: transform 0.2s linear;
  padding: 10px;
}

.header-nav li.hover-length-55 .submenu {
  min-width: 220px;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  margin-top: -1px;
}