{{> header}}

<body class="speakers">
        {{> nav speakers=true}}
    <div class="content-wrapper">
        <div class="page-banner speakers-page cover grid-y align-right large-align-center large-align-middle">
            <div class="cell grid-y align-center-middle">
                <h1 class="page-headline">
                    Speakers
                </h1>
                <p class="page-eyebrow text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco</p>
            </div>
        </div>

        <section class="speakers">
            <div class="wrapper">
                <div class="filters grid-x align-justify align-middle">
                    <ul class="grid-x filter1 align-justify large-align-justify">
                        <li class="grid-x align-middle align-center feat-link">
                            <a href="">Featured Speakers</a>
                        </li>
                        <li class="grid-x align-middle align-middle align-center">
                            <a href="">Session Speakers</a>
                        </li>
                        <li class="hide-for-large mobile">
                            <a data-toggle="filter-mobile">
                                <img src="/assets/img/mobile-filter.png" alt="">
                            </a>
                            <div id="filter-mobile" data-toggler=".shown">
                                <div class="reset grid-x align-right"><a data-toggle="filter-mobile">Reset</a></div>
                                <ul>
                                    <li>
                                        <a href=""><span>&bull;</span> </span>Advertising</a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Analytics &amp; Data Management </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Content &amp; Experience Management
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Experience-Driven Commerce
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Design-Led Customer Experiences
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> B2B Marketing</a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Email &amp; Omni-Channel Marketing
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>


                    <ul class="grid-x filter2 align-justify show-for-large">
                        <li>
                            <span>Sort by</span>
                            <a href="">Newest</a>
                        </li>
                        <li class="pipe">|</li>
                        <li>
                            <a href="">Name (A-Z)</a>
                        </li>
                        <li class="pipe">|</li>
                        <li>
                            <a href="">Reset</a>
                        </li>
                        <li class="pipe">|</li>
                        <li class="filter-wrap">
                            <a data-toggle="filter">Filters <img src="/assets/img/filter-icon.png" alt=""></a>
                            <div id="filter" data-toggler=".shown">
                                <div class="reset grid-x align-right"><a data-toggle="filter">Reset</a></div>
                                <ul>
                                    <li>
                                        <a href=""><span>&bull;</span> </span>Advertising</a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Analytics &amp; Data Management </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Content &amp; Experience Management
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Experience-Driven Commerce
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Design-Led Customer Experiences
                                        </a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> B2B Marketing</a>
                                    </li>
                                    <li>
                                        <a href=""><span>&bull;</span> Email &amp; Omni-Channel Marketing
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content ">
                    <div class="featured-speakers grid-y align-middle show-for-large">
                        <h1>Featured Speakers</h1>
                        <div class="horizontal col4 ">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/ambareesh-murty.png" alt="">
                                        </div>
                                        <div class="name"><span>Ambareesh Murty</span></div>
                                        <div class="designation"><span>Founder & CEO | Pepperfry.com</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/falguni-nadar.png" alt="">
                                        </div>
                                        <div class="name"><span>Falguni Nadar</span></div>
                                        <div class="designation"><span>Founder & CEO | Nykaa</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/biswa-kalyan-rath.png" alt="">
                                        </div>
                                        <div class="name"><span>Biswa Kalyan Rath</span></div>
                                        <div class="designation"><span>Stand-up Comedian</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/pallavi-sighn.png" alt="">
                                        </div>
                                        <div class="name"><span>Pallavi Singh</span></div>
                                        <div class="designation"><span>Head - Marketing | MG Motor India</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col5">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/kavita-nair.png" alt="">
                                        </div>
                                        <div class="name"><span>Kavita Nair</span></div>
                                        <div class="designation text-center"><span>Chief Digital Transformation Officer
                                                | Vodafone Idea Limited</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/boman-irani.png" alt="">
                                        </div>
                                        <div class="name"><span>Boman Irani</span></div>
                                        <div class="designation"><span>Actor</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/assem-chandra.png" alt="">
                                        </div>
                                        <div class="name"><span>Aseem Chandra</span></div>
                                        <div class="designation"><span>Senior Vice President, Digital
                                                Experience Business, Adob</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/suresh-vittal.png" alt="">
                                        </div>
                                        <div class="name"><span>Suresh Vittal</span></div>
                                        <div class="designation"><span>Vice President,
                                                Adobe Experience Cloud</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/james-mccready.png" alt="">
                                        </div>
                                        <div class="name"><span>James McCready</span></div>
                                        <div class="designation"><span>President, Japan and Asia Pacific, Adobe</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col4">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/kulmeet-bawa.png" alt="">
                                        </div>
                                        <div class="name"><span>Kulmeet Bawa</span></div>
                                        <div class="designation"><span>Vice President &amp; Managing Director 
                                                India & South Asia, Adobe</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/alvaro-delpozo.png" alt="">
                                        </div>
                                        <div class="name"><span>Alvaro Del Pozo</span></div>
                                        <div class="designation"><span>Vice President of Marketing,
                                                Adobe Asia Pacific</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/amy-robson.png" alt="">
                                        </div>
                                        <div class="name"><span>Amy Robson</span></div>
                                        <div class="designation"><span>Snr Product Manager
                                                & Regional Evangelist</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/biswa-kalyan-rath.png" alt="">
                                        </div>
                                        <div class="name"><span>Biswa Kalyan Rath</span></div>
                                        <div class="designation"><span>Stand-up Comedian</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col3">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/ambareesh-murty.png" alt="">
                                        </div>
                                        <div class="name"><span>Ambareesh Murty</span></div>
                                        <div class="designation"><span>Founder & CEO | Pepperfry.com</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/falguni-nadar.png" alt="">
                                        </div>
                                        <div class="name"><span>Falguni Nadar</span></div>
                                        <div class="designation"><span>Founder & CEO | Nykaa</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/biswa-kalyan-rath.png" alt="">
                                        </div>
                                        <div class="name"><span>Biswa Kalyan Rath</span></div>
                                        <div class="designation"><span>Stand-up Comedian</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="featured-speakers grid-y align-middle hide-for-large">
                        <h1>Featured</h1>
                        <div class="horizontal col4 ">
                            <ul class="grid-x align-justify speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/ambareesh-murty.png" alt="">
                                        </div>
                                        <div class="name"><span>Ambareesh Murty</span></div>
                                        <div class="designation"><span>Founder & CEO | Pepperfry.com</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/falguni-nadar.png" alt="">
                                        </div>
                                        <div class="name"><span>Falguni Nadar</span></div>
                                        <div class="designation"><span>Founder & CEO | Nykaa</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/biswa-kalyan-rath.png" alt="">
                                        </div>
                                        <div class="name"><span>Biswa Kalyan Rath</span></div>
                                        <div class="designation"><span>Stand-up Comedian</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/pallavi-sighn.png" alt="">
                                        </div>
                                        <div class="name"><span>Pallavi Singh</span></div>
                                        <div class="designation"><span>Head - Marketing | MG Motor India</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/kavita-nair.png" alt="">
                                        </div>
                                        <div class="name"><span>Kavita Nair</span></div>
                                        <div class="designation text-center"><span>Chief Digital Transformation Officer
                                                | Vodafone Idea Limited</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/boman-irani.png" alt="">
                                        </div>
                                        <div class="name"><span>Boman Irani</span></div>
                                        <div class="designation"><span>Actor</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/assem-chandra.png" alt="">
                                        </div>
                                        <div class="name"><span>Aseem Chandra</span></div>
                                        <div class="designation"><span>Senior Vice President, Digital
                                                Experience Business, Adob</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/suresh-vittal.png" alt="">
                                        </div>
                                        <div class="name"><span>Suresh Vittal</span></div>
                                        <div class="designation"><span>Vice President, 
                                                Adobe Experience Cloud</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/james-mccready.png" alt="">
                                        </div>
                                        <div class="name"><span>James McCready</span></div>
                                        <div class="designation"><span>President, Japan and Asia Pacific, Adobe</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/kulmeet-bawa.png" alt="">
                                        </div>
                                        <div class="name"><span>Kulmeet Bawa</span></div>
                                        <div class="designation"><span>Vice President &amp; Managing Director
                                                India & South Asia, Adobe</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/alvaro-delpozo.png" alt="">
                                        </div>
                                        <div class="name"><span>Alvaro Del Pozo</span></div>
                                        <div class="designation"><span>Vice President of Marketing,
                                                Adobe Asia Pacific</span></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-y align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/amy-robson.png" alt="">
                                        </div>
                                        <div class="name"><span>Amy Robson</span></div>
                                        <div class="designation"><span>Snr Product Manager
                                                & Regional Evangelist</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="session-speakers grid-y align-middle">
                        <h1>Session Speakers</h1>
                        <div class="horizontal col5">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/archana-subramoney.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Archana Subramoney</span></div>
                                                <div class="designation"><span>Group Head Digital Marketing,
                                                        Adobe</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/sagar-mehta.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Sagar Mehta</span></div>
                                                <div class="designation"><span>Solution Consultant – Digital
                                                        Experience Business, Adobe</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/saurabh-khetarpal.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Saurabh Khetarpal</span></div>
                                                <div class="designation"><span>Solution Consultant - Media and
                                                        Data Platforms, Adobe
                                                    </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/nicholas-kontopoulos.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Nicholas Kontopoulos
                                                    </span></div>
                                                <div class="designation"><span>Regional Head of APAC / 
                                                        EMEA Commerce Marketing,
                                                        Adobe</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/nikhi-thakur.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Nikhita Thakur</span></div>
                                                <div class="designation"><span>Associate Consultant - Digital Marketing 
                                                        & Analytics, Adoebe</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col4">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/prakhar-jain.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Prakhar Jain</span></div>
                                                <div class="designation"><span>Adobe Marketing Cloud, Yatra</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/jackson-fernandes.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Jackson Fernandes</span></div>
                                                <div class="designation"><span>Business Head, PUMA</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/himanshu-khandelwal.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Himanshu Khandelwal</span></div>
                                                <div class="designation"><span>eCommerce & Digital
                                                        Marketing, HDFC Life
                                                    </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/ankit-madhogaria.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Ankit Madhogaria</span></div>
                                                <div class="designation"><span>Head - Online Demand, Puma</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col5">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/satyaki-raghunath.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Satyaki Raghunath</span></div>
                                                <div class="designation"><span>Chief Strategy and Development Officer,
                                                        Bangalore International Airport</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/udit-malhotra.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Udit Malhotra</span></div>
                                                <div class="designation"><span>Chief Digital Officer,
                                                        MG Moto</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/sachin-kaura.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Sachin Kaura</span></div>
                                                <div class="designation"><span>Senior Consultant,
                                                        Experience Cloud, Adobe
                                                    </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/vivek-juyal.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Vivek Juyal</span></div>
                                                <div class="designation"><span>Director - Design and
                                                        User Experience, Flipkart</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/manish-patel.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Manish Patel</span></div>
                                                <div class="designation"><span>CIO, MG Motor</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col4">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/ashish-gupta.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Ashish Gupta</span></div>
                                                <div class="designation"><span>Head E-Commerce, Kare Enterprise</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/sunny-masand.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Sunny Masand</span></div>
                                                <div class="designation"><span>Solution Specialist,
                                                        Ad Cloud, Adobe</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/rachit-bhatnagar.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Rachit Bhatnagar</span></div>
                                                <div class="designation"><span>Lead, MarTech, Vodafone Idea
                                                    </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/mark-szulc.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Mark Szulc</span></div>
                                                <div class="designation"><span>Principal Product Marketing 
                                                        Manager,Adobe</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col5">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/kartic-srinivasan.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Kartic Srinivasan</span></div>
                                                <div class="designation"><span>Chief Digital Officer, Ad2Pro</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/paul-davies.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Paul Davies</span></div>
                                                <div class="designation"><span>Senior VP, Client Services,
                                                        Technology, Epsilon</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/govind-seshadri.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Govind Seshadri
                                                    </span></div>
                                                <div class="designation"><span>Vice President -
                                                        Digital Experience, Epsilon
                                                    </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/saurabh-malhotra.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Saurabh Malhotra</span></div>
                                                <div class="designation"><span>Senior Solution Sales Specialist,
                                                        Microsoft</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/ab-gaur.png" alt="">
                                        </div>
                                        <div class="right">
                                                <div class="name"><span>Ab Gaur</span></div>
                                                <div class="designation"><span>Founder & CEO, Verticurl</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="horizontal col2">
                            <ul class="grid-x align-spaced speaker-list">
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/arun-kumar.png" alt="">
                                        </div>
                                       <div class="right">
                                            <div class="name"><span>Arun Kumar</span></div>
                                        <div class="designation"><span>Head of e-commerce unit,
                                                Embitel</span></div>
                                       </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/speakers/bio"></a>
                                    <div class="info grid-x large-grid-y align-spaced large-align-center align-middle">
                                        <div class="photo">
                                            <img src="/assets/img/niranjan-sane.png" alt="">
                                        </div>
                                       <div class="right">
                                            <div class="name"><span>Niranjan Sane</span></div>
                                        <div class="designation"><span>Head Customer Retention, Tata Cliq</span>
                                        </div>
                                       </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> footer-new}}