<section class="footer summit-lightblue flex-grid-layout">
    <div class="footer-wrapper">
      <div class="row">
        <div class="column large-7 small-12 small-order-2 medium-order-1 footer-links">
            <div class="vert-wrapper">
              <div class="left mobile-spacer-top mobile-col1">
                <span class="large">Support</span>
                <p>
                  <a href="/support/contact" class="inline">Contact</a><br>
                  <a href="#" target="_blank" class="inline">Convince Your Boss</a>
                </p>

                <span class="large padding-top-30">Region</span>
                <p>
                  <a href="#" class="inline underline">North America</a><br>
                  <a href="#" target="_blank" class="inline">Europe</a>
                </p>
              </div>

              <div class="left mobile-spacer-top mobile-col2">
                <span class="large">Community</span>
                <p>
                  <a href="#" target="_blank" class="inline">Braindate</a><br>
                  <a href="#" target="_blank" class="inline">Summit Blog</a><br>
                  <a href="#" target="_blank" class="inline">CMO.com</a><br>
                  <a href="#" target="_blank" class="inline">Experience League</a><br>
                  <a href="#" target="_blank" class="inline">Facebook</a><br>
                  <a href="#" target="_blank" class="inline">Twitter</a><br>
                  <a href="#" target="_blank" class="inline">LinkedIn</a>
                </p>


              </div>

              <div class="left mobile-move-top">
                <div class="mailinglist-wrapper" data-sname="adbesummitmailinglist">
                  <span class="large button-morph-footer-reset">Stay in the loop</span>
                  <p class="no-bottom">Join the mailing list for news, special discounts, and updates about Summit.</p>
                  <div class="legal">
                    The <a href="#" class="inline">Adobe family of companies</a> may keep me informed with <a href="#" class="inline">personalized</a> emails about Adobe Summit. See our Privacy Policy for more details or to opt-out at any time.
                  </div>
                  <input class="button button-morph-footer" placeholder="Sign up" name="mailinglist-email">
                  <button class="button-morph-footer-submit">Send</button>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="copyright hide-for-medium">
                © 2019 Adobe. All rights reserved.
                <div class="evidon-notice-link"><a href="#" class="evidon-consent-link" tabindex="0" style="cursor: pointer; text-decoration: none; font-size: 10pt; color: rgb(0, 0, 0); font-family: &quot;Adobe Clean&quot;, sans-serif;"><img src="https://c.evidon.com/pub/icong1.png" class="evidon-consent-link-image" style="vertical-align: bottom;"><span id="_evidon-link-text" class="evidon-consent-link-text" style="margin-left: 6px;">AdChoices</span></a></div>
              </div>
            </div>
          </div>
        <div class="column large-5 small-12 small-order-1 medium-order-2">

          <div class="bg-circle-wrapper">

            <div class="bg-circle-black">
              <div class="vert-align">

                  <div class="circle-content">
                    <h4>MORE THAN A CONFERENCE</h4>
                    <div class="divider summit-sienna"></div>
                    <p class="margin-bottom-20">
                        Summit is a world-class experience. <a href="#" class="inline">Check out</a> everything Summit has to offer.
                    </p>
                  </div>
              </div>
            </div>
          </div>
          <div class="copyright show-for-medium">
            &copy; 2020 Adobe. All rights reserved.
            <div class="evidon-notice-link"><a href="#" class="evidon-consent-link" tabindex="0" style="cursor: pointer; text-decoration: none; font-size: 10pt; color: rgb(0, 0, 0); font-family: &quot;Adobe Clean&quot;, sans-serif;"><img src="https://c.evidon.com/pub/icong1.png" class="evidon-consent-link-image" style="vertical-align: bottom;"><span id="_evidon-link-text" class="evidon-consent-link-text" style="margin-left: 6px;">AdChoices</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/assets/js/app.js"></script>
  </body>
  </html>