<div id="footer">
  <ul>
    <li><a href="" class="twitter">FAQs</a></li>
    <li><a href="" class="twitter">Terms of Use</a></li>
    <li><a href="" class="twitter">Privacy Policy</a></li>
    <li><a href="" class="twitter">Facebook</a></li>
    <li><a href="" class="twitter">Twitter</a></li>
    <li><a href="" class="twitter">LinkedIn</a></li>
    <li><a href="" class="twitter">Contact</a></li>
  </ul>
  <p>Copyright &copy; 2020 Adobe. All rights reserved.</p>
</div>
</div>
</section>
</div>
</div>

<script src="/assets/js/app.js"></script>
<!-- <script src='assets/js/lib/homepage.js' type="text/javascript"></script> -->
<!-- <script src='assets/js/lib/forms.js' type="text/javascript"></script> -->
</body>

</html>