<div class="site-container">

  <div class="nav-wrapper">
    <div class="nav-container">
      <nav class="global-nav">
        <a class="summit-logo" href="/">
          <img src="/assets/img/global/adobe-logo-red.png" class="logo" alt="Adobe Logo" />
          <div class="logo-text-wrapper">
            <div>Adobe Symposium</div>
            <span class="logo-event-details">26 May, 2020 • The Grand Hyatt, Mumbai</span>
          </div>
        </a>
        <div class="nav-divider"></div>
        <ul class="header-nav dropdown menu show-for-large" data-dropdown-menu data-disable-hover="true">
          <li class="hover-length-75  {{#if agenda}} active {{/if}}">
            <a class="nav-link agenda" href="#" data-dropdown="agenda">Agenda</a>
            <ul class="sub-menu-test">
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/agenda">
                  View Agenda
                </a>
              </li>
              <li class="sub-nav-item">
                <a class="sub-nav-link pricing" href="/agenda/sessions">
                  Sessions
                </a>
              </li>
            </ul>
          </li>
          <li class="hover-length-50 {{#if speakers}} active {{/if}}">
            <a class="nav-link speakers" href="/speakers">Speakers</a>
          </li>
          <li class="hover-length-75 {{#if community}} active {{/if}}">
            <a class="nav-link community" href="/community">Community</a>
          </li>
          <li class="hover-length-75 {{#if partners}} active {{/if}}">
            <a class="nav-link partners" href="/partners">Partners</a>
          </li>
          <li class="hover-length-50 {{#if support}} active {{/if}}">
            <a class="nav-link" href="#" data-dropdown="magento_imagine">Support</a>
            <ul class="sub-menu-test">
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/support/faq">
                  FAQ
                </a>
              </li>
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/support/contact">
                  Contact
                </a>
              </li>
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/support/code-of-conduct">
                  Code of Conduct
                </a>
              </li>
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/support/404">
                  Error
                </a>
              </li>
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/support/agenda">
                  Extra Page 2
                </a>
              </li>
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/support/certifications">
                  Certifications
                </a>
              </li>
              <li class="sub-nav-item ">
                <a class="sub-nav-link pricing" href="/faq">
                  Extra Page 3
                </a>
              </li>
            </ul>
          </li>
        </ul>
        </li>
        <div class="nav-event-info ">
          <div id="top-right-nav" class="show-for-medium grid-x align-middle">
            <div class="event-info">
              <!-- <span>March 29–April 2, 2020 • Mumbai</span> -->
              <a href="" class="button button-register-nav">Register</a>
            </div>
            <div class="signin-button">
              <a href="" target="_blank">Sign In</a>
            </div>
          </div>
          <div class="hide-for-medium">
            <div class="divider"></div>
            <a href="" class="button button-register-nav">Register</a>
            <br />
            <div class="">
              <a href="" target="_blank">Sign In</a>
            </div>
          </div>
        </div>
      </nav>

    </div>
    <nav class="mobile-nav" id="mobile-nav">
      <a class="summit-logo" href="/">
        <img src="/assets/img/global/adobe-logo-red.png" class="logo" alt="Adobe Summit Logo" />
        <div class="logo-text-wrapper">
          <div>Adobe Symposium</div>
          <span class="logo-event-details">26 May, 2020 • The Grand Hyatt, Mumbai</span>
        </div>
      </a>

      <button id="mobile-nav-button" class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      <div class="dropdown">
        <div class="accordion-container">
          <div class="nav-item">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
              <!-- Accordion tab title -->
              <a class="top-level-link " href="#">Agenda</a>
              <li class="accordion-item " data-accordion-item>
                <a href="#" class="accordion-title nav-link ">
                  <img class="arrow-white" src="/assets/img/global/icon-arrow-down.png" />
                  <img class="arrow-grey" src="/assets/img/global/icon-arrow-down-grey.png" />
                </a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->

                <div class="accordion-content add-margin-ac1" data-tab-content>
                  <a class="nav-link sub-nav-link " href="/agenda">View Agenda</a>
                  <a class="nav-link sub-nav-link " href="/agenda/sessions">Sessions</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="nav-item">
            <a class="nav-link nav-link-no-children speakers" href="/speakers">Speakers</a>
          </div>
          <div class="nav-item">
            <a class="nav-link nav-link-no-children community" href="/community">Community</a>
          </div>
          <div class="nav-item">
            <a class="nav-link nav-link-no-children parners" href="/partners">Partners</a>
          </div>
          <div class="nav-item">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
              <!-- Accordion tab title -->
              <a class="top-level-link " href="#">Support</a>
              <li class="accordion-item " data-accordion-item>
                <a href="#" class="accordion-title nav-link ">
                  <img class="arrow-white" src="/assets/img/global/icon-arrow-down.png" />
                  <img class="arrow-grey" src="/assets/img/global/icon-arrow-down-grey.png" />
                </a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->

                <div class="accordion-content add-margin-ac1" data-tab-content>
                  <a class="nav-link sub-nav-link " href="/support/faq">FAQ</a>
                  <a class="nav-link sub-nav-link " href="/support/code-of-conduct">Code of Conduct</a>
                  <a class="nav-link sub-nav-link " href="/support/contact">Contact</a>
                  <a class="nav-link sub-nav-link " href="/support/agenda">Extra Page 2</a>
                  <a class="nav-link sub-nav-link " href="/support/certifications">Certifications</a>
                  <a class="nav-link sub-nav-link " href="/faq">Extra Page 3</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="nav-event-info">
          <div id="mobile-nav-btn">
            <a href="" class="button button-register-nav">Register</a>
            <br />
            <div class="signin-nav">
              <a href="" target="_blank">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>