.page-home {

  .phase-1 {

    #experience-makers {
      .content {
        padding-top: 0;
      }
    }

    .home-modal-overlay {
      position: fixed;
      height: 100vh;
      width: 100%;
      background-image: url(/assets/img/homepage/phases/dark-overlay.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 20;
      display: none;
    }

    .home-modal-blur {
      transition: 1s;
      &.active {
        filter: blur(5px);
      }
    }

    .mailinglist-signup {
      &.hidden {
        display: none;
      }

      .subtitle {
        margin-top: 1rem;
        margin-bottom: 0.2rem;
      }
    }
    .mailinglist-thank-you {
      padding-top: 50px;

      h1 {
        padding-bottom: 20px;
      }

      &.hidden {
        display: none;
      }
    }

    .signup-modal {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      z-index: 20;
      display: none;

      @include breakpoint(1148px down) {
        top: 55px;
      }

      .content {
        background: #0F0505;
        background-image: url(/assets/img/homepage/phases/modal-background.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        height: 375px;
        position: relative;
        padding: 40px;
        padding-top: 50px;

        @include breakpoint(medium down) {
          height: 440px;
        }

        @include breakpoint(small down) {
          height: 560px;
          padding: 60px 30px;
          background-image: url(/assets/img/homepage/phases/modal-mobile-p1.png);
          background-position: bottom right;
        }

        .modal-content {
          color: #fff;
          max-width: 500px;
          margin-left: 137px;

          @include breakpoint(small down) {
            max-width: none;
            margin-left: 0;
          }

          p {
            font-size: 16px;
            line-height: 1.25;

            .large {
              font-size: 18px;
            }

            &.small {
              font-size: 12px;
              max-width: 395px;

              @include breakpoint(small down) {
                max-width: 315px;
              }
            }

            &.subtitle-ty {
              margin-bottom: 30px;
              font-size: 18px;
            }
          }

          .mailinglist {
            padding: 5px 0 20px 0;

            .is-invalid-input:not(:focus) {
              background-color: rgba(236, 88, 64, 0.5);
            }

            #email {
              font-size: 17px;
              font-weight: 400;
              height: 40px;
              width: 300px;
              margin-right: 30px;
              float: left;

              &.is-invalid-input::placeholder {
                color: #fff;
              }

              @include breakpoint(small down) {
                width: 100%;
                margin-bottom: 21px;
              }
            }

            .cta-button {
              font-size: 15px;
              font-weight: 400;
              padding-left: 25px;
              padding-right: 25px;
              margin-top: 4px;
            }
          }
        }

        .mobile-plus-icon {
          cursor: pointer;
          position: absolute;
          top: 20px;
          right: 20px;
          font-weight: 400;
          font-size: 20px;
          transform: rotate(45deg);
          display: inline-block;
          color: #fff;
          font-size: 32px;

          @include breakpoint(small down) {
            font-size: 36px;
          }
        }
      }
    }

    .marquee.homepage.show-for-medium {
      background-image: url("/assets/img/homepage/phases/home-marquee-p1-alt.jpg");
      height: 1020px;
      z-index: 10;
      background-position: top;
      transition: 0.5s;
      transition-timing-function: ease-in;

      &.expanded {
        height: 1220px;
      }

      @include breakpoint(medium down) {
        height: 840px;

        &.expanded {
          height: 1200px;
        }
      }

      @include breakpoint(800px down) {
        height: 720px;

        &.expanded {
          height: 1100px;
        }
      }

      @include breakpoint(720px down) {
        height: 720px;

        &.expanded {
          height: 1200px;
        }
      }

      .home-marquee-content {
        color: #fff;

        @include breakpoint(800px down) {
          padding-top: 50px;
        }

        .home-marquee-signup {
          position: absolute;
          top: 585px;
          left: 0;
          right: 0;

          @include breakpoint(medium down) {
            top: 425px;
          }

          @include breakpoint(800px down) {
            top: 320px;
          }
/*
          @include breakpoint(840px down) {
            top: 40%;
          }
*/
          p {
            font-size: 20px;
            max-width: 820px;
            color: #fff;
            margin: 0 auto;

            @include breakpoint(840px down) {
              font-size: 16px;
            }
          }

          .cta-button {
            margin-top: 20px;
            font-size: 15px;
            font-weight: 400;
            padding-left: 25px;
            padding-right: 25px;

            &:focus {
              outline: 0;
            }
          }
        }

      }
    }

    .home-marquee-mobile {
      .marquee-content {
        color: #fff;
      }
    }
    .home-marquee-box {
      .content {
        color: #fff;

        @include breakpoint(small down) {
          padding-right: 40px;
        }

        p {
          font-size: 18px;
          font-weight: 200;
          line-height: 1.25;
        }
      }
    }

    .marquee-keynotes-wrapper  {
      position: absolute;
      top: 755px;
      left: 0;
      right: 0;

      @include breakpoint(medium down) {
        left: 20px;
        right: 20px;
        top: 595px;
      }

      @include breakpoint(800px down) {
        top: 470px;
      }
/*
      @include breakpoint(840px down) {
        top: 57%;
      }
*/
      .custom-grid {
        max-width: 1032px;
        margin: 0 auto;
        grid-column-gap: 40px;
        text-align: left;

        @include breakpoint(small down) {
          &.col-1-m {
            grid-template-columns: 1fr;
          }
        }

        .tile {
          color: #fff;

          @include breakpoint(small down) {
            padding-bottom: 30px;
          }

          .tile-wrapper {
            position: relative;

            @include breakpoint(small down) {
              padding-right: 30px;
            }

            &.bg-border-yellowalt {
              border-bottom: 5px solid $summit-yellowalt;
            }
            &.bg-border-turquoise {
              border-bottom: 5px solid $summit-turquoise;
            }
            &.bg-border-purple {
              border-bottom: 5px solid $summit-purple;
            }

            .date {
              font-size: 14px;
              font-weight: 400;
            }

            p {
              line-height: 1;
              font-size: 18px;
              font-weight: 200;
              margin: 0;
              display: block;

              &.hidden {
                font-size: 14px;
                line-height: 1.3;
                padding-top: 10px;
                display: none;
              }
            }

            .spacer {
              height: 40px;

              @include breakpoint(small down) {
                height: 20px;
              }

              &.s1 {
                height: 56px;

                @include breakpoint(small down) {
                  height: 20px;
                }
              }
            }

            .mobile-plus-icon {
              cursor: pointer;
              position: absolute;
              bottom: 10px;
              right: 10px;
              font-weight: 400;
              font-size: 20px;

              &.active {
                transform: rotate(45deg);
                display: inline-block;
              }

              @include breakpoint(small down) {
                right: 0;
              }
            }
          }
        }

      }

      .home-grid-subtitle {
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 200;
        margin-top: 50px;

        @include breakpoint(small down) {
          text-align: left;
          margin-top: 10px;
        }
      }




    }

    .home-marquee-grid {

      .content {
        background: #000;
        grid-column-gap: 40px;
        max-width: 1440px;
        padding-top: 30px;
        padding-bottom: 80px;

        @include breakpoint(small down) {
          padding-top: 10px;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 40px;
        }

        .home-mobile-signup {
          padding-bottom: 40px;

          .cta-button {
            font-size: 15px;
            font-weight: 400;
            padding-left: 25px;
            padding-right: 25px;
          }
        }

        .custom-grid {
          max-width: 1032px;
          margin: 0 auto;
          grid-column-gap: 40px;

          @include breakpoint(small down) {
            &.col-1-m {
              grid-template-columns: 1fr;
            }
          }

          .tile {
            color: #fff;

            @include breakpoint(small down) {
              padding-bottom: 30px;
            }

            .tile-wrapper {
              position: relative;

              @include breakpoint(small down) {
                padding-right: 30px;
              }

              &.bg-border-yellowalt {
                border-bottom: 5px solid $summit-yellowalt;
              }
              &.bg-border-turquoise {
                border-bottom: 5px solid $summit-turquoise;
              }
              &.bg-border-purple {
                border-bottom: 5px solid $summit-purple;
              }

              .date {
                font-size: 14px;
                font-weight: 400;
              }

              p {
                line-height: 1;
                font-size: 18px;
                font-weight: 200;
                margin: 0;
                display: block;

                &.hidden {
                  font-size: 14px;
                  line-height: 1.3;
                  padding-top: 10px;
                  display: none;
                }
              }

              .spacer {
                height: 40px;

                @include breakpoint(small down) {
                  height: 20px;
                }

                &.s1 {
                  height: 56px;

                  @include breakpoint(small down) {
                    height: 20px;
                  }
                }
              }

              .mobile-plus-icon {
                cursor: pointer;
                position: absolute;
                bottom: 10px;
                right: 10px;
                font-weight: 400;
                font-size: 20px;

                &.active {
                  transform: rotate(45deg);
                  display: inline-block;
                }

                @include breakpoint(small down) {
                  right: 0;
                }
              }
            }
          }

        }

        .home-grid-subtitle {
          text-align: center;
          color: #fff;
          font-size: 18px;
          font-weight: 200;
          margin-top: 50px;

          @include breakpoint(small down) {
            text-align: left;
            margin-top: 10px;
          }
        }
      }
    }

    .home-marquee-box {

    }

    &.phase-2 {
      .home-marquee-box .content {
        @include breakpoint(small down) {
          padding-bottom: 0;
        }
      }

      .home-marquee-grid .content {
        @include breakpoint(small down) {
          padding-top: 30px;
        }
      }
    }

    &.phase-4 {
      .video-content {
        .content {
          padding-top: 80px;
          padding-bottom: 20px;

          @include breakpoint(1148px down) {
            padding-top: 55px;
          }
          @include breakpoint(medium down) {
            padding-top: 0;
            padding-right: 0;
            padding-left: 0;
          }
          @include breakpoint(small down) {
          }

          .video-wrapper {
            height: 720px;
            text-align: center;
            position: relative;

            @include breakpoint(small down) {
              height: 375px;
            }

            h1 {
              top: 45%;
              position: absolute;
              left: 0;
              right: 0;
              text-align: center;
            }
          }
        }
      }

      .video-subtitle {
        .content {
          padding-top: 45px;
          padding-bottom: 60px;

          @include breakpoint(small down) {
            padding-top: 50px;
            padding-bottom: 70px;
            text-align: left;
          }

          h4 {
            font-size: 20px;

            @include breakpoint(small down) {
              font-size: 14px;
              line-height: 1.2;
            }
          }
          h2 {
            @include breakpoint(small down) {
              font-size: 28px;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &.phase-5 {
      .video-subtitle {
        .grid-title {
          padding-top: 60px;
          padding-bottom: 35px;

          @include breakpoint(small down) {
            padding-top: 50px;
            padding-bottom: 25px;
            font-size: 18px;
          }
        }

        .custom-grid {
          max-width: 1032px;
          margin: 0 auto;
          grid-column-gap: 80px;

          @include breakpoint(small down) {
            grid-template-columns: 1fr;
          }

          .tile-wrapper {
            text-align: left;
            position: relative;

            @include breakpoint(small down) {
              margin-bottom: 5px;
            }

            &.bg-border-turquoise {
              border-bottom: 10px solid $summit-turquoise;
              @include breakpoint(small down) {
                border-bottom-width: 5px;
              }
            }
            &.bg-border-purple {
              border-bottom: 10px solid $summit-purple;
              @include breakpoint(small down) {
                border-bottom-width: 5px;
              }
            }

            .date {
              font-size: 14px;
            }

            p {
              font-size: 18px;

              &.hidden {
                font-size: 14px;
                line-height: 1.3;
                padding-right: 50px;
                display: none;
              }
            }

            .spacer {
              height: 30px;
            }

            .mobile-plus-icon {
              cursor: pointer;
              position: absolute;
              bottom: 25px;
              right: 20px;
              font-weight: 400;
              font-size: 24px;
              color: #fff;

              &.active {
                transform: rotate(45deg);
                display: inline-block;
                font-size: 26px;
              }
            }
          }
        }
      }
    }

    &.phase-6 {

      .video-subtitle .content {
        padding-bottom: 100px;

        @include breakpoint(small down) {
          padding-bottom: 70px;
        }
      }

      .summit-online-footer {
        @include breakpoint(medium down) {
          margin-right: 0;
        }

        .bg-blue-alpha {
          background: rgba(82, 115, 227, 0.1);

          .content {
            color: $charcoal;
            text-align: center;
            padding-top: 80px;
            padding-bottom: 80px;

            @include breakpoint(small down) {
              font-size: 16px;
              text-align: left;
            }

            h3 {
              margin-right: 10px;
              display: inline;
            }
          }
        }
      }
    }

    &.phase-8 {

      .video-subtitle .content {
        @include breakpoint(medium down) {
          padding-bottom: 65px;
        }
        @include breakpoint(small down) {
          padding-bottom: 70px;
        }
      }

      .summit-online-footer {
        .bg-blue-alpha {
          .content {
            padding-top: 105px;
            padding-bottom: 105px;

            @include breakpoint(medium down) {
              padding-top: 80px;
              padding-bottom: 80px;
            }
          }
        }
      }
    }

    &.phase-9 {
      .video-subtitle .custom-grid {
        max-width: 480px;
      }

      .summit-online-footer {
        .bg-blue-alpha {
          .content {
            padding-top: 80px;
            padding-bottom: 80px;
          }
        }
      }
    }

  }

  .phase-16 {

    .home-modal-overlay {
      position: fixed;
      height: 100vh;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      z-index: 20;
      display: none;
    }

    .home-modal-blur {
      transition: 1s;
      &.active {
        filter: blur(5px);
      }
    }

    .mailinglist-signup {
      &.hidden {
        display: none;
      }

      p {
        font-size: 14px;

        &.small {
          font-size: 12px;
        }
      }
      h3 {
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .subtitle {
        margin-top: 1rem;
        margin-bottom: 0.2rem;
      }
    }
    .mailinglist-thank-you {
      padding-top: 50px;

      @include breakpoint(small down) {
        min-height: 445px;
      }

      h1 {
        font-size: 45px;
        padding-bottom: 20px;

        @include breakpoint(small down) {
          font-size: 32px;
        }
      }

      p {
        font-size: 18px;

        @include breakpoint(small down) {
          font-size: 16px;
        }
      }

      &.hidden {
        display: none;
      }
    }

    .signup-modal {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      z-index: 20;
      display: none;

      @include breakpoint(1148px down) {
        top: 55px;
      }

      .content {
        background: #0F0505;
        background-image: url(/assets/img/homepage/phases/modal-background-p16.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        padding: 40px;
        padding-top: 50px;

        @include breakpoint(medium down) {
          /* height: 440px; */
        }

        @include breakpoint(small down) {
          /* height: 560px; */
          padding: 60px 30px;
          background-image: url(/assets/img/homepage/phases/suas_qa_mobile_confirmation.png);
          background-position: bottom right;
          background-size: cover;
          background-color: #0378B8;
        }

        .modal-content {
          color: #fff;
          max-width: 500px;
          margin-left: 137px;

          @include breakpoint(small down) {
            max-width: none;
            margin-left: 0;
          }

          h3 {
            @include breakpoint(small down) {
              font-size: 30px;
            }
            font-weight: 600;
          }

          p {
            font-size: 16px;
            line-height: 1.25;
            @include breakpoint(small down) {
              font-size: 14px;
            }

            &.title {
              @include breakpoint(small down) {
                font-size: 14px;
              }
            }

            .large {
              font-size: 18px;
            }

            &.small {
              font-size: 12px;
              max-width: 395px;

              @include breakpoint(small down) {
                max-width: 315px;
              }
            }

            &.subtitle-ty {
              margin-bottom: 30px;
              font-size: 18px;
            }
          }

          .mailinglist {
            padding: 5px 0 20px 0;

            .is-invalid-input:not(:focus) {
              background-color: rgba(236, 88, 64, 0.5);
            }

            #email {
              font-size: 17px;
              font-weight: 400;
              height: 40px;
              width: 300px;
              margin-right: 30px;
              float: left;

              &.is-invalid-input::placeholder {
                color: #fff;
              }

              @include breakpoint(small down) {
                width: 100%;
                margin-bottom: 21px;
              }
            }

            .cta-button {
              font-size: 15px;
              font-weight: 400;
              padding-left: 25px;
              padding-right: 25px;
              margin-top: 4px;
            }
          }
        }

        .mobile-plus-icon {
          cursor: pointer;
          position: absolute;
          top: 20px;
          right: 20px;
          font-weight: 400;
          font-size: 20px;
          transform: rotate(45deg);
          display: inline-block;
          color: #fff;
          font-size: 32px;

          @include breakpoint(small down) {
            font-size: 36px;
          }
        }
      }
    }

    .marquee.homepage.show-for-medium {
      background-image: url(/assets/img/homepage/marquee-p16.png);

      .event-name {
        color: #fff;
      }
    }

    .home-marquee-box.show-for-medium {
      margin-top: -206px;

      .content {
        color: #fff;

        h2 {
          font-family: 'adobe-clean', sans-serif;
          font-size: 38px;
          font-weight: 400;
        }
        p {
          font-family: 'adobe-clean', sans-serif;
          font-size: 18px;
          font-weight: 200;
        }
      }
    }

    .home-marquee-mobile {
      height: 689px;

      .marquee-content {
        color: #fff;
        bottom: 140px;

        .event-name {
          line-height: 1.2em;
        }
        .title {
          font-family: 'adobe-clean', sans-serif;
          line-height: 1.1em;
          font-size: 36px;
          margin-bottom: 20px;
        }
      }
    }
    .home-marquee-box.hide-for-medium {
      margin-top: -150px;

      .content {
        color: #fff;
        padding-top: 5px;
      }
      p {
        font-size: 18px;
      }
      .cta-button {
        margin-top: 25px;
      }
    }

    .speaker-content {
      padding-top: 90px;
    }
  }

  .diamond-sponsors {
    .content {
      @include breakpoint(small down) {
        padding-bottom: 52px;
      }
    }
  }

  .phase-15-btn {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
  }
}