{{> header}}
<body class="page-contact">
    {{> nav support=true}}
    <div class="content-wrapper">
        <section class="flex-grid-layout">
            <!--wrapper-->
            <div class="contact-wrapper">
            <div class="row row-1">
              <div class="small-12 medium-6 flex-grid-module flex-image">
                <p class="page-eyebrow hide-for-medium">Get in touch</p>
                <h1 class="page-headline hide-for-medium">Connect with us about Summit and Magento Imagine.</h1>
                <div class="img-responsive anim-subtle-left">
                  <img src="/assets/img/contact-pod-1.jpg" alt="" class="">
                </div>
              </div>
              <div class="small-12 medium-6 flex-grid-module flex-content text-right-70">
                <div class="medium-width">  
                  <p class="page-eyebrow show-for-medium">Get in touch</p>
                  <h1 class="page-headline show-for-medium">Connect with us about Symposium.</h1>
                  <p>There are also extensive answers in the FAQs covering topics including registration, hotels & travel, session scheduling, attending sessions, and other conference questions. To update your own contact information or registration profile, log into the registration system.</p>
                  <h3 class="uppercase-title">Registration and Logistics</h3>
                  <p class="multi-line">Registration support</p>
                  <hr class="short pumpkin">
                </div>
              </div>
            </div>
            <div class="row row-2 row-alt">
              <div class="small-12 medium-6 flex-grid-module flex-image show-for-medium">
                <div class="img-responsive anim-subtle-left">
                  <img src="/assets/img/contact-pod-2.jpg" alt="" class="">
                </div>
              </div>
              <div class="small-12 medium-6 flex-grid-module flex-content text-left-70">
                <h3 class="uppercase-title">Symposium Sponsorship</h3>
                <ul>
                  <li>For information about becoming a <a href="#" class="inline"><span>Symposium sponsor</span></a></li>
                  <li>For questions regarding <a href="#" class="inline"><span>Symposium sponsor</span></a> deliverables, deadlines, event rules and regulations, or logistics</li>
                </ul>
                <hr class="short pumpkin">
                <h3 class="uppercase-title">Speaker Support</h3>
                <ul class="last">
                  <li><a href="#" class="inline"><span>Symposium speakers</span></a></li>
                </ul>
              </div>
            </div>
            </div>
            <!--end wrapper-->
        </section>
        <section id="quote-com">
            <div class="entry">
                <div class="quote-module orange">
                    <div class="row">
                    <div class="medium-12">
                        <img src="/assets/img/global/quote-icon.svg" class="quote-icon img-responsive" alt="">
                        The organization and customer service<br class="show-for-medium">were out of this world. Blown away!
                        <p class="quote-author">
                            2019 Attendee
                        </p>
                    </div>
                    </div>
                </div>    
            </div>  
        </section>  
{{> footer-new}}