{{> header}}
<body class="page-faq">
    {{> nav}}
    <div class="content-wrapper">
    <!--section start-->
    <section class="faq-wrapper">
        <div class="entry">
          <div class="row align-center">
            <div class="column medium-6 small-12 add-padding-right">
              <div class="hide-for-medium mobile-header-content">
                <h5>Have a Symposium question?</h5>
                <h2>Find answers to what you want to know about the conference.</h2>
              </div>
              <div id="faq-img">
                <div class="anim-subtle-left img-responsive">
                  <img src="/assets/img/faq2.jpg" class="">
                </div>
              </div>
            </div>
            <div class="column medium-6 small-12 add-padding-left">
              <div class="show-for-medium">
                <h5>Have a Symposium question?</h5>
                <h2>Find answers to what you want to know about the conference.</h2>
              </div>
              <div class="faq-entries">                
                <ul class="accordion dual-accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <!--main list 1-->
                    <li class="accordion-item" data-accordion-item="">
                        <a class="accordion-title">Pricing Information</a>
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true">
                        <ul class="accordion sub-accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                        <!--sub list 1-->
                        <li class="accordion-item" data-accordion-item="">
                        <a class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false">
                        <span class="fix-left">•</span>
                        <div class="add-padding-left-15">Lorem Ipsum dolor</div>
                        </a>
                        <!--sub list content-->
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="accordion-1">
                        <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        </div>
                        <!--end sub list content-->
                        </li>
                        <!--end sub list 1-->
                    </ul>
                    </div>
                </li>
                 <!--main-list-->
                  <!--main list 2-->
                  <li class="accordion-item" data-accordion-item="">
                    <a class="accordion-title">Registration Infonrmation</a>
                    <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="" style="display: none;">
                    <ul class="accordion sub-accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                    <!--sub list 2-->
                    <li class="accordion-item" data-accordion-item="">
                    <a class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false">
                    <span class="fix-left">•</span>
                    <div class="add-padding-left-15">Lorem Ipsum Dolor</div>
                    </a>
                    <!--sub list content-->
                    <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="accordion-2">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                    </p>
                    </div>
                    <!--end sub list content-->
                    </li>
                    <!--end sub list 2-->
                    <!--sub list 2-->
                    <li class="accordion-item" data-accordion-item="">
                        <a class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false">
                        <span class="fix-left">•</span>
                        <div class="add-padding-left-15">Lorem Ipsum dolor 2</div>
                        </a>
                        <!--sub list content-->
                        <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="accordion-2">
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ariba!"
                        </p>
                        </div>
                        <!--end sub list content-->
                        </li>
                        <!--end sub list 2-->
                </ul>
                </div>
            </li>
             <!--main-list-2 end-->
            </ul>
            <p class="w300">For Imagine information and questions, visit <a href="#" class="inline">Imagine FAQ</a> page.</p>
            </div>
        </div>
        </div>
    </div>
  </section>
{{> footer-new}}