{{> header}}
<body class="page-error">
    {{> nav}}
    <div class="content-wrapper">
    <section id="error-layout">
      <div id="error-content">
       <h1>Umm...</h1>
       <p>The page you are looking for could not be found. Please select another page from the top navigation.</p>
      </div>
  </section>
  {{> footer-new}}