{{> header}}
<body class="page-certification">
        {{> nav support=true}}
    <div class="content-wrapper">
    <!--section start-->
    <section class="two-column-centered-layout" id="cert-head">
        <div class="page-header">
            <p class="page-eyebrow">Set yourself apart from the competition</p>
            <h1 class="page-headline subpages">Advance your career opportunities with these certifications.</h1>
            <p class="page-introduction">Experienced <a href="#" class="yellow">Marketo and Magento</a> professionals can validate their real-world skills by earning a <a href="#" class="yellow">Marketo or Magento Certification</a>. Certification exams are geared toward professionals who want to differentiate themselves from the competition with the ultimate credentials.</p>
        </div>
        <div class="wrapper">
            <div class="two-column-content">
                <div class="row">
                   <div class="small-12 medium-6 two-column-module first">
                       <div class="two-column-module-inner">
                       <img src="/assets/img/marketo-certification.png" class="img-responsive" alt="">
                       <div class="two-column-text">
                       <h3>Marketo</h3>
                       <ul class="accordion marketo-accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                           <li class="accordion-item" data-accordion-item="" role="presentation">
                           <a class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false">
                           <h4 class="certification-name">Marketo Certified Associate</h4>
                           <p class="certification-level">Lorem Ipsum</p>
                           </a>
                           <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                           <p class="certification-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           </div>
                           </li>
                           <li class="accordion-item" data-accordion-item="" role="presentation">
                           <a class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false">
                           <h4 class="certification-name">Marketo Certified Associate</h4>
                           <p class="certification-level">Lorem Ipsum</p>
                           </a>
                           <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                           <p class="certification-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           </div>
                           </li>
                       </ul>
                       </div>
                       </div>
                   </div>
                   <div class="small-12 medium-6 two-column-module first">
                       <div class="two-column-module-inner">
                       <img src="/assets/img/magento-certification.png" class="img-responsive" alt="">
                       <div class="two-column-text">
                       <h3>Magento</h3>
                       <ul class="accordion marketo-accordion" data-accordion="" data-allow-all-closed="true" role="tablist">
                           <li class="accordion-item" data-accordion-item="" role="presentation">
                           <a class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false">
                           <h4 class="certification-name">Magento Certified Associate</h4>
                           <p class="certification-level">Lorem Ipsum</p>
                           </a>
                           <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                           <p class="certification-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           </div>
                           </li>
                           <li class="accordion-item" data-accordion-item="" role="presentation">
                           <a class="accordion-title" aria-controls="" role="tab" id="" aria-expanded="false" aria-selected="false">
                           <h4 class="certification-name">Magento Certified Associate</h4>
                           <p class="certification-level">Lorem Ipsum</p>
                           </a>
                           <div class="accordion-content" data-tab-content="" role="tabpanel" aria-labelledby="" aria-hidden="true" id="">
                           <p class="certification-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                           </p>
                           </div>
                           </li>
                       </ul>
                       </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </section>
    <!--end section-->
{{> footer-blue}}