.anim-subtle-left {
	overflow: hidden;

	img {
		width: 110%;
    max-width: none;
    transition: all 10s linear;
		transform: translate3d(0, 0, 0);

		&.animate {
			transform: translate3d(-50px, 0, 0);
		}
	}
}

.anim-subtle-left-mobile {
	overflow: hidden;

	img {
		width: 120% !important;
    max-width: none;
    transition: all 10s linear;
		transform: translate3d(0, 0, 0);

		&.animate {
			transform: translate3d(-50px, 0, 0);
		}
	}
}

.anim-subtle-left-marquee {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-width: 110%;
	height: 480px;
	transform: translate3d(0, 0, 0);
	transition: all 10s linear;

	&.animate {
		transform: translate3d(-50px, 0, 0);
	}

	&.agenda-partner-experience {
		background-image: url(/assets/img/agenda/marquee-partner-experience.jpg);
	}

	&.agenda-sessions {
		background-image: url(/assets/img/agenda/marquee-sessions-and-labs-new.png);
	}

	&.agenda-industry-sessions {
		background-image: url(/assets/img/agenda/industrysession_marquee_large.jpg);
	}

	&.magento-imagine-agenda {
		background-image: url(/assets/img/magento-imagine/marquee-imagine-agenda.jpg);
	}

	&.pricing {
		background-image: url(/assets/img/attend/marquee-pricing.jpg);
	}
}

.anim-subtle-left-marquee-mobile {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-width: 125%;
	height: 560px;
	transform: translate3d(0, 0, 0);
	transition: all 10s linear;

	&.animate {
		transform: translate3d(-50px, 0, 0);
	}

	&.agenda-partner-experience {
		background-image: url(/assets/img/agenda/marquee-partner-experience-mobile.jpg);
		@media (min-width: 376px) and (max-width: 767px) {
			background-position-y: 15%;
			opacity: 0.7;
		}
	}

	&.agenda-sessions {
		background-image: url(/assets/img/agenda/marquee-sessions-and-labs-mobile.jpg);
		@media (min-width: 376px) and (max-width: 767px) {
			background-position-y: 15%;
			opacity: 0.7;
		}
	}

	&.agenda-industry-sessions {
		background-image: url(/assets/img/agenda/marquee-industry-sessions-mobile.jpg);
		@media (min-width: 376px) and (max-width: 767px) {
			background-position-y: 40%;
		}
	}

	&.attend {
		background-image: url(/assets/img/attend/attend-hero-mobile.jpg);
		@media (min-width: 376px) and (max-width: 767px) {
			background-position: center 30%;
		}
	}

	&.become-a-sponsor {
		background-image: url(/assets/img/sponsors/marquee-thank-you.jpg);
	}

	&.hotels {
		background-image: url(/assets/img/attend/hotels-hero-mobile.jpg);
		@media (min-width: 376px) and (max-width: 767px) {
			background-position-y: 35%;
		}
	}

	&.magento-imagine-agenda {
		background-image: url(/assets/img/magento-imagine/magento-imagine-agenda-banner-mobile.jpg);
	}

	&.pricing {
		background-image: url(/assets/img/attend/pricing-banner-mobile.jpg);
		background-position-y: 20%;
	}
}

.animator {
	transition: all 1.2s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1),cubic-bezier(0.25, 0.46, 0.45, 0.94);

	&.headline-transform {
		transform: translateY(-15px);
		opacity: 0;
	}

	&.anim-swipe {
		position: relative;

		&:after {
			content: "";
			height: 100%;
			width: 100%;
			background: white;
			position: absolute;
			bottom: 0;
			transition: height 0.8s;
			transition-timing-function: ease-in-out;
		}

		&.up:after {
			top: auto;
			bottom: 0;
		}

		&.dark:after {
			background-color: $black;
		}
	}

	&.swipeclear:after {
		height: 0;
	}

	&.slidein {
		transform: translateX(50px);
		opacity: 0;
	}

	&.slideinright {
		transform: translateX(-50px);
		opacity: 0;
	}

	&.slidedown {
		transform: translateY(-50px);
		opacity: 0;
	}

	&.anim-clear {
		transform: none;
		opacity: 1;
	}

	&.d1 { transition-delay: 0.15s; &:after { transition-delay: 0.15s; } }
	&.d2 { transition-delay: 0.25s; &:after { transition-delay: 0.25s; } }
	&.d3 { transition-delay: 0.35s; &:after { transition-delay: 0.35s; } }
	&.d4 { transition-delay: 0.45s; &:after { transition-delay: 0.45s; } }

	&.d8 { transition-delay: 0.85s; &:after { transition-delay: 0.85s; } }
	&.d16 { transition-delay: 1.6s; &:after { transition-delay: 1.6s; } }
}