// --------------------------------------------------
// IE Helper Classes
// --------------------------------------------------

// IE10 + IE11 Grid classes

.row-1 {-ms-grid-row: 1;}
.row-2 {-ms-grid-row: 2;}
.row-3 {-ms-grid-row: 3;}
.row-4 {-ms-grid-row: 4;}
.row-5 {-ms-grid-row: 5;}
.row-6 {-ms-grid-row: 6;}
.row-7 {-ms-grid-row: 7;}
.row-8 {-ms-grid-row: 8;}
.row-9 {-ms-grid-row: 9;}
.row-10 {-ms-grid-row: 10;}
.row-11 {-ms-grid-row: 11;}
.row-12 {-ms-grid-row: 12;}
.row-13 {-ms-grid-row: 13;}
.row-14 {-ms-grid-row: 14;}
.row-15 {-ms-grid-row: 15;}
.row-16 {-ms-grid-row: 16;}
.row-17 {-ms-grid-row: 17;}
.row-18 {-ms-grid-row: 18;}
.row-19 {-ms-grid-row: 19;}
.row-20 {-ms-grid-row: 20;}
.row-21 {-ms-grid-row: 21;}
.row-22 {-ms-grid-row: 22;}
.row-23 {-ms-grid-row: 23;}
.row-24 {-ms-grid-row: 24;}
.row-25 {-ms-grid-row: 25;}
.row-26 {-ms-grid-row: 26;}
.row-27 {-ms-grid-row: 27;}
.row-28 {-ms-grid-row: 28;}
.row-29 {-ms-grid-row: 29;}

.col-1 {-ms-grid-column: 1;}
.col-2 {-ms-grid-column: 2;}
.col-3 {-ms-grid-column: 3;}
.col-4 {-ms-grid-column: 4;}
.col-5 {-ms-grid-column: 5;}
.col-6 {-ms-grid-column: 6;}
.col-7 {-ms-grid-column: 7;}
.col-8 {-ms-grid-column: 8;}
.col-9 {-ms-grid-column: 9;}
.col-10 {-ms-grid-column: 10;}
.col-11 {-ms-grid-column: 11;}
.col-12 {-ms-grid-column: 12;}
.col-13 {-ms-grid-column: 13;}
.col-14 {-ms-grid-column: 14;}
.col-15 {-ms-grid-column: 15;}
.col-16 {-ms-grid-column: 16;}
.col-17 {-ms-grid-column: 17;}
.col-18 {-ms-grid-column: 18;}
.col-19 {-ms-grid-column: 19;}
.col-20 {-ms-grid-column: 20;}
.col-21 {-ms-grid-column: 21;}
.col-22 {-ms-grid-column: 22;}
.col-23 {-ms-grid-column: 23;}
.col-24 {-ms-grid-column: 24;}
.col-25 {-ms-grid-column: 25;}
.col-26 {-ms-grid-column: 26;}
.col-27 {-ms-grid-column: 27;}
.col-28 {-ms-grid-column: 28;}
.col-29 {-ms-grid-column: 29;}