// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Responsive Images
.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@mixin zoom-animation( $boxWidth, $boxHeight, $boxShrinkX, $boxShrinkY, $imgGrowX, $imgGrowY, $animSpeed )
{
  transition: all $animSpeed ease;
  margin-left: auto;
  margin-right: auto;
  width:  $boxWidth;
  height: $boxHeight;
  padding: 0;
  overflow: hidden;

  img
  {
    transition: all $animSpeed ease;
    object-fit: cover;
    object-position: center center;
    height: $boxHeight;
  }

  &:hover
  {
    transition: all $animSpeed ease;
//    width:          $boxWidth - ( $boxShrinkX / 2 );
//    height:         $boxHeight - ( $boxShrinkY / 2 );
//    padding:        ($boxShrinkY / 2) ( $boxShrinkX / 2 );
//    margin-bottom:  $boxShrinkY / 2;

    img
    {
      //padding-top: $imgGrowY/2;
      height: $boxHeight + $imgGrowY * 2;
//      width: $boxWidth + $imgGrowX * 2;
      transition: all $animSpeed ease;
      object-position: 50% (-1 * $imgGrowY);
    }
  }
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@each $color, $colorVal in $colors {
  .bg-#{$color}{
    background-color: $colorVal;
    &:before { background-color: $colorVal; }
  }
}

@mixin bg-stretch-left {
  position: relative;
  z-index: 1;

  &:before {
    height: 100%;
    position: absolute;
    width: 100vw;
    content: " ";
    z-index: -1;
    top: 0;
    right: 0;
		background-color: inherit;
  }
}

@mixin bg-stretch-right {
  position: relative;
  z-index: 1;

  &:before {
    height: 100%;
    position: absolute;
    width: 100vw;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0
  }
}

@mixin bg-overflow-top {
  &:before {
    bottom: 0;
    top: auto;
    height: calc(100% + 40px);
  }
}

@mixin bg-overflow-bottom {
  &:before {
    top: 0;
    bottom: auto;
    height: calc(100% + 40px);
  }
}
